<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Palette</title>

    <style th:inline="text">


        .content-image-header {
            background: url([[@{img/become-member/become_member_header_bg.png}]]) center;
            background-size: cover;
            min-height: 665px;
        }

        .page-header {
            margin-top: 16px;
        }


    </style>
</head>
<body>

<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">


    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">

            <!-- New experimental logo -->
            <a href="/" class="no-ajax">
                <img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/>
            </a>

        </div>
        <div class="col s6 m10 l10 right-align">
            <a href="/" id="back-to-login-button" class="no-ajax waves-effect waves-light btn btn-in-row" th:utext="#{common.back-to-login}">Back</a>
            <a href="/login" class="no-ajax waves-effect btn secondary" th:text="#{common.sign-in}">Sign
                in</a>
        </div>
    </div>


    <div class="hide-on-med-and-up center-align page-header">
        <div class="row">
            <div class="col s12">
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                                 style="vertical-align:middle"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/" id="back-to-login-button" class="no-ajax waves-effect waves-light btn btn-in-row" th:utext="#{common.back-to-login}">Back</a>
                <a href="/login" class="no-ajax waves-effect btn secondary" th:text="#{common.sign-in}">Sign
                    in</a>
            </div>
        </div>
    </div>


    <!--  Content header -->

    <div class="content-header center-align">


        <div class="content-image-header">
            <div class="row">
                <div class="col s12">
                    <h1 th:text="#{become-member.become-member-of-palette}">Become member of Palette!</h1>

                </div>
            </div>

            <div class="row">
                <div class="col l6 m8 s12 offset-m2 offset-l3">
                    <p><a href="/create-profile" class="btn-large btn-block waves-effect no-ajax"
                          th:text="#{become-member.create-profile}">Create profile</a></p>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col s12">-->
                    <!--<h5 th:text="#{or}">OR</h5>-->
                    <!--<p th:text="#{become-member.sign-in-with}">Sign in with:</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col s12 hide-on-small-only">-->
                    <!--<p>-->
                        <!--<a href="#" class="btn-large light-blue darken-4 waves-effect waves-light btn-in-row no-ajax">-->
                            <!--<i class="fa fa-facebook left" aria-hidden="true"></i>-->
                            <!--<span>Facebook</span>-->
                        <!--</a>-->

                        <!--<a href="#" class="btn-large light-blue accent-2 waves-effect waves-light no-ajax">-->
                            <!--<i class="fa fa-twitter left" aria-hidden="true"></i>-->
                            <!--<span>Twitter</span>-->
                        <!--</a>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="col s12 hide-on-med-and-up">-->
                    <!--<p>-->
                        <!--<a href="#" class="btn-large light-blue darken-4 waves-effect waves-light no-ajax">-->
                            <!--<i class="fa fa-facebook left" aria-hidden="true"></i>-->
                            <!--<span>Facebook</span>-->
                        <!--</a>-->
                    <!--</p>-->

                    <!--<p>-->
                        <!--<a href="#" class="btn-large light-blue accent-2 waves-effect waves-light no-ajax">-->
                            <!--<i class="fa fa-twitter left" aria-hidden="true"></i>-->
                            <!--<span>Twitter</span>-->
                        <!--</a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="row center-align white-text tag-line">
            <h4><em th:text="#{index.palette-tag-line}">Palette is about matching people, activities and
                information</em></h4>
        </div>
    </div>
</section>


</body>
</html>
