<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.springframework.org/tags/form"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Create profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-profile.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/controls/toggle-switch.css}"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script th:src="@{/js/app/create-profile.js}"/>

    <style th:inline="text">
        form{
            background-color: #ffffff;
            border-radius: 20px;
        }
        #overlay-box {
            display:none;
            background-color: #f9f8cc;
            border: 2px solid #000;
            width: 550px;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
            padding:20px;
            z-index:9999;
            font-size:24px;
            border-radius:20px 20px;
        }
        #overlay-box-text {
            height:90%;
            text-align:left;
        }
        .lnkContextualHelp {
            float:right;
            padding-right:20px;
            padding-top:5px;
        }
        .lnkContextualHelp img {
            width:34px;
            height:34px;
            vertical-align:middle;
        }
        .clear {
            clear:both;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</head>
<body>


<header layout:fragment="pageHeader" style="display:none;">

</header>

<section layout:fragment="pageContent" class="container">

    <div class="modal" id="overlay-box">
        <div class="modal-content">
            <p id="overlay-box-text"></p>
        </div>
        <div class="modal-footer center-align">
            <button id="overlay-box-close" class="no-preloader no-ajax waves-effect btn secondary left" th:inline="text" th:utext="#{user.profile.close}">Close</button>
        </div>
    </div>


    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">

            <!-- New experimental logo -->
            <div>
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/></a>
                <div style="text-align:right">
                    <a href="/" class="no-ajax"><span class="no-ajax waves-effect btn secondary" th:text="#{common.go-to-homepage}">Invalid</span></a>
                </div>
            </div>

        </div>
        <div class="col s6 m10 l10 right-align">
        </div>
    </div>

    <div class="containerTabs">
        <div class="row tabs-row">
            <div class="col s4">
                <button id="tabButton1" class="tabButton" th:utext="#{become-member.create-profile}" disabled="disabled"/>
            </div>
            <!--
            <div class="col s3">
                <button id="tabButton2" class="tabButton" th:utext="#{create.profile.complete-profile}" disabled="disabled"/>
            </div>
            -->
            <div class="col s4">
                <button id="tabButton3" class="tabButton" th:utext="#{create.profile.interests}" disabled="disabled"/>
            </div>
            <div class="col s4">
                <button id="tabButton4" class="tabButton" th:utext="#{create.profile.summary}" disabled="disabled"/>
            </div>
        </div>

        <div id="createProfileDiv" class="createProfileContainer">
            <div class="createProfileFormContainer">
                <table class="userFormClass">
                    <tr>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <input name="first_name" id="first_name" th:placeholder="#{create.profile.first-name}" type="text" required="required"/>
                                    <input id="ch_firstname" type="hidden" th:value="#{contextualhelp.createprofile.firstname}"/>
                                </div>
                                <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.firstname')">
                                    <img src="/img/help.png" border="0" />
                                </a>
                                <div class="clear"></div>
                                <div id="first_name_validation_err_span" class="validationResultRow">
                                    <div class="warning" th:text="#{error.userDetails.firstName.null}">Invalid</div>
                                </div>
                            </div>
                        </td>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <input name="last_name" id="last_name" th:placeholder="#{create.profile.last-name}" type="text"/>
                                    <input id="ch_lastname" type="hidden" th:value="#{contextualhelp.createprofile.lastname}"/>
                                </div>
                                <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.lastname')">
                                    <img src="/img/help.png" border="0" />
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <input id="mail" name="mail" th:placeholder="#{create.profile.email}" type="email" required="required"/>
                                    <input id="ch_email" type="hidden" th:value="#{contextualhelp.createprofile.email}"/>
                                </div>
                                <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.email')">
                                    <img src="/img/help.png" border="0" width="40" style="vertical-align:middle" />
                                </a>
                                <div class="clear"></div>
                                <div id="email_validation_err_span" class="validationResultRow">
                                    <div class="warning" th:text="#{create.profile.invalidMail}">Invalid</div>
                                </div>
                                <div id="email_unique_validation_err_span" class="validationResultRow">
                                    <div class="warning" th:text="#{registration.failed.email}">Email exists</div>
                                </div>
                                <div id="email_empty_validation_err_span" class="validationResultRow">
                                    <div class="warning" th:text="#{property.email.validation.failed}">Email empty</div>
                                </div>
                            </div>
                        </td>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <input id="confirmMail" name="mail" th:placeholder="#{create.profile.confirmEmail}" type="email" required="required"/>
                                    <div id="confirmEmail_validation_err_span" class="validationResultRow">
                                        <div class="warning" th:text="#{create.profile.invalidConfirmMail}">Invalid</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <input id="password" name="password" th:placeholder="#{create.profile.password}" type="password"/>
                                    <input id="ch_password" type="hidden" th:value="#{contextualhelp.createprofile.password}"/>
                                </div>
                                <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.password')">
                                    <img src="/img/help.png" border="0" />
                                </a>
                                <div class="clear"></div>
                                <div id="password_validation_err_span" class="validationResultRow">
                                    <div class="warning" th:text="#{create.profile.invalidPassword}">Invalid</div>
                                </div>
                            </div>
                        </td>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <input id="confirmPassword" name="confirmPassword" th:placeholder="#{model.userDetails.property.confirmPassword.label}" type="password"/>
                                </div>
                                <a href="#" class="eye no-preloader" onclick="handleVisibilityPassword()">
                                    <img src="/img/eye.png" border="0" />
                                </a>
                                <div class="clear"></div>
                                <div id="confirmPassword_validation_err_span" class="validationResultRow">
                                    <div class="warning" th:text="#{reset-password.failed.passwords}">Invalid</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <input id="phone" name="phone" th:placeholder="#{create.profile.phone-number}" type="text"/>
                                    <input id="ch_phone" type="hidden" th:value="#{contextualhelp.createprofile.phone}"/>
                                </div>
                                <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.phone')">
                                    <img src="/img/help.png" border="0" />
                                </a>
                                <div class="clear"></div>
                                <div id="phone_number_validation_err_span" class="validationResultRow">
                                    <div class="warning" th:text="#{create.profile.invalidPhoneNumber}">Invalid</div>
                                </div>
                            </div>
                        </td>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <div class="input-field" style="margin:0px !important">
                                        <div style="margin-left: 10%;">
                                            <select id="gender" name="gender">
                                                <option value="-1" th:text="#{property.gender.label}"></option>
                                                <option value="1" th:text="#{property.gender.enum.MALE}"></option>
                                                <option value="2" th:text="#{property.gender.enum.FEMALE}"></option>
                                                <option value="3" th:text="#{property.gender.enum.UNDEFINED}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <div class="input-field" style="margin:0px !important">
                                        <form id="createProfileCountriesForm">
                                            <select id="countries" name="country" onchange="reinitializeAutocomplete()">
                                                <option value="" th:text="#{index.select-country}">Select Country</option>
                                                <th:block th:each="itemElement : ${allCountries}">
                                                    <option th:utext="${itemElement.getDisplayName()}" th:value="${itemElement.getCountryName()}">
                                                    </option>
                                                </th:block>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <input id="ch_country" type="hidden" th:value="#{contextualhelp.createprofile.country}"/>
                                <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.country')">
                                    <img src="/img/help.png" border="0" />
                                </a>
                                <div class="clear"></div>
                                <div id="country_validation_err_span" class="validationResultRow" style="display:none;padding-top:20px">
                                    <div class="warning" th:text="#{error.tryPalette.location.country.empty}">Invalid</div>
                                </div>
                            </div>
                        </td>
                        <td class="top">
                            <div class="row">
                                <div class="col s10 black-text">
                                    <input id="cities" th:placeholder="#{index.enter.your.city}" onfocus="this.value=''" type="text" />
                                    <input id="ch_city" type="hidden" th:value="#{contextualhelp.createprofile.city}"/>
                                </div>
                                <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.city')">
                                    <img src="/img/help.png" border="0" />
                                </a>
                                <div class="clear"></div>
                                <div id="city_validation_err_span" class="validationResultRow" style="display:none">
                                    <div class="warning" th:text="#{error.tryPalette.location.city.empty}">Invalid</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div style="text-align:center;padding:5px">
                    <div style="display: inline-block; text-align: left">
                        <div>
                            <input id="termsCheckbox" type="checkbox" name="acceptTerms" onclick="termsConditionsAndInformedConsentCheck()" />
                            <label for="termsCheckbox"><span class="termsLabel" th:utext="#{agree.to.terms}">I agree on the </span> <a class="termsLabel no-preloader" onclick="openTermsModal()" th:utext="#{privacy.policy.text}">terms and conditions</a></label>
                        </div>
                        <div>
                            <input id="informedConsentCheckbox" type="checkbox" name="acceptInformedConsent" onclick="termsConditionsAndInformedConsentCheck()" />
                            <label for="informedConsentCheckbox"><span class="termsLabel" th:utext="#{agree.to.terms}">I agree on the </span> <a class="termsLabel no-preloader" onclick="openInformedConsentModal()" th:utext="#{informed.consent.page.name}">informed consent</a></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submitDiv">
                <div class="input-field col s12">
                    <a href="/" id="btnCreateProfileBackFirstStep" class="no-ajax waves-effect btn secondary left" th:inline="text" th:utext="#{common.back}">BACK</a>
                    <button id="btnCreateProfileFirstStep" class="btn waves-effect waves-light right col s12"
                            onclick="completeUserFirstStep()" th:inline="text" disabled="disabled" th:utext="#{common.next}">NEXT
                    </button>
                </div>
            </div>
        </div>

        <!-- obsolete
        <div id="completeProfileDiv" class="completeProfileContainer">
            <div class="completeProfileFormContainer">
                <div>
                    <center><span class="white-text"><h5 th:text="#{create.profile.hello}">Hello, tell us a bit more about yourself</h5></span></center>
                </div>
                <div>
                    <table style="width:100%">
                    <tr>
                        <td style="width:30%">
                            <div class="addImageContainer">
                                <div class="col s6 m2 l2">
                                    <img id="profileImg" th:src="@{/img/create-profile/add_photo.png}" style="cursor:pointer" onclick="triggerFileUpload()"/>
                                    <input id="ch_picture" type="hidden" th:value="#{contextualhelp.createprofile.picture}"/>
                                    <a href="#" style="width:100px" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.picture')">
                                        <img src="/img/help.png" border="0" />
                                    </a>
                                    <div class="clear"></div>
                                </div>
                                <input id="profileImgInput" type="file" onchange="getFiles()" style="display:none;"/>
                                <div>
                                    <span class="white-text" style="cursor:pointer" onclick="triggerFileUpload()">
                                        <h5 style="padding-right:20px" th:text="#{property.avatarSrc.placeholder}">Select image</h5>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td style="width:70%">
                            <div class="profileDataContainer" style="padding-left:0px;">
                                <div>
                                    <div>
                                        <span class="white-text"><h5 th:text="#{model.userDetails.property.birthDate.label}">Date of birth</h5></span>
                                        <input id="ch_dateofbirth" type="hidden" th:value="#{contextualhelp.createprofile.dateofbirth}"/>
                                        <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.dateofbirth')">
                                            <img src="/img/help.png" border="0" />
                                        </a>
                                        <div class="clear"></div>
                                    </div>
                                    <form id="completeUser-form">
                                        <table class="userFormClass">
                                            <tr>
                                                <td style="padding-right:20px">
                                                    <div class="input-field">
                                                        <select id="day_of_birth" name="day_of_birth">
                                                            <option value="" th:text="#{create.profile.day}"></option>
                                                            <th:block th:each="itemElement : ${allDays}">
                                                                <option th:utext="${itemElement}" th:value="${itemElement}">
                                                                </option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td style="padding-right:20px">
                                                    <div class="input-field">
                                                        <select id="month_of_birth" name="month_of_birth">
                                                            <option value="" th:text="#{create.profile.month}"></option>
                                                            <th:block th:each="itemElement : ${allMonths}">
                                                                <option th:utext="${itemElement}" th:value="${itemElement}">
                                                                </option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-field">
                                                        <select id="year_of_birth" name="year_of_birth">
                                                            <option value="" th:text="#{create.profile.year}"></option>
                                                            <th:block th:each="itemElement : ${allYears}">
                                                                <option th:utext="${itemElement}" th:value="${itemElement}">
                                                                </option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                    <div style="padding-top:20px">
                                        <div id="birth_date_validation_err_span" class="validationResultRow" style="display:none">
                                            <span class="warning" th:text="#{create.profile.invalid-birth-date}">Invalid</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="submitDiv">
                <div class="input-field col s12">
                    <button id="btnCreateProfileBackSecondStep" class="no-ajax waves-effect btn secondary left" onclick="changeTab('1')"
                            th:inline="text" th:utext="#{common.back}">BACK</button>
                    <button id="btnCreateProfileSecondStep" class="btn waves-effect waves-light right col s12" onclick="completeUser()"
                            th:inline="text" th:utext="#{common.next}">NEXT
                    </button>
                </div>
            </div>
        </div>
        -->

        <div id="interestsDiv" class="interestsContainer ">
            <div class="interestsFormContainer">
                <div class="row center-align">
                    <div class="col s12">
                        <div style="padding-bottom:20px">
                            <span class="white-text" style="cursor:pointer" onclick="triggerFileUpload()"><h5 th:text="#{index.select-your-interests}">Select your interests</h5></span>
                            <input id="ch_interests" type="hidden" th:value="#{contextualhelp.createprofile.interests}"/>
                            <a href="#" class="lnkContextualHelp no-preloader" onclick="showContextualHelp('contextualhelp.createprofile.interests')">
                                <img src="/img/help.png" border="0" width="40" style="vertical-align:middle" />
                            </a>
                        </div>
                        <th:block th:each="itemElement : ${interests}">
                            <div class="row" id="interestsList">
                                <div class="interest z-depth-5" th:id="${itemElement.id}">
                                    <img class="img-default visible-image" th:attr="tagValue=${itemElement.getDisplayName()}"
                                         th:src="@{'/img/home/icons/' + ${itemElement.image}}" th:id="image"
                                         th:onclick="|createProfileChangeImage(this,${itemElement.id})|"/>
                                    <img class="img-selected hidden-image" th:attr="tagValue=${itemElement.getDisplayName()}"
                                         th:src="@{'/img/home/icons/' + ${itemElement.imageSelected}}" th:id="image"
                                         th:onclick="|createProfileChangeImage(this,${itemElement.id})|"/>
                                    <h6 style="word-break: break-all;" th:utext="${itemElement.getDisplayName()}"></h6>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="submitDiv">
                <div class="input-field col s12">
                    <button id="btnCreateProfileBackThirdStep" class="no-ajax waves-effect btn secondary left" onclick="changeTab('1')"
                            th:inline="text" th:utext="#{common.back}">BACK</button>
                    <button id="btnCreateProfileThirdStep" class="btn waves-effect waves-light right col s12" onclick="completeInterests()"
                            th:inline="text" th:utext="#{common.next}">NEXT
                    </button>
                </div>
            </div>
        </div>

        <div id="summaryDiv" class="summaryContainer">
            <div class="summaryFormContainer">
                <table class="userFormClass">
                    <tr>
                        <td style="text-align:right;width:30%">
                            <img id="profileImgSummary" th:src="@{/img/create-profile/add_photo2.png}" />
                        </td>
                        <td>
                            <span class="white-text left"><h5 th:text="#{create.profile.summary-of-your-profile}">This is a summary of your profile</h5></span>
                            <span class="white-text left"><h6  style="text-align:left;font-weight:bold;" th:text="#{create.profile.show-or-hide-informations}">You can show or hide selected information from other Palette users</h6></span>
                        </td>
                    </tr>
                </table>
                <table class="userFormClass">
                    <tr>
                        <td width="70px">
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input" checked="checked" id="displayUserCity"/>
                                <span class="switch-label" th:attr="data-on=#{create.profile.show},data-off=#{create.profile.hide}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                        <td>
                            <div class="col s10 black-text">
                                <input id="summaryCity" style="font-size:24px" th:placeholder="#{model.aelUser.property.city.label}" type="text" disabled="disabled" />
                            </div>
                        </td>
                        <td>
                            <div class="col s10 black-text">
                                <input id="summaryCountry" style="font-size:24px" th:placeholder="#{property.country.label}" type="text" disabled="disabled" />
                            </div>
                        </td>
                        <td  width="110px">
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input" checked="checked" id="displayUserCountry"/>
                                <span class="switch-label" th:attr="data-on=#{create.profile.show},data-off=#{create.profile.hide}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input" checked="checked" id="displayUserGender"/>
                                <span class="switch-label" th:attr="data-on=#{create.profile.show},data-off=#{create.profile.hide}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                        <td>
                            <div class="col s10 black-text">
                                <input id="summaryGender" style="font-size:24px" th:placeholder="#{property.gender.label}" type="text" disabled="disabled" />
                            </div>
                        </td>
                        <td>
                            <div class="col s10 black-text">
                                <input id="summaryMail" style="font-size:24px" th:placeholder="#{model.property.email.label}" type="text" disabled="disabled" />
                            </div>
                            <!--
                            <div class="col s10 black-text">
                                <input id="summaryBirthDate" style="font-size:24px" th:placeholder="#{user.profile.birthDate}" type="text" disabled="disabled" />
                            </div>
                            -->
                        </td>
                        <td>
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input" checked="checked" id="displayUserMail"/>
                                <span class="switch-label" th:attr="data-on=#{create.profile.show},data-off=#{create.profile.hide}"></span>
                                <span class="switch-handle"></span>
                            </label>
                            <!--
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input" checked="checked" id="displayUserBirthDate" />
                                <span class="switch-label" th:attr="data-on=#{create.profile.show},data-off=#{create.profile.hide}"></span>
                                <span class="switch-handle"></span>
                            </label>
                            -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input" checked="checked" id="displayUserPhone"/>
                                <span class="switch-label" th:attr="data-on=#{create.profile.show},data-off=#{create.profile.hide}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                        <td>
                            <div class="col s10 black-text">
                                <input id="summaryPhone" style="font-size:24px" th:placeholder="#{create.profile.phone-number}" type="text" disabled="disabled" />
                            </div>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
                <div class="summaryInterestsDiv">
                    <div class="selectedInterestsDiv" id="selectedInterestsDiv">
                    </div>
                    <div class="showHideInterestsDiv">
                        <td width="60px">
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input" checked="checked" id="displayUserInterests"/>
                                <span class="switch-label" th:attr="data-on=#{create.profile.show},data-off=#{create.profile.hide}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </div>
                </div>
            </div>
            <div class="submitDiv">
                <div class="input-field col s12">
                    <button id="btnCreateProfileBackFourthStep" class="no-ajax waves-effect btn secondary left" onclick="changeTab('3')"
                            th:inline="text" th:utext="#{common.back}">BACK</button>
                    <button id="btnCreateProfileNextFourthStep" class="btn waves-effect waves-light right col s12" onclick="saveProfile()"
                            th:inline="text" th:utext="#{common.next}">NEXT
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="terms-and-conditions-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <th:block th:include="@{'app/components/termsAndConditions/termsContent_' + ${sessionLanguage} }:: termsContent">
            </th:block>
        </div>
        <div class="modal-footer">
            <a onClick="closeTermsAndConditionsModalDecline();" class="no-preloader no-ajax waves-effect btn secondary" th:utext="#{modal.terms.decline}"></a>
            <a onClick="closeTermsAndConditionsModalAccept();" class="modal-action modal-close waves-effect waves-light btn green no-preloader" th:utext="#{modal.terms.accept}"></a>
        </div>
    </div>

    <div id="informed-consent-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <th:block th:include="@{'app/components/informedConsent/informedConsentContent_' + ${sessionLanguage} }:: informedConsentContent">
            </th:block>
        </div>
        <div class="modal-footer">
            <a onClick="closeInformedConsentModalDecline();" class="no-preloader no-ajax waves-effect btn secondary" th:utext="#{modal.terms.decline}"></a>
            <a onClick="closeInformedConsentModalAccept();" class="modal-action modal-close waves-effect waves-light btn green no-preloader" th:utext="#{modal.terms.accept}"></a>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhh4tRm7p8NUAdtD9JoLlhhD22Ub6XJ4k&amp;libraries=places&amp;callback=initAutocomplete"
            async="async" defer="defer"></script>
</section>

</body>
</html>