<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">

<!--Header and footer are taken from the layout.-->
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{deleteProfile.title}">Delete profile</title>
</head>

<body>

<section layout:fragment="pageContent" class="container">

    <!--Contents below header (when logged in) must have 70px (4.67rem) top margin.-->
    <div class="row below-logged-header">

        <!--Back button.-->
        <div class="row">
            <div class="col s12 m12 l12">
                <a th:with="userId=${#loggedUserOptional.get().getId()}"
                   th:href="@{${'/profile/edit/'+userId+'#summaryProfile'}}"
                   class="no-ajax waves-effect waves-light btn secondary back-button create-item"
                   th:utext="#{common.back}">Back</a>
            </div>
        </div>

        <div class="col s12 m12 l12 deleteProfileInfo">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title"><h4
                            th:utext="#{deleteProfile.informationHeader}">Delete My Profile</h4></span>

                    <p><span th:utext="#{deleteProfile.informationConsequences}">If for any reason you no longer want
                        to use Palette, you can permanently delete your profile. When you choose the option „Delete
                        Profile” below:</span>
                    <ul>
                        <li th:utext="#{deleteProfile.informationDataRemoval}"></li>
                        <li th:utext="#{deleteProfile.informationNotVisible}"></li>
                        <li th:utext="#{deleteProfile.informationNoLogin}"></li>
                    </ul>
                    </p>

                    <p><span th:utext="#{deleteProfile.informationHelp}">Remember, if you are having issues with
                        Palette, we might be able to help you before you decide to remove your profile for good.
                        You can always contact us: </span>

                        <!--For english language version there is no contact e-mail, an information redirecting to-->
                        <!--other language versios are displayed (hence no `mailto`).-->
                        <span th:if="__${#locale}__=='en'"
                              th:utext="#{deleteProfile.informationContact}"
                              class="no-ajax no-preloader">contact.email@somewhere.com</span>

                        <a th:unless="__${#locale}__=='en'"
                           th:href="'mailto:'+#{deleteProfile.informationContact}"
                           th:utext="#{deleteProfile.informationContact}"
                           class="no-ajax no-preloader">contact.email@somewhere.com</a>
                        <!--A full-stop here would be preceded by a space, due to browsers parsing empty lines from
                            one of the elements removed by the theamleaf as space.-->
                    </p>

                    <p><span th:utext="#{deleteProfile.informationAboutPrivacy}">For more information, please refer
                        to our</span>

                        <a th:href="@{/privacy-policy}" target="_blank"
                           th:utext="#{deleteProfile.informationPrivacy}"
                           class="no-ajax no-preloader">Privacy Policy</a>.
                        <!--A full-stop is required after "Privacy Policy" to finish the sentence.-->
                    </p>
                </div>

                <div class="card-action">
                    <!--Delete profile (remove account) button (stage 2/3, consequences view/template) -->
                    <div class="row center-align">
                        <a href="#confirm-delete-modal"
                           class="no-ajax waves-effect waves-light btn delete-profile-button modal-trigger no-preloader"
                           th:utext="#{deleteProfile.button}"
                           data-activates="confirm-delete-modal">
                            Delete profile</a>
                    </div>
                </div>

                <!-- Modal Structure -->
                <div id="confirm-delete-modal" class="modal">
                    <div class="modal-content">
                        <h4 th:utext="#{deleteProfile.confirmationTitle}">Delete confirmation</h4>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <p th:utext="#{deleteProfile.confirmationSure}">Are you really sure you would like to
                                    remove your profile?</p>

                                <p th:utext="#{deleteProfile.confirmationUndone}">This operation is permanent and
                                    cannot be undone.</p>
                            </div>
                        </div>

                        <form th:action="@{/user/deleteProfile}" name="passwordForm" class="no-ajax col s12 m12 l12"
                              method="post">

                            <div class="row">
                                <div class="col s12 m6 l6 offset-m3 offset-l3">
                                    <!--#TODO increase masked password font size.-->
                                    <p><span th:utext="#{deleteProfile.confirmationPassword}">Password required</span>
                                        <input type="password" name="password" oninput="checkForContent()" value=""/>
                                    </p>
                                </div>
                            </div>

                            <!--Styles of back/next button icon are very narrowly defined
                                (e.g., `a.no-ajax.waves-effect.waves-light.btn.back-button.create-item > i' or
                                `#profileActions > div.actions-wrapper.col.s12.m6.l6.left > button > i`). That's why
                                back (no), next (yes) styles were defined for #deleteProfileInfo separately.-->
                            <!--"No" sends to profile settings -> profile summary.-->
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <a th:with="userId=${#loggedUserOptional.get().getId()}"
                                       th:href="@{${'/profile/edit/'+userId+'#summaryProfile'}}"
                                       class="no-ajax waves-effect modal-close btn back-button secondary left"
                                       th:utext="#{deleteProfile.confirmationNo}">No</a>
                                    <!-- Delete profile (remove account) button (stage 3/3, in modal (pop-up)) -->
                                    <!-- Button is disabled until at least one character in password is typed -->
                                    <button type="submit" name="submit"
                                            class="waves-effect modal-close btn delete-profile-button next-button right"
                                            th:utext="#{deleteProfile.confirmationYes}" disabled="disabled">Yes, delete
                                        my
                                        profile
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Modal Structure -->

            </div>
        </div>
    </div>

</section>

<th:block layout:fragment="my-scripts">
    <script th:inline="javascript">
        $(document).ready(function() {
            if (typeof app !== 'undefined') {
                app.hideLoader();
            }
            addLoader();
        });

        function checkForContent() {
            //alert("The value of the input field was changed.");
            var x = document.forms["passwordForm"]["password"].value;
            // Password has to be equal or greater than the minimal password length possible.
            if (x.length >= 1) {
                document.forms["passwordForm"]["submit"].disabled = false;
            }else {
                document.forms["passwordForm"]["submit"].disabled = true;
            }
        }

        $(document).ready(function(){
            // Initialize modal for profile delete confirmation.
            $('.modal').modal();

            // For the following script inlinings: If the parameter is not specified, the value of the variable
            // is set to null.

            // If wrong password provided, reload page with modal opened and display toast with a message.
            var passwordCorrect = /*[[${passwordCorrect}]]*/;
            // If profile deletion was not successful due to internal app errors (database operations), reload the
            // page with appropriate message.
            var deleteSuccess = /*[[${deleteSuccess}]]*/;

            /*<![CDATA[*/
            if (passwordCorrect != null && passwordCorrect == false) {
                $('#confirm-delete-modal').modal('open');
                app.notify(MetaRenderer.i18nMessage("deleteProfile.passwordIncorrect"), 5000, "error-text text-accent-1 error");
            }

            if (deleteSuccess != null && deleteSuccess == false) {
                app.notify(MetaRenderer.i18nMessage("deleteProfile.failureInformation"), 10000, "error-text text-accent-1 error");
            }
            /*]]>*/
        });
    </script>
</th:block>

</body>
</html>
