<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <title th:text="#{page.forgot-password.title}"></title>
</head>
<body>
<section layout:fragment="pageContent" th:class="${'main-section view-section'}">
    <div class="row general-faq-view">
        <div class = "col s12"><a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/></a></div>
    </div>
    <div class="nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s4 z-depth-4 card-panel">
                    <form class="forgot-password-form no-ajax" id="forgot-password-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <a id="forgot-password-back" class="generic-action action-list btn meta-controller left back-action" href="/login" th:utext="#{forgot-password.back.to.login}">Back to login</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 center">
                                <h3 class="center login-text" th:utext="#{page.forgot-password.title}"></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="emailForgotPassword" name="email" type="email" class="validate" th:placeholder="#{forgot-password.email.label}"/>
                                <label for="emailForgotPassword" id="emailLabel" required="required"
                                       th:utext="#{forgot-password.email.label}" class="active">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4"></div>
                            <div class="input-field col s4 center">
                                <button id="forgot-password-reset" class="generic-action action-list btn back-action" type="submit"
                                        th:utext="#{action.forgot-password}">
                                </button>
                            </div>
                            <div class="col s4"></div>
                        </div>

                        <div id="modalResetPasswordSuccessful" class="modal" style="overflow: visible;">
                            <div class="modal-content">
						<span th:utext="#{forgot-password.submit.successful.message}">
							A reset password link has been sent by email.
						</span>
                            </div>
                            <div class="modal-footer">
                                <a onClick="closeModalResetPasswordSuccessful();" id="close-modal-reset-password" class="modal-action modal-close waves-effect waves-light btn" th:utext="#{registration.modal.close}">Close</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="my-scripts">
    <script type="text/javascript">
        /*<![CDATA[*/

        $(document).ready(function() {
            if (typeof app !== 'undefined') {
                app.hideLoader();
            }
            addLoader();
        });

        $('.navbar-fixed').hide();
        $('.palette-footer').hide();
        $('.modal').modal();

        $("#forgot-password-form").validate({
            rules: {
                email: {
                    required: true,
                    email:true
                }
            },
            messages: {
                email: {
                    required: MetaRenderer.i18nMessage('forgot-password.email.required'),
                    email: MetaRenderer.i18nMessage('forgot-password.email.required.valid')
                }
            },
            errorElement : 'div',
            errorClass: 'invalid red-text',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $("#forgot-password-form").on('submit', function(event){
            event.preventDefault();

            if ( $("#forgot-password-form").valid() ) {
                $.ajax({
                    type : 'POST',
                    url : "/forgotPassword",
                    data : $("#forgot-password-form #emailForgotPassword").val(),
                    cache : false,
                    processData : false,
                    contentType : "application/json",
                    success: function(data){
                        var returnedData = JSON.parse(data);
                        if( returnedData.success === "true") {
                            $('#modalResetPasswordSuccessful').modal().modal('open');
                        } else {
                            if( returnedData.msg === "email") {
                                var placement = $("#emailLabel").data('error');
                                var error = $('<div id="email-error" class="invalid red-text" th:utext="#{forgot-password.failed.email}">Email not found</div>');

                                if (placement) {
                                    $(placement).append(error)
                                } else {
                                    error.insertAfter($("#emailLabel"));
                                }

                                $('#emailForgotPassword').removeClass("valid");
                                $("#emailForgotPassword").addClass("invalid red-text");
                            }
                        }
                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(MetaRenderer.i18nMessage('forgot-password.submit.error'));
                    }
                });
            }
        });


        function closeModalResetPasswordSuccessful() {
            $('#modalResetPasswordSuccessful').modal('close');
            hideLoader();
        }

        /*]]>*/
    </script>
</th:block>
</body>
</html>
