<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Palette</title>

    <style th:inline="text">

        
        .how-palette-works-content {
            border-radius: 8px;
            padding: 16px;
            background-image: url([[@{img/home/how_palette_works.png}]]);
            min-height: 600px;
        }

        .content-header-bg {
            background-image: url([[@{img/home/header_bg_image.jpg}]]);
            background-size: cover;
            background-position: center;
            min-height: 514px;
            overflow: hidden;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        section.showcase {
            margin-top: 32px;
        }

    </style>
</head>
<body>

<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">


    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">

            <!-- New experimental logo -->
            <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/></a>


        </div>
        <div class="col s6 m10 l10 right-align">
            <a href="/create-profile" class="no-ajax waves-effect waves-light btn btn-in-row" th:text="#{common.become-member}">Become a member</a>
            <a href="/login" class="no-ajax waves-effect btn secondary" th:text="#{common.sign-in}">Sign in</a>
        </div>
    </div>


    <div class="hide-on-med-and-up center-align page-header">
        <div class="row">
            <div class="col s12">
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/create-profile" class="no-ajax waves-effect waves-light btn" th:text="#{common.become-member}">Become a member</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/login" class="no-ajax waves-effect btn secondary" th:text="#{common.sign-in}">Sign in</a>
            </div>
        </div>
    </div>



    <!--Video header -->
    <div class="content-header" >
        <div class="row white-text content-header-bg valign-wrapper center-align" style="margin-left:0; margin-right:0;">
            <div class="col s12">
                <a href="https://www.youtube.com/watch?v=uyzMkeFo4ek" data-lity="true" class="no-ajax tooltipped no-preloader" data-position="bottom" th:attr="data-tooltip=#{common.play-video}">
                    <img th:src="@{/img/home/play_button.png}" class="responsive-img"/>
                </a>
            </div>
        </div>
        <div class="row white-text center-align tag-line">
            <h4><em th:text="#{index.palette-tag-line}">Palette is about matching people, activities and information</em></h4>
        </div>
    </div>



    <!--<div class="row">-->
        <!--<div class="col s12 center">-->
            <!--<a href="#how_palette_works"><i class="material-icons medium grey-text">keyboard_arrow_down</i></a>-->
        <!--</div>-->
    <!--</div>-->


    <!--  How Palette works -->

    <section class="showcase">
        <div class="row">
            <div class="col s12 center-align">
                <a id="how_palette_works"></a><h1 th:text="#{index.how-palette-works}">How Palette works</h1>
            </div>
        </div>


        <!-- View for medium and up -->
        <div class="how-palette-works-content hide-on-small-only right-align">
            <div class="row" style="padding-top:132px;">
                <div class="col s8 offset-s4">
                    <p th:text="#{index.how-palette-works.description}">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque cumque repellat totam quas sint odit modi maxime voluptate error architecto at ea eveniet repudiandae, culpa quae, natus, dolore. Accusamus numquam reiciendis cupiditate quia ipsam
                        molestias sequi doloribus fugiat autem!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m7 l4 offset-m5 offset-l8 right-align">
                    <a href="/try-palette" class="no-ajax waves-effect btn-block btn-large secondary" th:text="#{common.try-palette}">Try Palette</a><br/>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m7 l4 offset-m5 offset-l8 right-align">
                    <a href="/create-profile" class="no-ajax waves-effect waves-light btn-block btn-large" th:text="#{common.become-member}">Become a member</a>
                </div>
            </div>
        </div>


        <!-- View for small -->
        <div class="how-palette-works-content-small right-align hide-on-med-and-up">
            <div class="row">

                <div class="col s12 hide-on-med-and-up center-align">
                    <img th:src="@{img/home/how_palette_works_small.png}" class="responsive-img"/>
                    <p th:text="#{index.how-palette-works.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nemo, laudantium nulla asperiores nisi, delectus tempora, vel ratione necessitatibus neque minus molestiae alias quibusdam sit itaque dicta illum facere repellendus. In
                        reiciendis pariatur illo amet impedit vitae placeat necessitatibus eius.</p>

                </div>
            </div>
            <div class="row hide-on-med-and-up center-align">
                <div class="col s12">
                    <a href="/try-palette" class="no-ajax waves-effect waves-light btn btn-large btn-block secondary" th:text="#{common.try-palette}">Try Palette</a><br/>
                </div>
            </div>
            <div class="row hide-on-med-and-up center-align">
                <div class="col s12">
                    <a href="/become_member" class="no-ajax waves-effect waves-light btn btn-large btn-block" th:text="#{common.become-member}">Become a member</a>
                </div>
            </div>
        </div>
    </section>


    <!--<div class="row">-->
        <!--<div class="col s12 center">-->
            <!--<a href="#who_is_using_palette"><i class="material-icons medium grey-text">keyboard_arrow_down</i></a>-->
        <!--</div>-->
    <!--</div>-->



    <!--  Who's using Palette -->
    <section class="showcase">
        <div class="row">
            <div class="col s12 center-align">
                <a id="who_is_using_palette"></a><h1 th:text="#{index.who-is-using-palette}">Who is using Palette?</h1>
            </div>
        </div>


        <div class="row">
            <div class="col s12 l4 center-align">
                <img th:src="@{img/home/anne.png}" class="responsive-img" alt=""/>
                <p class="quote" th:text="#{index.who-is-using-palette.description.1}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quam ut soluta provident dignissimos, velit ipsum totam fugiat officiis debitis iure voluptates eaque. Consequatur dolore, accusamus aliquam magnam similique doloremque!
                </p>
            </div>
            <div class="col s12 l4 center-align">
                <img th:src="@{img/home/stefan.png}" class="responsive-img" alt=""/>
                <p class="quote" th:text="#{index.who-is-using-palette.description.2}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quam ut soluta provident dignissimos, velit ipsum totam fugiat officiis debitis iure voluptates eaque. Consequatur dolore, accusamus aliquam magnam similique doloremque!
                </p>

            </div>
            <div class="col s12 l4 center-align">
                <img th:src="@{img/home/mary.png}" class="responsive-img" alt=""/>
                <p class="quote" th:text="#{index.who-is-using-palette.description.3}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quam ut soluta provident dignissimos, velit ipsum totam fugiat officiis debitis iure voluptates eaque. Consequatur dolore, accusamus aliquam magnam similique doloremque!
                </p>

            </div>

        </div>
        <div class="row center-align">
            <div class="col s12 m12 l12 hide-on-small-only">
                <a href="/create-profile" class="no-ajax waves-effect waves-light btn btn-large" th:text="#{common.become-member}">Become a member</a>
            </div>
            <div class="col s12 hide-on-med-and-up">
                <a href="/create-profile" class="no-ajax waves-effect waves-light btn btn-large btn-block" th:text="#{common.become-member}">Become a member</a>
            </div>
        </div>
    </section>


</section>

</body>
</html>
