<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:utext="#{page.try_palette.title}"></title>

    <style th:inline="text">

        body {
            min-width: 1100px !important;
        }

        .page-header {
            margin-top: 16px;
        }

        div.interest {
            width: 100px;
            height: 100px;
            margin: 16px;
            border-radius: 10px;

        }

        div > img {
            width: 100%;
            height: 100%;
        }

        h6 {
            text-align: center;
        }

        .row#interestsList {
            display: inline-flex;
        }

    </style>

    <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        $(document).ready(function() {
            initTryPaletteInterests();
        });

    </script>

</head>
<body>
<script type="text/javascript" src="/js/overrides/script.js"></script>

<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">


    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">

            <!-- New experimental logo -->
            <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                             style="vertical-align:middle"/></a>
            <div class="right-align">
                <a href="/" class="no-ajax"><span class="no-ajax waves-effect btn secondary" th:text="#{common.go-to-homepage}">Invalid</span></a>
            </div>
        </div>
        <div class="col s6 m10 l10 right-align">
            <a href="/become_member" class="no-ajax waves-effect waves-light btn btn-in-row"
               th:utext="#{common.become-member}">Become a member</a>
            <a href="/login" class="no-ajax waves-effect btn secondary" th:utext="#{common.sign-in}">Sign in</a>
        </div>
    </div>

    <div class="hide-on-med-and-up center-align page-header">
        <div class="row">
            <div class="col s12">
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                                 style="vertical-align:middle"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/become_member" class="no-ajax waves-effect waves-light btn z-depth-5"
                   th:utext="#{common.become-member}">Become
                    a member</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/login" class="no-ajax waves-effect btn secondary z-depth-5" th:utext="#{common.sign-in}">Sign
                    in</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="large white-text"
                 style="min-height:600px!important;border-radius: 20px; background-color: #43a047">
                <h2 class="try-palette steps" th:utext="#{try-palette.step-two}">Step 2 of 3</h2>
                <h2 class="center-align" th:utext="#{index.select-your-interests}">Select your
                    interests:</h2>
                <div class="row">

                    <div class="col s8 offset-s2 center-align">
                        <th:block th:each="itemElement : ${allInterests}">
                            <div class="row" id="interestsList">
                                <div class="interest z-depth-5" th:id="${itemElement.id}">
                                    <img class="img-default visible-image"
                                         th:src="@{'/img/home/icons/' + ${itemElement.image}}"
                                         th:onclick="'changeImage(this)'"/>
                                    <img class="img-selected hidden-image"
                                         th:src="@{'/img/home/icons/' + ${itemElement.imageSelected}}"
                                         th:onclick="'changeImage(this)'"/>
                                    <h6 th:utext="${itemElement.getDisplayName()}"></h6>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 70px">
        <div class="col s12 center-align">
            <div class="row">
                <div class="col s5 m4 l4 left-align">
                    <a href="/location" id="try-palette-interests-back" class="no-ajax waves-effect btn-block btn-large secondary z-depth-5"
                       th:utext="#{common.back}">BACK</a><br/>
                </div>
                <div class="col s7 l6 m7 offset-l2 right-align">
                <span><a href="#" id="try-palette-interests-next" th:onclick="'onTryPaletteInterestsNext()'"
                         class="no-ajax waves-effect waves-light btn-block btn btn-large z-depth-5"
                         th:utext="#{common.show-me-the-palette-offer}">SHOW ME THE PALETTE OFFER</a></span>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
