<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:utext="#{page.try_palette.title}"></title>

    <style th:inline="text">

        body{
            min-width: 1000px;
        }

        .page-header {
            margin-top: 16px;
        }

        form{
            background-color: #ffffff;
            border-radius: 20px;
        }

    </style>

    <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script>
        $(document).ready(function() {
            $('select').material_select();
            initTryPaletteLocation();
        });

    </script>
</head>
<body>
<script type="text/javascript" src="/js/overrides/location.js"></script>

<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">


    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">

            <!-- New experimental logo -->
            <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                             style="vertical-align:middle"/></a>
            <div class="right-align">
                <a href="/" class="no-ajax"><span class="no-ajax waves-effect btn secondary" th:text="#{common.go-to-homepage}">Invalid</span></a>
            </div>
        </div>
        <div class="col s6 m10 l10 right-align">
            <a href="/create-profile" class="no-ajax waves-effect waves-light btn btn-in-row"
               th:utext="#{common.become-member}">Become a member</a>
            <a href="/login" class="no-ajax waves-effect btn secondary" th:utext="#{common.sign-in}">Sign in</a>
        </div>
    </div>

    <div class="hide-on-med-and-up center-align page-header">
        <div class="row">
            <div class="col s12">
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                                 style="vertical-align:middle"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/create-profile" class="no-ajax waves-effect waves-light btn z-depth-5" th:utext="#{common.become-member}">Become
                    a member</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/login" class="no-ajax waves-effect btn secondary z-depth-5" th:utext="#{common.sign-in}">Sign in</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="white-text" style="height:600px!important;border-radius: 20px; background-color: #43a047">
                <h2 class="try-palette steps" th:utext="#{try-palette.step-one}">Step 1 of 3</h2>
                <h2 class="center-align" th:utext="#{index.palette-conects-people-all-over-the-world}">Palette connects people all over the
                    world!</h2>
                <h2 class="center-align">
                    <bold th:utext="#{index.please-select-your-country-and-city-you-live-in}">Please select your country and city you live in:</bold>
                </h2>


                <div class="row" style="margin-top: 100px">
                    <div class="col s12 black-text">
                        <form class="col s6">
                            <select id="countries" name="country" onchange="reinitAutocomplete()">
                                <option value="" th:utext="#{index.select-country}">Select Country</option>
                                <th:block th:each="itemElement : ${allCountries}">
                                    <option th:utext="${itemElement.getDisplayName()}" th:value="${itemElement.getCode()}">
                                    </option>
                                    </th:block>
                            </select>
                        </form>

                        <form class="col s6" onSubmit="return false;">
                            <input id="cities" th:placeholder="#{index.enter.your.city}" type="text"/>
                        </form>

                        <div class="resultCount center-align white-text">
                            <div id="usersResultCount" class="hidden-image large"></div>
                            <h3 id="textResult" class="hidden-image" th:utext="#{index.members-in-your-area}">members in your area</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 70px">

            <div class="col s6 m4 l4 left-align">
                <a href="/try-palette" id="try-palette-location-back" class="no-ajax waves-effect btn-block btn-large secondary z-depth-5" th:utext="#{common.back}">BACK</a><br/>
            </div>
            <div class="col s6 l4 m4 offset-l4 offset-m4 right-align">
                <a href="#" id="try-palette-location-next" th:onclick="'onTryPaletteLocationNext()'" class="no-ajax waves-effect waves-light btn-block btn btn-large z-depth-5" th:utext="#{common.next}">NEXT</a>
            </div>

    </div>

</section>

</body>
</html>
