<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Fragment</title>
</head>
<body>
<div th:fragment="component">

    <div class="login--box" style="display: none" data-app-on="ready"
         data-app-handler="app.viewFunction.fadeIn"
         data-func-args="slow">


        <!-- Page header -->
        <div class="row valign-wrapper hide-on-small-only page-header">
            <div class="col s6 m2 l2">
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/></a>
                <div style="text-align:right">
                    <a href="/" id="go-to-homepage-button" class="no-ajax"><span class="no-ajax waves-effect btn secondary" th:utext="#{common.go-to-homepage}">Invalid</span></a>
                </div>
            </div>

            <div class="col s6 m10 l10 right-align">
                <a href="/" id="back-to-login-button" class="no-ajax waves-effect waves-light btn secondary btn-in-row" th:utext="#{common.back-to-login}">Back</a>
                <a href="/create-profile" class="no-ajax waves-effect waves-light btn btn-in-row" th:text="#{common.become-member}">Become a member</a>
            </div>
        </div>

        <!-- Page header mobile -->
        <div class="hide-on-med-and-up center-align page-header">
            <div class="row">
                <div class="col s12">
                    <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/></a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a href="/" id="back-to-login-button" class="no-ajax waves-effect waves-light btn btn-in-row" th:utext="#{common.back-to-login}">Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a href="/become_member" class="no-ajax waves-effect waves-light btn" th:text="#{common.become-member}">Become a member</a>
                </div>
            </div>
        </div>

        <form id="loginForm" class="login--form no-ajax center-align"
              th:action="@{${T(ro.siveco.ael.web.components.WebPath).LOGIN}}"
              th:with="locales=${@mvcProperties.getAvailableLocales()}"
              method="post">
            <br/><br/>
            <h2 th:utext="#{welcome.back}">Welcome back!</h2>

            <div class="row">
                <div class="input-field col offset-s2 s4">
                    <input th:name="username"
                           th:id="username"
                           th:type="text"
                           th:title="#{model.property.username.input.placeholder}"
                           th:placeholder="#{model.property.username.input.placeholder}"/>
                    <!-- <label th:for="#{model.property.username}"
                            th:utext="#{model.property.username.label}" class="active">Login</label>-->
                    <th:block th:if="${errorLogin!=null}">
                        <!-- errors -->
                        <div class="row">
                            <div id="error-login" th:utext="#{${errorLogin}}">test</div>
                        </div>
                    </th:block>
                </div>
                <div class="input-field col s4">
                    <input th:name="password" type="password"
                           th:id="password"
                           th:title="#{model.property.password.input.placeholder}"
                           th:placeholder="#{model.property.password.input.placeholder}"/>
                    <!-- <label th:for="#{model.property.password}"
                            th:utext="#{model.property.password.label}" class="active">Password</label>-->
                </div>
            </div>

            <input type="hidden" name="token" th:value="${param.token}"/>

            <br/><br/>
            <div class="row">
                <div class="input-field col offset-s2 s4">
                    <h6 style="color: white">
                        <a id="login-reset-password" href="/resetPassword" th:utext="#{click.here}">Click here</a>
                        <span th:utext="#{forget.login.details}">if you forgot your login details.</span>
                    </h6>
                </div>

            </div>

            <div class="row">
                <div class="col l6 m8 s10 offset-m2 offset-l3 offset-s1 " style="margin: 25%;margin-bottom: -25px;margin-top: 100px">
                    <button id="submitLogin" class="btn-large btn-block waves-effect no-ajax" type="submit" name="submit" th:utext="#{action.login}"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
