<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <title th:text="#{page.login.title}"></title>
    <style>
        /*html {*/
        /*height: 100%;*/
        /*}*/

        /*body {*/
        /*background: #DAE2F8;*/
        /*background: -webkit-linear-gradient(to bottom, #b1dcfb, #DAE2F8);*/
        /*background: linear-gradient(to bottom, #b1dcfb, #DAE2F8);*/
        /*height: 100%;*/
        /*max-width: 700px;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        /*padding-top: 20px;*/
        /*}*/

        /*.login-form {*/
        /*padding: 40px;*/
        /*}*/
    </style>
</head>
<body class="login">
<header layout:fragment="pageHeader" style="display:none;">

</header>

<section layout:fragment="pageContent" th:class="${'main-section view-section'}">
    <div class="container">
        <th:block th:include="home/login-fragment :: component"></th:block>
    </div>
</section>

<th:block layout:fragment="my-scripts">
    <script type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            if (typeof app !== 'undefined') {
                app.hideLoader();
            }
            addLoader();
        });
        $('select').material_select();
        /*]]>*/
    </script>
</th:block>
</body>
</html>
