<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">>
<head>
    <title th:utext="#{privacy.policy.page.name}">Metadata Fragment</title>
</head>
<body>
<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">
    <!-- Page header -->
    <div class="row valign-wrapper page-header">
        <div class="col s6 m2 l2">
            <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/></a>
            <a th:href="@{/}" class="no-ajax modal-action modal-close waves-effect waves-light secondary btn homepage-public" th:utext="#{common.go-to-homepage}">
                HOME
            </a>
        </div>
        <div class="col s6 m10 l10 right-align">

        </div>
    </div>

    <th:block th:fragment="privacyPolicy">

        <th:block th:include="@{'app/components/privacyPolicy/privacyPolicyContent_' + ${sessionLanguage} }:: privacyPolicyContent">
        </th:block>

    </th:block>
</section>
</body>
</html>
