<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Palette</title>

    <style th:inline="text">


        .content-image-header {
            min-height: 665px;
        }

        .page-header {
            margin-top: 16px;
        }


    </style>
</head>
<body>

<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">


    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">

            <!-- New experimental logo -->
            <a href="/" class="no-ajax">
                <img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/>
            </a>

        </div>
        <div class="col s6 m10 l10 right-align">
            <a href="/" id="back-to-login-button" class="no-ajax waves-effect waves-light btn btn-in-row" th:utext="#{common.back-to-login}">Back</a>
            <a href="/login" class="no-ajax waves-effect btn secondary" th:text="#{common.sign-in}">Sign
                in</a>
        </div>
    </div>


    <div class="hide-on-med-and-up center-align page-header">
        <div class="row">
            <div class="col s12">
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                                 style="vertical-align:middle"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/" id="back-to-login-button" class="no-ajax waves-effect waves-light btn btn-in-row" th:utext="#{common.back-to-login}">Back</a>
                <a href="/login" class="no-ajax waves-effect btn secondary" th:text="#{common.sign-in}">Sign
                    in</a>
            </div>
        </div>
    </div>


    <!--  Content header -->

    <div class="center-align">


        <div class="content-image-header" th:if="${verificationResult.isSuccess()}">
            <div class="row">
                <div class="col s12">
                    <h1 th:text="#{profile.verification.verified.header}">Your profile has been verified, thank you!</h1>

                </div>
            </div>

            <div class="row">
                <div class="col l8 m8 s12 offset-m2 offset-l2">
                    <p th:utext="#{profile.verfication.verified.body}">You can now <a href="/login">sign in</a> using your email and password.</p>
                </div>
            </div>

        </div>

        <div class="content-image-header" th:if="${verificationResult.isError()}">
            <div class="row">
                <div class="col s12">
                    <h1 th:text="#{profile.verification.error}">There was an error verifying your profile!</h1>

                </div>
            </div>

            <div class="row">
                <div class="col l8 m8 s12 offset-m2 offset-l2">
                    <p th:utext="${verificationResult.getErrorMessage()}" class="red-text">Error</p>
                </div>
            </div>

        </div>

    </div>
</section>


</body>
</html>
