<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{deleteProfile.title}">Profile deleted</title>
</head>

<body>

<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">

    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header left-align">
        <div class="col s6 m2 l2">

            <!-- Logo -->
            <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                             style="vertical-align:middle"/></a>

        </div>

        <!--Previous div (col) was right-aligned by default, left-aligning it with class didn't help.
            That's why I added an empty col below (as in index, where it worked).-->
        <div class="col s6 m10 l10 right-align">
        </div>
    </div>

    <!--Contents below header (when logged in) must have 70px (4.67rem) top margin.-->
    <div class="row below-logged-header">

        <!--Offsets are used to center the main container.-->
        <div class="col s12 m10 l8 offset-m1 offset-l2 deleteProfileInfo" id="afterDeleting">
            <div class="card white">
                <div class="card-content black-text">
                <span class="card-title"><h4
                        th:utext="#{deleteProfile.successInformation}">Your profile was successfully deleted</h4></span>

                    <p th:utext="#{deleteProfile.successGoToHomepage}">You can go to the home page by clicking the
                        button below.</p>

                </div>

                <div class="card-action">
                    <!--Home button-->
                    <div class="row">
                        <div class="col s12 m4 l4 offset-m4 offset-l4 center-align">
                            <a th:href="@{/}"
                               class="no-ajax waves-effect waves-light btn secondary"
                               th:utext="#{common.go-to-homepage}">
                                Home
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<th:block layout:fragment="my-scripts">
    <script>
        $(document).ready(function() {
            if (typeof app !== 'undefined') {
                app.hideLoader();
            }
            addLoader();
        });

    </script>
</th:block>

</body>
</html>
