<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <title th:text="#{page.login.register.title}"></title>
    <style>
        html{
            height: 100%;
        }
        body{
            background: #DAE2F8;
            background: -webkit-linear-gradient(to bottom, #b1dcfb, #DAE2F8);
            background: linear-gradient(to bottom, #b1dcfb, #DAE2F8);
            height: 100%;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
        }
    </style>
</head>
<body>
<header layout:fragment="pageHeader">

</header>
<section layout:fragment="pageContent" th:class="${'main-section view-section'}">
    <div class="container">

		<div class="hidden messages" style="display:none">
			<span message-attr="register.email.required" th:utext="#{register.email.required}"></span>
			<span message-attr="register.email.required.valid" th:utext="#{register.email.required.valid}"></span>
			<span message-attr="register.password.required" th:utext="#{register.password.required}"></span>
			<span message-attr="register.password.minlength" th:utext="#{register.password.minlength}"></span>
			<span message-attr="register.confirm.password.required" th:utext="#{register.confirm.password.required}"></span>
			<span message-attr="register.confirm.password.minlength" th:utext="#{register.confirm.password.minlength}"></span>
			<span message-attr="registration.failed.passwords" th:utext="#{registration.failed.passwords}"></span>
			<span message-attr="registration.check.email.error" th:utext="#{registration.check.email.error}"></span>
			<span message-attr="register.user.error" th:utext="#{register.user.error}"></span>
		</div>

        <div class="col s8 z-depth-4 card-panel">
            <form class="register-form no-ajax" id="register-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img th:src="@{/img/product/logo.gif}" alt="Application logo" src=""
                             class="responsive-img valign login-image"/>
                        <h3 class="center login-text" th:utext="#{page.login.register.title}">AeL Register</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate"
                               th:title="#{model.property.email.input.placeholder}"
                               th:placeholder="#{model.property.email.input.placeholder}"/>
                        <label for="email" id="emailLabel" required="required" aria-required="true" 
                               th:utext="#{model.property.email.label}" class="active">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate"
                               th:title="#{model.property.password.input.placeholder}"
                               th:placeholder="#{model.property.password.input.placeholder}"/>
                        <label for="password" required="required" aria-required="true" 
                               th:utext="#{model.property.password.label}" class="active">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="confirmPassword" name="confirmPassword" type="password" class="validate"
                               th:title="#{model.property.password.repeat.label}"
                               th:placeholder="#{model.property.password.repeat.label}"/>
                        <label for="confirmPassword" id="confirmPasswordLabel" required="required" aria-required="true" 
                               th:utext="#{model.property.password.repeat.label}" class="active">Repeat password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="firstName" id="firstName" type="text"
                               th:title="#{model.property.firstname.label}"
                               th:placeholder="#{model.property.firstname.label}"/>
                        <label for="firstName" th:utext="#{model.property.firstname.label}" class="active">Firstname</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="lastName" id="lastName" type="text"
                               th:title="#{model.property.lastname.label}"
                               th:placeholder="#{model.property.lastname.label}"/>
                        <label for="lastName" th:utext="#{model.property.lastname.label}" class="active">Lastname</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light col s12" type="submit"
                                th:utext="#{action.register}">
                        </button>
                    </div>
                </div>
                
                
				<div id="modalRegisterSuccessful" class="modal" style="overflow: visible;">
					<div class="modal-content">
						<h4 th:utext="#{registration.successful.title}">Registration successful</h4>
						<span th:utext="#{registration.successful.message}">
							Your account has been created. An activation link has been sent by email.
						</span>
					</div>
					<div class="modal-footer">
						<a onClick="closeModalRegisterSuccessful();" class="modal-action modal-close waves-effect waves-light btn-flat" th:utext="#{registration.modal.close}">Close</a>
						<a onClick="goToLoginRegisterSuccessful();" class="modal-action modal-close waves-effect waves-light btn green" th:utext="#{registration.modal.go.to.login}">Go to login</a>
					</div>
				</div>
            </form>
        </div>
    </div>
</section>

<th:block layout:fragment="my-scripts">
    <script type="text/javascript">
		/*<![CDATA[*/
			


        /*]]>*/
	</script>
</th:block>
</body>
</html>
