<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Palette</title>

    <style th:inline="text">


        .content-image-header {
            min-height: 665px;
        }

        .page-header {
            margin-top: 16px;
        }


    </style>
</head>
<body>

<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">


    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">

            <!-- New experimental logo -->
            <a href="/" class="no-ajax">
                <img th:src="@{/img/palette_new_logo.png}" width="187" height="60" style="vertical-align:middle"/>
            </a>

        </div>
        <div class="col s6 m10 l10 right-align">
            <a href="/" id="back-to-login-button" class="no-ajax waves-effect waves-light btn btn-in-row" th:utext="#{common.back-to-login}">Back</a>
            <a href="/login" class="no-ajax waves-effect btn secondary" th:text="#{common.sign-in}">Sign
                in</a>
        </div>
    </div>


    <div class="hide-on-med-and-up center-align page-header">
        <div class="row">
            <div class="col s12">
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                                 style="vertical-align:middle"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/" id="back-to-login-button" class="no-ajax waves-effect waves-light btn btn-in-row" th:utext="#{common.back-to-login}">Back</a>
                <a href="/login" class="no-ajax waves-effect btn secondary" th:text="#{common.sign-in}">Sign
                    in</a>
            </div>
        </div>
    </div>


    <!--  Content header -->

    <div class="center-align">


        <div class="content-image-header">
            <div class="row">
                <div class="col s12">
                    <h1 th:text="#{resend.profile.verification.header}">Verify your profile</h1>
                </div>
            </div>

            <div class="row" th:if="${beforeSubmit || verificationResult.isError()}">
                <div class="col l8 m8 s12 offset-m2 offset-l2">

                    <form action="/resend-profile-verification" method="post" class="no-ajax">
                        <p class="center-align" th:text="#{resend.profile.verification.prompt}">Enter the email address you used to create your Palette profile and hit the "Send verification email". You will get an email message with instructions how to verify your profile.</p>
                        <div class="input-field">
                            <input type="text" name="email" placeholder="Email" id="e-mail" maxlength="40" th:value="${email}"/>
                            <div th:if="${verificationError}" th:utext="${verificationError}" class="red-text" style="margin-bottom: 32px;"></div>
                        </div>

                        <button type="submit" class="waves-effect btn" th:text="#{resend.profile.verification.resend_button_label}">Send verification email</button>
                    </form>

                    <p style="margin-top: 32px; font-size: 1.2rem;" class="grey-text" th:text="#{resend.profile.verification.note}">Note: You should have received a profile verification email after you created your profile.
                        Please be aware that it may take a little while for it to get delivered. Check your spam folder to make sure it didn't end up there.
                        If you didn't receive the email, you can try to resend it using the form above.</p>

                </div>
            </div>

            <div class="row" th:if="${isSuccess}">
                <div class="col l8 m8 s12 offset-m2 offset-l2">
                    <p class="green-text center-align"><span th:text="#{resend.profile.verification.success}">Profile verification email has been sent to</span> <span th:text="${email}"></span></p>
                    <a href="/" class="btn btn-large center-align no-ajax">OK</a>
                </div>
            </div>



        </div>

    </div>
</section>


</body>
</html>
