<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <title th:text="#{reset-password.title}"></title>
    <style>
        html{
            height: 100%;
        }
        body{
            background: #DAE2F8;
            background: -webkit-linear-gradient(to bottom, #b1dcfb, #DAE2F8);
            background: linear-gradient(to bottom, #b1dcfb, #DAE2F8);
            height: 100%;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
        }
    </style>
</head>
<body>
<header layout:fragment="pageHeader">

</header>
<section layout:fragment="pageContent" th:class="${'main-section view-section'}">
	<div class="container">
		
		<div class="hidden messages" style="display:none">
			<span message-attr="reset-password.password.required" th:utext="#{reset-password.password.required}"></span>
			<span message-attr="reset-password.password.minlength" th:utext="#{reset-password.password.minlength}"></span>
			<span message-attr="reset-password.confirm.password.required" th:utext="#{reset-password.confirm.password.required}"></span>
			<span message-attr="reset-password.confirm.password.minlength" th:utext="#{reset-password.confirm.password.minlength}"></span>
			<span message-attr="reset-password.failed.passwords" th:utext="#{reset-password.failed.passwords}"></span>
			<span message-attr="reset-password.error" th:utext="#{reset-password.error}"></span>
		</div>
		

        <div class="col s8 z-depth-4 card-panel">
			<form class="reset-password-form no-ajax" id="reset-password-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img th:src="@{/img/product/logo.gif}" alt="Application logo" src=""
                             class="responsive-img valign login-image"/>
                        <h3 class="center login-text" th:utext="#{reset-password.title}">AeL Register</h3>
                    </div>
                </div>
				<input id="email" name="email" type="hidden" th:value="${email}"/>
				<div class="row">
				    <div class="input-field col s12">
				        <input id="password" name="password" type="password" class="validate"/>
				        <label for="password" required="required" aria-required="true" 
				               th:utext="#{reset-password.newPassword}" class="active">New password</label>
				    </div>
				</div>
				<div class="row">
				    <div class="input-field col s12">
				        <input id="confirmPassword" name="confirmPassword" type="password" class="validate"/>
				        <label for="confirmPassword" id="confirmPasswordLabel" required="required" aria-required="true" 
				               th:utext="#{reset-password.confirmNewPassword}" class="active">Repeat new password</label>
				    </div>
				</div>
				<div class="row">
				    <div class="input-field col s12">
				        <button class="btn waves-effect waves-light col s12" type="submit"
				                th:utext="#{reset-password.action}">
				        </button>
				    </div>
				</div>
	                
	                
				<div id="modalResetSuccessful" class="modal" style="overflow: visible;">
					<div class="modal-content">
						<h4 th:utext="#{reset-password.successful.title}">Reset password successful</h4>
						<span th:utext="#{reset-password.successful.message}">
							Your account password has been changed.
						</span>
					</div>
					<div class="modal-footer">
						<a onClick="closeModalResetSuccessful();" class="modal-action modal-close waves-effect waves-light btn red" th:utext="#{registration.modal.close}">Close</a>
						<a onClick="goToLoginResetSuccessful();" class="modal-action modal-close waves-effect waves-light btn green" th:utext="#{registration.modal.go.to.login}">Go to login</a>
					</div>
				</div>
	    	</form>
	    </div>
	</div>
</section>

<th:block layout:fragment="my-scripts">
    <script type="text/javascript">
		/*<![CDATA[*/
			
		$('.modal').modal();
		
  		$("#reset-password-form").validate({
	        rules: {
	            password: {
					required: true,
					minlength: 8
				},
				confirmPassword: {
					required: true,
					minlength: 8,
					equalTo: "#password"
				}
	        },
			messages: {
				password: {
					required: $(".messages [message-attr='reset-password.password.required']").text(),
					minlength: $(".messages [message-attr='reset-password.password.minlength']").text()
				},
				confirmPassword: {
					required: $(".messages [message-attr='reset-password.confirm.password.required']").text(),
					minlength: $(".messages [message-attr='reset-password.confirm.password.minlength']").text(),
					equalTo: $(".messages [message-attr='reset-password.failed.passwords']").text()
				}
	        },
			errorElement : 'div',
			errorClass: 'invalid red-text',
			errorPlacement: function(error, element) {
				var placement = $(element).data('error');
				if (placement) {
					$(placement).append(error)
				} else {
					error.insertAfter(element);
				}
			}
		});
			
		$("#reset-password-form").on('submit', function(event){
			event.preventDefault();
			var user= {};
			$.each($(this).serializeArray(), function( i, element){
				user[element.name]=element.value;
			});
			
			if ( $("#reset-password-form").valid() ) {
				$.ajax({
	                type : 'POST',
	                url : "/resetPassword",
	                data : JSON.stringify(user),
	                cache : false,
	                processData : false,
	                contentType : "application/json",
	                success: function(data){
		            	var returnedData = JSON.parse(data);
						if( returnedData.success === "true") {
							$('#modalResetSuccessful').modal().modal('open');
						} else {
								var placement = $("#confirmPasswordLabel").data('error');
								var error = $('<div id="email-error" class="invalid red-text" th:utext="#{reset-password.failed.passwords}">Passwords do not match</div>');
								
								if (placement) {
									$(placement).append(error)
								} else {
									error.insertAfter($("#confirmPasswordLabel"));
								}

							 	$('#confirmPassword').removeClass("valid");
								$("#confirmPassword").addClass("invalid red-text");
						}
					},
	                error : function(XMLHttpRequest, textStatus, errorThrown) {
	                    alert($(".messages [message-attr='reset-password.error']").text());
	                }
	            });
			}
		});
		
		
		function closeModalResetSuccessful() {
			$('#modalRegisterSuccessful').modal('close');
		}
		
		function goToLoginResetSuccessful() {
	    	window.location = '/login';			 
		}
        /*]]>*/			
	</script>
</th:block>

</body>
</html>