<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:utext="#{page.try_palette.title}"></title>

    <style th:inline="text">

        body{
            min-width: 1000px;
        }

        .page-header {
            margin-top: 16px;
        }

        form{
            background-color: #ffffff;
            border-radius: 20px;
        }

        h5{
            padding-top: 40px;
        }

        .btnAlign{
            text-align:center;
        }

        #becomeMember{
            position: initial;
        }

    </style>

    <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });

    </script>
</head>
<body>


<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">

    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">
            <!-- New experimental logo -->
            <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                             style="vertical-align:middle"/></a>
            <div class="right-align">
                <a href="/" class="no-ajax"><span class="no-ajax waves-effect btn secondary" th:text="#{common.go-to-homepage}">Invalid</span></a>
            </div>
        </div>
        <div class="col s6 m10 l10 right-align"></div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card large white-text try-palette-result-card"
                 style="height:600px!important;border-radius: 20px; background-color:#43a047;">
                <div class="results center-align">
                    <th:block>
                        <span class="try-palette steps" th:utext="#{try-palette.step-three}">Step 3 of 3</span><br/>
                        <span class="try-palette-results-info" th:utext="#{index.we-found}"></span>
                        <span class="try-palette-results-info" th:utext="${plannedCoursesCount}"></span>
                        <span class="try-palette-results-info" th:utext="#{index.results-for-you}"></span>
                    </th:block>
                </div>
                <h3 class="center-align" th:utext="#{index.to-see-more}">To see more:</h3>

                <div class="btnAlign">
                    <a href="/become_member" id="becomeMember" class="no-ajax waves-effect waves-light btn-large btn-in-row"
                       th:utext="#{common.become-member}">Become a member</a>
                </div>
                <h3 class="center-align try-palette-results-info" th:utext="#{tryPalette.seeOtherInterests}">Not sure enough ? See results for other interests!</h3>
                <div class="btnAlign">
                    <a href="/interests" id="backToInterests" class="no-ajax waves-effect waves-light btn-large btn-in-row"
                       th:utext="#{tryPalette.backToInterests}">Alter interests</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" th:if="${plannedCourses.size() > 0}">
        <div class="cards">
            <div id="try-palette-results-planned-courses" th:each="course : ${plannedCourses}">
                <div class="col s12 m4 l4">
                    <div class="card model-view sticky-action model-plannedCourse">
                        <div class="card-image">
                            <div class="image-wrapper">
                                <img th:if="${course.image!=null}" class="image-tag" th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(course.image)}}"
                                     onerror="this.onerror=null;this.src='/img/generic/generic-course-light.png'" />
                                <img th:unless="${course.image!=null}" class="image-tag" th:src="${course.imageSrc}" />
                            </div>
                        </div>

                        <div class="card-content">

                            <div class="properties-wrapper">
                                <div th:class="${'property-presentation model-plannedCourse-property model-property-value model-property-courseType property-input-wrapper course-type-' + course.course.type}">
                                    <span class="property-value" th:utext="#{${'model.course.property.type.enum.' + course.course.type}}">ACTIVITY</span>
                                </div>
                                <div class="property-presentation model-plannedCourse-property model-property-value model-property-startDate property-input-wrapper">
                                    <span class="property-value" th:utext="${course.displayStartDate}">Fri, 2 February 2018</span>
                                </div>
                                <div class="property-presentation model-plannedCourse-property model-property-value model-property-displayUsersAddedToFavorites property-input-wrapper">
                                            <span class="property-label">
                                                <span>
                                                    <i class="material-icons" style="color:yellow">star</i> interested</span>
                                            </span>
                                    <span class="property-value" th:utext="${course.displayUsersAddedToFavorites}">1</span>
                                </div>
                                <div class="property-presentation model-plannedCourse-property model-property-value model-property-name long-text property-input-wrapper">
                                    <span class="property-value tooltipped" th:attr="data-position='top', data-tooltip=${course.name}" th:utext="${course.name}">ac1</span>
                                </div>

                                <button class="property-presentation model-plannedCourse-property model-property-value model-property-readMoreLink generic-action action-open-presentation
                                    action-plannedCourse-open-presentation btn meta-controller property-input-wrapper plannedCourse-read-more-class no-preloader"
                                        th:onclick="'onClickResultsCourse()'"
                                        th:utext="#{model.plannedCourse.action.open.presentation.label}">Read more</button>
                            </div>
                        </div>

                        <div class="actions-wrapper card-action">

                            <div class="main-actions">
                                <th:block th:if="${course.addedToFavorite}">
                                    <button class="action-custom action-plannedCourse-custom btn meta-controller favorite-added-item no-preloader"
                                            th:onclick="'onClickResultsCourse()'"
                                            th:utext="#{model.plannedCourse.action.addToFavoritesId.label}">Add to favorites
                                    </button>
                                </th:block>
                                <th:block th:unless="${course.addedToFavorite}">
                                    <button class="action-custom action-plannedCourse-custom btn meta-controller favorite-not-added-item no-preloader"
                                            th:onclick="'onClickResultsCourse()'" data-x-controller-status="true"
                                            th:utext="#{model.plannedCourse.action.addToFavoritesId.label}">Add to favorites
                                    </button>
                                </th:block>

                                <a class="action-custom-get action-plannedCourse-custom-get btn meta-controller remove-recommended-item no-preloader"
                                   th:onclick="'onClickResultsCourse()'"
                                   th:utext="#{model.plannedCourse.action.removeItemId.label}">Remove from list
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 70px">
        <div class="col s6 m4 l4 left-align">
            <a href="/interests" id="try-palette-results-back" class="no-ajax waves-effect btn btn-large btn-block secondary z-depth-5"
               th:utext="#{common.back}">BACK</a>
        </div>

        <div class="col s6 l4 m4 offset-l4 offset-m4 right-align">
            <a href="/" id="try-palette-results-next" class="no-ajax waves-effect waves-light btn btn-large btn-block z-depth-5"
               th:utext="#{try-palette.go-to-homepage}">GO TO HOMEPAGE</a>
        </div>
    </div>

    <div id="tryPaletteResultsModal" class="modal">
        <div class="modal-content">
            <h3 class="center-align" th:utext="#{index.to-see-more}">To see more:</h3>
        </div>
        <div class="btnAlign">
            <a href="/become_member" id="becomeMember" class="no-ajax waves-effect waves-light btn-large btn-in-row"
               th:utext="#{common.become-member}">Become a member</a>
        </div>
        <div class="modal-footer">
            <a class="modal-action waves-effect waves-light btn secondary close-attending-students-modal no-preloader" onclick="closeTryPaletteResultsModal()"
               th:utext="#{action.close}">Close</a>
        </div>
    </div>

</section>

</body>
</html>
