<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:utext="#{page.try_palette.title}"></title>

    <style th:inline="text">

        .page-header {
            margin-top: 16px;
        }
    </style>
</head>
<body>

<header layout:fragment="pageHeader" style="display:none;">
</header>

<section layout:fragment="pageContent" class="container">


    <!-- Page header -->
    <div class="row valign-wrapper hide-on-small-only page-header">
        <div class="col s6 m2 l2">

            <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                             style="vertical-align:middle"/></a>
            <div class="right-align">
                <a href="/" class="no-ajax"><span class="no-ajax waves-effect btn secondary" th:text="#{common.go-to-homepage}">Invalid</span></a>
            </div>
        </div>
        <div class="col s6 m10 l10 right-align">
            <a href="/become_member" class="no-ajax waves-effect waves-light btn btn-in-row"
               th:utext="#{common.become-member}">Become a member</a>
            <a href="/login" class="no-ajax waves-effect btn secondary" th:utext="#{common.sign-in}">Sign in</a>
        </div>
    </div>


    <div class="hide-on-med-and-up center-align page-header">
        <div class="row">
            <div class="col s12">
                <a href="/" class="no-ajax"><img th:src="@{/img/palette_new_logo.png}" width="187" height="60"
                                                 style="vertical-align:middle"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/become_member" class="no-ajax waves-effect waves-light btn z-depth-5"
                   th:utext="#{common.become-member}">Become
                    a member</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/login" class="no-ajax waves-effect btn secondary z-depth-5" th:utext="#{common.sign-in}">Sign
                    in</a>
            </div>
        </div>
    </div>

    <div class="content-header" >
        <div class="row white-text">
            <div class="col s12 center-align" >
                <img th:src="@{img/home/try_palette_header_bg.jpg}" class="responsive-img"/>
            </div>
        </div>
        <div class="row white-text center-align tag-line">
            <h5><em th:utext="#{index.palette-tag-line}">Palette is about matching people, activities and information</em></h5>
        </div>
    </div>



    <div class="showcase">
        <div class="row">
            <div class="col s12 center-align">
                <a id="how_palette_works"></a>
                <h3 th:utext="#{index.want-to-find-out-more-about-palette}">Want to find out more about Palette?</h3>
            </div>
        </div>
    </div>


    <div class="row">
            <div class="col s6 m4 l4 left-align">
                <a href="/" id="try-palette-back-button" class="no-ajax waves-effect btn btn-large btn-block secondary z-depth-5"
                   th:utext="#{common.back}">BACK</a><br/>
            </div>

            <div class="col s6 l4 m4 offset-l4 offset-m4 right-align">
                    <a href="/location" id="try-palette-next-button" class="no-ajax waves-effect waves-light btn btn-large btn-block z-depth-5" th:onclick="'initTryPalette()'"
                       th:utext="#{common.next}">NEXT</a>
            </div>
    </div>

</section>


</body>
</html>
