<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="modelDescriptor" type="ro.siveco.ram.starter.ui.model.ModelDescriptor"*/-->
<!--/*@thymesVar id="jsonPage" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewType" type="ro.siveco.ram.controller.util.ViewType"*/-->


<head>
    <title>Index Fragment</title>
</head>
<body>
<div th:fragment="index-fragment">
    <div class="container">
        <div th:fragment="index-wrapper" class="index-wrapper"
             data-app-on="app:htmlRequest"
             data-app-handler="app.update"
             th:attr="data-model-view-type=${viewType}">
            <h1 th:utext="#{${modelName+'.h1'}}" class="index-header"></h1>
            <div id="date-filter">
                <div class="row">
                    <span class="col s2">
                        <label for="startDate" class="h2" placeholder="From" th:utext="#{model.courseDetails.from}"
                               th:placeholder="#{model.courseDetails.from.placeholder}">From</label>
                        <input type="date" class="datepicker" id="startDate"/>
                    </span>
                    <span class="col s2">
                        <label for="endDate" class="h2" placeholder="To" th:utext="#{model.courseDetails.to}"
                               th:placeholder="#{model.courseDetails.to.placeholder}">To</label>
                        <input type="date" class="datepicker" id="endDate"/>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="index-view-type">
                    <th:block th:if="${modelDescriptor.searchOptions.enabled}">
                        <div class="model-search input-field col"
                             th:classappend="'s7 m'+${12 - modelDescriptor.indexOptions.getViewTypes().size()}">
                            <i class="material-icons prefix">search</i>
                            <input id="search" type="text"
                                   th:placeholder="#{${'model.'+modelName+'.search.placeholder'}}"
                                   class="left"
                                   autocomplete="off"/>
                        </div>
                        <div class="index-view-type-options col"
                             th:classappend="'s5 m'+${ modelDescriptor.indexOptions.getViewTypes().size()}">
                            <ul class="tabs tabs-icon" data-swipeable="false">
                                <li th:each="viewType:${modelDescriptor.indexOptions.getViewTypes()}"
                                    class="index-view-type-option-wrapper tab col"
                                    th:classappend="${viewType.equals(modelDescriptor.indexOptions.getDefaultViewType())?
                    ('active s'+T(java.lang.Integer).divideUnsigned(12,modelDescriptor.indexOptions.getViewTypes().size())):
                    ('s'+T(java.lang.Integer).divideUnsigned(12,modelDescriptor.indexOptions.getViewTypes().size()))}">
                                    <a class="index-view-type-option no-ajax"
                                       th:title="#{${'index.viewType.'+viewType.name()+'.label'}}"
                                       th:attr="data-model-name=${modelName}"
                                       th:href="${'#'+modelName+'-page-'+viewType.name().toLowerCase()}">
                                        <div class="icon"
                                             th:utext="#{${'index.viewType.'+viewType.name()}}"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                    <th:block th:unless="${modelDescriptor.searchOptions.enabled}">
                        <div th:if="${modelDescriptor.indexOptions.getViewTypes().size()>1}"
                             class="index-view-type-options col s12">
                            <ul class="tabs tabs-icon" data-swipeable="false">
                                <li th:each="viewType:${modelDescriptor.indexOptions.getViewTypes()}"
                                    class="index-view-type-option-wrapper tab col"
                                    th:classappend="${viewType.equals(modelDescriptor.indexOptions.getDefaultViewType())?
                    ('active s'+T(java.lang.Integer).divideUnsigned(12,modelDescriptor.indexOptions.getViewTypes().size())):
                    ('s'+T(java.lang.Integer).divideUnsigned(12,modelDescriptor.indexOptions.getViewTypes().size()))}">
                                    <a class="index-view-type-option no-ajax"
                                       th:title="#{${'index.viewType.'+viewType.name()+'.label'}}"
                                       th:attr="data-model-name=${modelName}"
                                       th:href="${'#'+modelName+'-page-'+viewType.name().toLowerCase()}">
                                        <div class="icon col right-align s10 m6"
                                             th:utext="#{${'index.viewType.'+viewType.name()}}"></div>
                                        <div class="text col left-align m6 hide-on-small-only"
                                             th:text="#{${'index.viewType.'+viewType.name()+'.label'}}"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                </div>
                <div class="index-content" th:attr="data-model-index=${modelName}">
                    <th:block th:each="indexViewType:${modelDescriptor.indexOptions.getViewTypes()}">
                        <div class="col s12" th:id="${modelName+'-page-'+indexViewType.name().toLowerCase()}"
                             th:style="${modelDescriptor.indexOptions.getViewTypes().size()>1?'display: none;':''}">
                            <th:block th:switch="${indexViewType}">
                                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.IndexViewType).LIST}">
                                    <ul th:replace="${#overridesPath+modelName+'/list'} :: list(indexViewType=${indexViewType})"></ul>
                                </th:block>
                                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.IndexViewType).CARD}">
                                    <ul th:replace="${#overridesPath+modelName+'/list'} :: cards(indexViewType=${indexViewType})"></ul>
                                </th:block>
                                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.IndexViewType).GRID}">
                                    <ul th:replace="${#overridesPath+modelName+'/list'} :: grid(indexViewType=${indexViewType})"></ul>
                                </th:block>
                                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.IndexViewType).TREE}">
                                    <ul th:replace="${#overridesPath+modelName+'/list'} :: tree(indexViewType=${indexViewType})"></ul>
                                </th:block>
                            </th:block>
                        </div>
                    </th:block>
                </div>
            </div>
            <!--/* Pagination wrapper */-->
            <div th:if="${modelDescriptor.indexOptions.paginationEnabled}" class="pagination-wrapper"
                 th:fragment="pagination-wrapper">
                <div class="row">
                    <div class="col s12 center">
                        <ul class="pagination">
                            <li class="go-to-first-page">
                                <a href="#" th:attr="data-x-label-model-name=${modelName}"
                                   data-x-label-fallback="true"
                                   data-x-label="model.{modelName}.pagination.first"
                                   class="pagination-link no-ajax"></a>
                            </li>
                            <li class="go-to-previous-page">
                                <a href="#" th:attr="data-x-label-model-name=${modelName}"
                                   data-x-label-fallback="true"
                                   data-x-label="model.{modelName}.pagination.previous"
                                   class="pagination-link no-ajax"></a>
                            </li>
                            <li class="go-to-page">
                                <a href="#" class="pagination-link no-ajax"></a>
                            </li>
                            <li class="go-to-next-page">
                                <a href="#" th:attr="data-x-label-model-name=${modelName}"
                                   data-x-label-fallback="true"
                                   data-x-label="model.{modelName}.pagination.next"
                                   class="pagination-link no-ajax"></a>
                            </li>
                            <li class="go-to-last-page">
                                <a href="#" th:attr="data-x-label-model-name=${modelName}"
                                   data-x-label-fallback="true"
                                   data-x-label="model.{modelName}.pagination.last"
                                   class="pagination-link no-ajax"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 center">
                        <div class="page-info-wrapper" th:fragment="pagination-info">
                            <small class="no-records-found"
                                   th:attr="data-x-label-model-name=${modelName}"
                                   data-x-label-fallback="true"
                                   data-x-label="model.{modelName}.pagination.info.noRecordsFound"></small>
                            <div class="pagination-info">
                                <small>
                                    <span class="page-label"
                                          th:attr="data-x-label-model-name=${modelName}"
                                          data-x-label-fallback="true"
                                          data-x-label="model.{modelName}.pagination.info.page"></span>
                                    <span class="current-page"></span>
                                    <span class="label-of" th:attr="data-x-label-model-name=${modelName}"
                                          data-x-label-fallback="true"
                                          data-x-label="model.{modelName}.pagination.info.of"></span>
                                    <span class="total-pages"></span>
                                </small>
                                <small>
                                    (
                                    <span class="records-label"
                                          th:attr="data-x-label-model-name=${modelName}"
                                          data-x-label-fallback="true"
                                          data-x-label="model.{modelName}.pagination.info.records"></span>
                                    <span class="records-start"></span> - <span class="records-end"></span>
                                    <span class="label-of" th:attr="data-x-label-model-name=${modelName}"
                                          data-x-label-fallback="true"
                                          data-x-label="model.{modelName}.pagination.info.of"></span>
                                    <span class="total-records"></span>
                                    )
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        window.__updateDescriptor = {
            viewType: [[${viewType}]],
            pageTitleCode: [[${modelName+'.'+viewType+'.title'}]],
            sectionClass: [[${'main-section index-section model model-'+modelName}]],
            modelName: [[${modelName}]],
            modelDescriptor: JSON.parse([[${jsonModelDescriptor}]]),
            page: JSON.parse([[${jsonPage}]])
        };
    </script>
</div>
</body>
</html>
