<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewName" type="java.lang.String"*/-->
<!--/*@thymesVar id="modelDescriptor" type="ro.siveco.ram.starter.ui.model.ModelDescriptor"*/-->
<!--/*@thymesVar id="viewType" type="ro.siveco.ram.controller.util.ViewType"*/-->
<!--/*@thymesVar id="indexViewType" type="ro.siveco.ram.starter.ui.model.IndexViewType"*/-->
<!--/*@thymesVar id="model" type="ro.siveco.ram.model.Entity"*/-->

<head>
    <title>Form Fragment</title>
</head>

<body>
<div th:fragment="form-fragment" class="form-fragment x-fragment" data-app-on="app:htmlRequest" data-app-handler="app.update">
    <div class="container" th:with="formType=${(model.objectUID==null)?'CREATE':'UPDATE'}">
        <div th:fragment="form-wrapper" class="form-wrapper model-view row" th:attr="
            data-model-uid=${model.objectUID},
            data-model-name=${model.modelName},
            data-model-view-name=${viewName},
            data-model-view-type=${viewType},
            data-app-on='app:uiUpdated',
            data-app-handler=${model.modelName+'OnUiUpdated'},
            data-app-on-self='this',
            data-meta-renderer=true,
            data-form-type=${formType}">
            <div class="row">
                <div class="col s12 m12 l6 left-align">
                    <a href="/" class="no-ajax waves-effect waves-light btn secondary back-button create-item" th:utext="#{common.back}"></a>
                </div>
                <div class="col s12 m12 l6 right-align">
                    <a th:href="${'/profile/' + model.user.id}" class="no-ajax waves-effect waves-light btn secondary open-view-button open-view-user-details" th:utext="#{view.profile.open}"></a>
                </div>
            </div>
            <div class="row user-details-tabs">
                <div class="col s12 m12 l12">
                    <ul class="tabs tabs-icon profile-tabs" id="userDetailsTabs">
                        <li class="tab col s4 personal-profile-header">
                            <a href="#personalProfile" id="user-details-personal-profile" class="active profile-tab">
                                <div class="text col left-align m4 hide-on-small-only">
                                    <p th:utext="#{user.personal.profile}">Personal profile</p>
                                </div>
                            </a>
                        </li>
                        <li class="tab col s4">
                            <a href="#interestsProfile" id="user-details-interests-profile" class="profile-tab">
                                <div class="text col left-align m4 hide-on-small-only">
                                    <p th:utext="#{user.interests.profile}">Interests
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="tab col s4">
                            <a href="#summaryProfile" id="user-details-summary-profile" class="profile-tab">
                                <div class="text col left-align m4 hide-on-small-only">
                                    <p th:utext="#{user.summary.profile}">Summary
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="indicator"></li>
                    </ul>
                </div>
            </div>
            <div class="form-content col s12">
                <th:block th:if="${model.objectUID==null}" th:with="formId=${modelName+'-'+model.modelName+'-create'}">

                    <form method="post" th:id="${formId}" class="model-form model-create-form" th:attr="data-model-name=${model.modelName}">
                        <div id="personalProfile">
                            <!--<div class="properties-wrapper"></div>-->
                            <div class="row">
                                <div class="col s6 properties-wrapper" data-group-name="firstName">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s6 properties-wrapper" data-group-name="lastName">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                        </div>
                        <div id="completeProfile"></div>
                        <div id="interestsProfile"></div>
                        <div id="summaryProfile"></div>
                    </form>
                </th:block>
                <th:block th:unless="${model.objectUID==null}" th:with="formId=${modelName+'-'+model.modelName+'-update'}">
                    <form method="put" th:id="${formId}" class="model-form model-update-form" th:attr="data-model-name=${model.modelName}">
                        <div id="personalProfile">
                            <!--<div class="properties-wrapper"></div>-->
                            <div class="row">
                                <div class="col s12 m12 l12 center properties-wrapper userCompleteProfile" data-group-name="imageMultipart">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row" id="userDetailsDeleteProfilePhoto">
                                <div class="col s12 m12 l12 center">
                                    <span id="userDetailsDeleteProfilePhotoButton"
                                          class="no-ajax waves-effect waves-light btn delete-profile-button"
                                          th:utext="#{deleteProfilePhoto.button}" th:onclick="|userDetailsDeleteProfilePhoto(${model.id})|">Delete picture</span>
                                </div>
                                <div class="col s12 m8 l8">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="firstName">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="lastName">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="email">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="phoneNo">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="country">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="cityName">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="properties-wrapper" data-group-name="city">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="language">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="oldPassword">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="password">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="confirmPassword">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col s12 m6 l6 properties-wrapper" data-group-name="gender">
                                        <div class="properties-wrapper-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="interestsProfile">
                            <div class="row">
                                <div class="col s12 m12 l12 properties-wrapper" data-group-name="includedTags">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div id="editProfileInterestsFormContainer">
                                    <div class="row center-align">
                                        <div class="col s12 wrapperInterests">
                                            <th:block th:each="itemElement : ${model.allInterests}">
                                                <div class="interest" th:id="${itemElement.id}">
                                                    <th:block th:if="${itemElement.selected == true}">
                                                        <img class="interest-img img-default hidden-image z-depth-5" th:attr="tagValue=${itemElement.getDisplayName()}" th:src="@{'/img/home/icons/' + ${itemElement.image}}"
                                                             th:id="image" th:onclick="|userDetailsChangeImage(this,${itemElement.id},${itemElement.tag.id})|"
                                                        />
                                                        <img class="interest-img img-selected visible-image z-depth-5" th:attr="tagValue=${itemElement.getDisplayName()}" th:src="@{'/img/home/icons/' + ${itemElement.imageSelected}}"
                                                             th:id="image" th:onclick="|userDetailsChangeImage(this,${itemElement.id},${itemElement.tag.id})|"
                                                        />
                                                        <h6 th:utext="${itemElement.getDisplayName()}"></h6>
                                                    </th:block>
                                                    <th:block th:unless="${itemElement.selected == true}">
                                                        <img class="interest-img img-default visible-image z-depth-5" th:attr="tagValue=${itemElement.getDisplayName()}" th:src="@{'/img/home/icons/' + ${itemElement.image}}"
                                                             th:id="image" th:onclick="|userDetailsChangeImage(this,${itemElement.id},${itemElement.tag.id})|"
                                                        />
                                                        <img class="interest-img img-selected hidden-image z-depth-5" th:attr="tagValue=${itemElement.getDisplayName()}" th:src="@{'/img/home/icons/' + ${itemElement.imageSelected}}"
                                                             th:id="image" th:onclick="|userDetailsChangeImage(this,${itemElement.id},${itemElement.tag.id})|"
                                                        />
                                                        <h6 th:utext="${itemElement.getDisplayName()}"></h6>
                                                    </th:block>
                                                </div>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="summaryProfile">
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="showCountry">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="showCity">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="showEmail">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="showPhone">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="showGender">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12 properties-wrapper" data-group-name="showInterests">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <!-- Delete profile (remove account) button (stage 1/3, in profile details -> summary) -->
                            <div class="row">
                                <div class="col s12 m12 l12 properties-wrapper" data-group-name="showAttendingItems">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6 properties-wrapper" data-group-name="sendEmail">
                                    <div class="properties-wrapper-content"></div>
                                </div>
                                <!--Offset to move it to the right side of the grid and align right on that side.-->
                                <!--As the rest of the profile details form loads with javascripts, "delete profile"
                                    button has to "wait" for all the other elements to load.-->
                                <div class="col s12 m6 l6 right-align">
                                    <a href="/user/delete-profile" id="userDetailsDeleteProfileButton"
                                       class="no-ajax waves-effect waves-light btn delete-profile-button"
                                       th:utext="#{deleteProfile.button}">Delete profile</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </th:block>
                <div class="row" id="profileActions">
                    <div class="col s12 m6 l6 cancel">
                        <a href="/sessions/" id="userDetailsCancelButton" class="generic-action action-list action-course-list btn secondary meta-controller right back-action"
                           th:utext="#{action.cancel}">Cancel</a>
                    </div>
                    <div class="actions-wrapper col s12 m6 l6 left">
                    </div>
                </div>
            </div>
        </div>
        <!--/* Index Bulk Actions */-->
        <div class="index-bulk-actions-wrapper"></div>

        <div id="deleteProfilePhotoModal" class="modal">
            <div class="modal-content center">
                <h4 th:utext="#{profile.deletePhoto.confirmation}">Are you sure you want to delete the picture?</h4>
            </div>
            <div class="modal-footer">
                <a id="send-mail-modal-back" class="no-ajax modal-action modal-close waves-effect waves-light btn"
                   th:utext="#{common.back}">Back</a>
                <a class="modal-action waves-effect waves-light btn ok-delete-picture"
                   th:utext="#{action.ok}">OK</a>
            </div>
        </div>
    </div>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhh4tRm7p8NUAdtD9JoLlhhD22Ub6XJ4k&amp;libraries=places"
        async="async" defer="defer"></script>-->
    <script th:inline="javascript">
        window.__updateDescriptor = {
            actionId: [[${ modelName+'-OPEN_' + ((model.objectUID == null) ? 'CREATE' : 'EDIT') + '_FORM' }]],
            viewType: [[${ viewType }]],
            pageTitleCode: [[${ modelName+'.' + viewType + '.title' }]],
            sectionClass: [[${ 'main-section form-section model model-'+modelName }]],
            modelName: [[${ modelName }]],
            modelDescriptor: JSON.parse([[${ jsonModelDescriptor }]]),
            model: JSON.parse([[${ jsonModel }]])
        };
    </script>
</div>
</body>

</html>