<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewName" type="java.lang.String"*/-->
<!--/*@thymesVar id="modelDescriptor" type="ro.siveco.ram.starter.ui.model.ModelDescriptor"*/-->
<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<ro.siveco.ram.model.Model>"*/-->
<!--/*@thymesVar id="viewType" type="ro.siveco.ram.controller.util.ViewType"*/-->
<!--/*@thymesVar id="indexViewType" type="ro.siveco.ram.starter.ui.model.IndexViewType"*/-->
<!--/*@thymesVar id="model" type="ro.siveco.ram.model.Model"*/-->
<head>
    <title>View Fragment</title>
</head>
<body>
<div th:fragment="view-fragment" class="view-fragment x-fragment"
     data-app-on="app:htmlRequest"
     data-app-handler="app.update">
    <div class="container">
        <div th:fragment="view-wrapper"
             class="view-wrapper model-view"
             th:attr="
            data-model-uid=${model.objectUID},
            data-model-name=${model.modelName},
            data-model-view-name=${viewName},
            data-model-view-type=${viewType},
            data-model-index-view-type=${indexViewType},
            data-app-on='app:uiUpdated',
            data-app-handler=${model.modelName+'OnUiUpdated'},
            data-app-on-self='this',
            data-meta-renderer=true">
            <div class="properties-wrapper"></div>

            <div class="row">
                <th:block th:if="${model.user.id == model.currentUserId}">
                    <div class="col s12 m12 l6 left-align">
                        <a th:href="${'/profile/edit/' + model.user.id}" class="no-ajax waves-effect waves-light btn secondary back-button create-item" th:utext="#{common.back}"></a>
                    </div>
                </th:block>
                <th:block th:unless="${model.user.id == model.currentUserId}">
                    <div class="col s12 m12 l6 left-align">
                        <a href="/" class="no-ajax waves-effect waves-light btn secondary back-button create-item" th:utext="#{common.back}"></a>
                    </div>
                </th:block>

                <th:block th:if="${model.user.id == model.currentUserId}">
                    <div class="col s12 m12 l6 right-align">
                        <a th:href="${'/profile/edit/' + model.user.id}" class="no-ajax waves-effect waves-light btn secondary close-view-button view-user-details" th:utext="#{view.profile.close}"></a>
                    </div>
                </th:block>
            </div>

            <div class="dark-green-background">
                <div class="row">
                    <div class="col s12 m12 l12 properties-wrapper" data-group-name="displayName">
                        <div class="properties-wrapper-content"></div>
                    </div>
                </div>
                <div class="row user-details-image-row">
                    <div class="col s12 m12 l3 properties-wrapper user-details-image" data-group-name="userImage">
                        <div class="properties-wrapper-content"></div>
                    </div>
                    <div class="col s12 m12 l5 left-align">
                        <div class="row user-details-city-row">
                            <div class="col s12 m12 l12 properties-wrapper" data-group-name="cityName">
                                <div class="properties-wrapper-content"></div>
                            </div>
                        </div>
                        <div class="row user-details-country-row">
                            <div class="col s12 m12 l12 properties-wrapper" data-group-name="presentationCountry">
                                <div class="properties-wrapper-content"></div>
                            </div>
                        </div>
                        <div class="row user-details-email-row">
                            <div class="col s12 m12 l12 properties-wrapper" data-group-name="presentationEmail">
                                <div class="properties-wrapper-content"></div>
                            </div>
                        </div>
                        <div class="row user-details-phone-row">
                            <div class="col s12 m12 l12 properties-wrapper" data-group-name="presentationPhoneNo">
                                <div class="properties-wrapper-content"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col s10 m11 l3  user-details-activity">
                        <div class="row user-details-activity-title valign-wrapper center-align"><span th:utext="#{model.course.property.type.enum.ACTIVITY}">ACTIVITY</span></div>
                        <ul class="browser-default">
                            <li>
                                <span class="user-details-activity-item" th:utext="${model.firstName}"></span>
                                <span class="user-details-activity-item" th:utext="#{paletteAmbassador.label}"></span>
                            </li>
                            <li>
                                <span class="user-details-activity-item" th:utext="${model.firstName}"></span>
                                <span class="user-details-activity-item" th:utext="#{hasCreated.label}"></span>
                                <span class="user-details-activity-item bold" th:utext="${model.createdItemsNo}"></span>
                                <span class="user-details-activity-item" th:utext="#{itemsOnPalette.label}"></span>
                            </li>
                            <li>
                                <span class="user-details-activity-item" th:utext="${model.firstName}"></span>
                                <span class="user-details-activity-item" th:utext="#{hasFavored.label}"></span>
                                <span class="user-details-activity-item bold" th:utext="${model.favoredItemsNo}"></span>
                                <span class="user-details-activity-item" th:utext="#{itemsOnPalette.label}"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="user-details-interests-row">
                    <div class="row view-profile-interests-name">
                        <div class="col s12 m12 l12">
                            <span th:utext="#{property.includedTags.label}">INTERESTS</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 properties-wrapper" data-group-name="includedTags">
                            <div class="properties-wrapper-content"></div>
                        </div>
                        <div id="viewProfileInterestsFormContainer">
                            <div class="row left-align">
                                <div class="col s12 interests-container">
                                    <th:block th:each="itemElement : ${model.allInterests}">
                                        <th:block th:if="${itemElement.selected == true}">
                                                <div class="interest" th:id="${itemElement.id}">
                                                    <img class="interest-img img-selected visible-image z-depth-5" th:attr="tagValue=${itemElement.getDisplayName()}"
                                                         th:src="@{'/img/home/icons/' + ${itemElement.imageSelected}}" th:id="image"/>
                                                    <h6 class="user-view-interest" th:utext="${itemElement.getDisplayName()}"></h6>
                                                </div>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <th:block th:include="overrides/plannedCourse/user-items-fragment :: component(${plannedCourses},'offers','')"></th:block>
                </div>

                <div>
                    <th:block th:if="${model.showAttendingItems == true}" th:include="overrides/plannedCourse/user-items-fragment :: component(${attendingCourses},'attending','view.profile.attending.suffix')"></th:block>
                </div>

                <div>
                    <th:block th:include="overrides/plannedCourse/user-items-fragment :: component(${attendedCourses},'attended','in.the.past.label')"></th:block>
                </div>
            </div>

            <div class="row"></div>
        </div>
        <!--/* Index Bulk Actions */-->
        <div class="index-bulk-actions-wrapper"></div>
    </div>
    <script th:inline="javascript">
        window.__updateDescriptor = {
            actionId: [[${modelName+'-OPEN_PRESENTATION'}]],
            viewType: [[${viewType}]],
            pageTitleCode: [[${model.objectLabel}]],
            sectionClass: [[${'main-section view-section model model-'+modelName}]],
            modelName: [[${modelName}]],
            modelDescriptor: JSON.parse([[${jsonModelDescriptor}]]),
            page: {content: [JSON.parse([[${jsonModel}]])]}
        };
    </script>
</div>
</body>
</html>
