$brand-color: $primary-color;
$main-color: $primary-color-light;
$accent-color: $secondary-color;
$selected-color: $secondary-color-light;
$backgound-color: #eeeeee;

/* materialize comps */
html.materialize .main-section {
  top: 80px;
}

.btn,
.btn.large {
  background-color: $accent-color;
  &:hover {
    background-color: lighten($accent-color, 15%);
  }
}

[type="checkbox"]:checked + label:before {
  border-right-color: $accent-color;
  border-bottom-color: $accent-color;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
.input-field .prefix.active {
  color: $accent-color;
}

/* login */
.login {
  &--section {
    background: $main-color url($login-bg) left center no-repeat;
    background-size: cover;
    background-position: bottom;

    .container-x {
      position: absolute;
      width: 100%;
      bottom: 30px;
    }

    &:before {
      display: block;
      position: absolute;
      width: 100vw;
      height: 100vh;
      //background: transparent url(/img/overlay.png) center center;
      content: ' ';
      z-index: 0;
    }

    > .container {
      position: relative;
      z-index: 1;
    }
  }
  &--box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+3,aeea00+4,aeea00+13,ffffff+14 */
    background: $backgound-color; /* Old browsers */
    //background: -moz-linear-gradient(top, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 1;
    position: static;
    bottom: 30px;
  }
  &--with {
    margin-top: 8px;
    > div {
      margin: 12px 0;
    }
    a {
      display: inline-block;
    }
  }
}

/* main-nav */
header .navbar-fixed {
  background-color: $backgound-color;
}

nav {
  width: 100vw;
  .nav-wrapper {
    background-color: $brand-color;
    > .container {
      position: relative;
      &:after {
        display: block;
        height: 0;
        line-height: 0;
        content: ' ';
        clear: both;
      }
    }
    .brand-logo {
      top: 7px;
      left: 0 !important;
      padding: 0;
      line-height: 1;
      img {
        max-height: 56px;
      }
    }
  }
  ul a {
    position: relative;
    padding: 0 12px;
    font-size: 1.2rem;
  }
}

.index {
  &-wrapper {
    > div {
      position: relative;

      .fixed-action-btn {
        .btn-floating {
          background-color: $accent-color !important;
        }
      }
    }
  }
  &-view-type {
    .model-search {
      margin-top: 0;
      .btn {
        height: 48px;
      }
      > .file-path-wrapper {
        height: 48px;
        background-color: #fff;

        > .material-icons {
          line-height: 48px;
        }
        > input {
          padding-top: 0;
          padding-bottom: 0;

          + label {
            line-height: 24px;
          }
        }
      }
    }
  }
}

.tabs {
  .tab {
    a {
      color: $main-color;
      &:hover, &.active {
        color: $accent-color;
      }
      &.pending-request {
        position: relative;
        .material-icons {
          position: absolute;
          top: 10px;
          left: 10px;
          .circle-clipper {
            &.left {
              border-color: $accent-color;
            }
            &.right {
              border-color: $accent-color;
            }
          }
        }
      }
    }
  }
  .indicator {
    background-color: $accent-color;
  }
}

#tabs-container {
  .index-view-type {
    margin: 0 0 20px 0;
  }
  table {
    background-color: white;
    th, td {
      padding-left: 10px;
      padding-right: 10px;
    }
    td.avatar img {
      margin-left: 10px;
    }
  }
}

/* course */
.course {
  &--card {
    margin: 2rem 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  &--image {
    display: block;
    background-position: center center;
    background-size: cover;
    //height: 196px;
  }
  &--property {
    position: absolute;
    top: 1rem;
    right: 4rem;

    .badge {
      margin-left: 0;
    }

    .card & + .card-title {
      top: calc(50% - 15px);
      bottom: auto;
      width: calc(100% - 72px);
      margin: -56px 36px 0;
      padding: 24px 0;
      background-color: transparent;
      text-align: center;
      text-shadow: 0 0 .25rem rgba(#000, .8);
      font-size: 4rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;

      > small {
        display: block;
        padding: 10px 60px;
        line-height: 1;
        background-color: rgba(darken($main-color, 20%), .85);
        font-size: 36%;
        font-weight: 400;
      }
    }
  }
}

.card-reveal {
  .card-title {
    margin-top: 0;
    font-weight: 600;
  }
}

.pagination {
  li.active {
    background-color: $accent-color;
  }
}

@media only screen and (max-width: 600px) {
  .course {
    &--image {
      //height: 282px;
    }
    &--property {
    }
  }
}

@media only screen and (min-width: 601px) {
  .course {
    &--image {
      //height: 240px;
    }
    &--property {
    }
  }
}

@media only screen and (min-width: 993px) {
  .course {
    &--image {
      //height: 282px;
    }
    &--property {
    }
  }
}

@media only screen and (max-width: 1200px) {
  nav {
    ul a {
      padding: 0 10px;
    }
  }
}

@media only screen and (min-width: 1201px) {
  .course {
    &--image {
      //height: 252px;
    }
    &--property {
    }
  }
}

@media only screen and (min-width: 1601px) {
  .course {
    &--image {
      //height: 342px;
    }
    &--property {
    }
  }
}

@media (orientation: portrait) {
  body {
    overflow: hidden;
  }
  body:after {
    position: fixed;
    top: 25vh;
    left: calc(50vw - 2rem);
    z-index: 100001;
    display: inline-block;
    line-height: 1;
    color: $accent-color;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 4em;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: 'warning';
  }
  body:before {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    content: attr(data-landscape);
    background-color: darken($main-color, 20%);
    color: $accent-color;
    font-size: 2rem;
    text-align: center;
    z-index: 100000;
  }
}

.model-plannedCourseStudent {
  .index-wrapper {
    .card {
      background-color: transparent;
      box-shadow: none;
      .card-image {
        .image-wrapper {
          border-radius: 50%;
          overflow: hidden;
          width: 200px;
          height: 200px;
          margin-left: auto;
          margin-right: auto;
          .image-tag {
            @extend .z-depth-1;
            height: 200px;
          }
        }
      }
      .card-content {
        min-height: 150px;
        .card-title {
          text-align: center;

          .model-property-value {
            &.model-property-objectLabel {
              white-space: normal;
            }
          }
        }
      }
    }
  }
  .view-wrapper {
    .model-property-value {
      &.model-property-objectLabel {
        font-size: 3.2rem;
        color: $primary-color;
        white-space: normal;
      }
      &.model-property-startDate {
        padding: 3px 10px;
        border-top: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey;
        margin-bottom: 10px;
        .property-label {
          .material-icons {
            background-color: #d3d3d3;
            border-radius: 50%;
            padding: 5px;
            & + span {
              color: $accent-color;
              position: relative;
              top: -5px;
            }
          }
        }
        .property-value {
          position: relative;
          top: -5px;
        }
      }
      &.model-property-imageSrc {
        border-radius: 50%;
        overflow: hidden;
        width: 250px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        .image-tag {
          @extend .z-depth-1;
          height: 250px;
        }
      }
      &.model-property-courseObjectives {
        .property-label {
          font-size: 1.64rem;
        }
      }
      &.model-property-promovationCertification {
        .property-label {
          float: left;
          clear: left;
        }
        .property-value {
          float: left;
          clear: left;
        }
      }
      &.model-property-participationCertificate {
        .property-label {
          float: left;
          clear: left;
        }
        .property-value {
          float: left;
          clear: left;
        }
      }
      &.model-property-rating {
        .rating-star-element {
          &:hover {
            color: $third-color-dark;
          }
        }
      }
    }

  }

}

.model-course {
  .index-wrapper {
    .card {
      background-color: transparent;
      box-shadow: none;
      .card-image {
        .image-wrapper {
          border-radius: 50%;
          overflow: hidden;
          width: 200px;
          height: 200px;
          margin-left: auto;
          margin-right: auto;
          .image-tag {
            @extend .z-depth-1;
            height: 200px;
          }
        }
      }
      .card-content {
        min-height: 150px;
        .card-title {
          text-align: center;

          .model-property-value {
            &.model-property-objectLabel {
              white-space: normal;
            }
          }
        }
      }
    }

    .collection {
      border: none;

      .collection-item {
        margin-bottom: 10px;
        min-height: 120px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;

        .image-wrapper {
          vertical-align: middle;
        }

        .title {
          text-align: center;
          vertical-align: middle;
        }

        .properties-wrapper {
          text-align: center;
          vertical-align: middle;
        }

        .actions-wrapper {
          vertical-align: middle;
        }

      }
    }
  }

  .view-wrapper {
    &.model-course {
      // background-color: white;
      //border:1px solid lightgrey;
      //border-radius: 5px;
    }
    .model-property-value {

      &.model-property-objectLabel {
        font-size: 3.2rem;
        color: $primary-color;
        white-space: normal;
      }

      &.model-property-imageSrc {
        border-radius: 50%;
        overflow: hidden;
        width: 250px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        .image-tag {
          @extend .z-depth-1;
          height: 250px;
        }
      }

      &.model-property-plannedCourses {

      }
    }

  }

}

.btn {
  border-radius: 17px;
}
