<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Fragment</title>
</head>
<body>
<div th:fragment="chooser" class="content-accessor-chooser-wrapper">
    <div id="content-accessor-chooser" class="modal modal-dialog" data-app-plugin="modal" data-app-selector="this">
        <!--/*@thymesVar id="nodeAccessLink" type="java.lang.String"*/-->
        <div class="modal-content"
             th:with="
             playerChoises=${T(ro.siveco.ael.web.controllers.cr.BaseContentController).PLAYER_CHOICES_FLASH_ATTRIBUTE}">
            <h4 th:utext="#{content.accessor.choose}">Choose the player</h4>
            <ul class="collection players-list">
                <li class="collection-item avatar" th:each="player : ${playerChoices}">
                    <i class="material-icons circle blue" th:utext="#{${player.getPlayerIconMessageCode()}}">Player icon
                        name</i>
                    <a th:href="@{${T(ro.siveco.ael.web.components.WebPath).contentResourceWithPlayerName(nodeAccessLink,player.getName())}}">
                        <span class="player-name" th:utext="#{${player.getPlayerNameMessageCode()}}">Player Name</span>
                    </a>
                </li>
            </ul>
            <p class="collection-no-items" th:if="${playerChoices.size()==0}">
                <span class="title" th:utext="#{content.accessor.noPlayersAvailable}">No players available</span>
            </p>

        </div>
        <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-green btn-flat" th:utext="#{action.cancel}">
                Cancel
            </button>
        </div>
    </div>
</div>
</body>
</html>