<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rating Input Fragment</title>
</head>
<body>

<th:block th:fragment="view(value)">
    <div class="rating orange-text">
        <i class="material-icons" th:text="${value lt 0.5} ? 'star_border' : (${value ge 1}?  'star' : 'star_half')" th:classappend="${_starSize?:'medium'}"></i>
        <i class="material-icons" th:text="${value lt 1.5} ? 'star_border' : (${value ge 2}?  'star' : 'star_half')" th:classappend="${_starSize?:'medium'}"></i>
        <i class="material-icons" th:text="${value lt 2.5} ? 'star_border' : (${value ge 3}?  'star' : 'star_half')" th:classappend="${_starSize?:'medium'}"></i>
        <i class="material-icons" th:text="${value lt 3.5} ? 'star_border' : (${value ge 4}?  'star' : 'star_half')" th:classappend="${_starSize?:'medium'}"></i>
        <i class="material-icons" th:text="${value lt 4.5} ? 'star_border' : (${value eq 5}?  'star' : 'star_half')" th:classappend="${_starSize?:'medium'}"></i>
    </div>
</th:block>
<th:block th:fragment="rate(learnerCourseAssociation)">
    <fieldset class="rating">
        <!--/*@thymesVar id="learnerCourseAssociation" type="ro.siveco.ael.lcms.domain.course.model.PlannedCourseStudent"*/-->
        <input type="radio" id="star-5" name="over_rating" value="5.0" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',5)'"/><label class = "full" for="star-5" title="Awesome - 5 stars" th:title="#{rating.great}"></label>
        <input type="radio" id="star-4.5" name="over_rating" value="4.5" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',4.5)'"/><label class="half" for="star-4.5" title="Pretty good - 4.5 stars" th:title="#{rating.very.good.4.5}"></label>
        <input type="radio" id="star-4" name="over_rating" value="4.0" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',4)'"/><label class = "full" for="star-4" title="Pretty good - 4 stars" th:title="#{rating.very.good.4}"></label>
        <input type="radio" id="star-3.5" name="over_rating" value="3.5" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',3.5)'" /><label class="half" for="star-3.5" title="Meh - 3.5 stars" th:title="#{rating.good.3.5}"></label>
        <input type="radio" id="star-3" name="over_rating" value="3.0" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',3)'"/><label class = "full" for="star-3" title="Meh - 3 stars" th:title="#{rating.medium.3}"></label>
        <input type="radio" id="star-2.5" name="over_rating" value="2.5" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',2.5)'"/><label class="half" for="star-2.5" title="Kinda bad - 2.5 stars" th:title="#{rating.medium.2.5}"></label>
        <input type="radio" id="star-2" name="over_rating" value="2.0" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',2)'"/><label class = "full" for="star-2" title="Kinda bad - 2 stars" th:title="#{rating.bad.2}"></label>
        <input type="radio" id="star-1.5" name="over_rating" value="1.5" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',1.5)'"/><label class="half" for="star-1.5" title="Meh - 1.5 stars" th:title="#{rating.very.bad.1.5}"></label>
        <input type="radio" id="star-1" name="over_rating" value="1.0" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',1)'"/><label class = "full" for="star-1" title="Sucks big time - 1 star" th:title="#{rating.very.bad.1}"></label>
        <input type="radio" id="star-0.5" name="over_rating" value="0.5" th:onclick="'rateCourse(' + ${learnerCourseAssociation.id} + ',0.5)'"/><label class="half" for="star-0.5" title="Sucks big time - 0.5 stars" th:title="#{rating.worst}"></label>
    </fieldset>
</th:block>
</body>
</html>
