<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title th:text="#{errorPage.title} +' - '+ ${title}"></title>
</head>
<body>
<section layout:fragment="pageContent" class="main-section error" th:attr="data-exception-class=${exception}">
    <div class="container">
        <h1 th:utext="#{error}+'('+${status}+') '+${error}" class="red-text"></h1>
        <p class="message" th:utext="${message}"></p>
        <div class="row">
            <div class="col s1">
                <th:block th:include="app/errors/working-guy :: working-guy"></th:block>
            </div>
            <div class="col s11">
                <pre th:unless="${#isProduction}" class="trace code grey-text" th:utext="${trace}"></pre>
            </div>
        </div>
    </div>
</section>
</body>
</html>