<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.toLanguageTag()}">
<head>
    <style>
        span.select2-selection {
            height: 45px !important;
            border: none !important;
            border-bottom: 1px solid #e0e0e0 !important;
        }

        span.select2-selection span {
            padding: 5px !important;
        }
    </style>
</head>
<body>

<div class="hidden messages" style="display:none">
    <span message-attr="user-message.get.users.error" th:utext="#{user-message.get.users.error}"></span>
    <span message-attr="user-message.recipient.does.not.exist.error"
          th:utext="#{user-message.recipient.does.not.exist.error}"></span>
    <span message-attr="user-message.send.message.error" th:utext="#{user-message.send.message.error}"></span>
    <span message-attr="user-message.save.draft.error" th:utext="#{user-message.save.draft.error}"></span>

</div>

<form class="col s12" id="form" name="form" style="padding-top:20px;">
    <input class="form-control" name="id" th:value="${userMessage.id}" style="display:none;"/>
    <input class="form-control" name="isReply" th:value="${userMessage.isReply}" style="display:none;"/>

    <div class="row">
        <div class="input-field col s12">
            <select id="to" name="to" style="width: 100%">
                <option th:each="user : ${userList}" th:value="${user.username}"
                        th:text="${user.firstName + ' ' + user.lastName}"
                        th:selected="(${user.username} == *{userMessage.toUsername})"></option>
            </select>
            <label for="to" class="active" th:utext="#{user-messages.to}">To</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input class="validate" id="subject" name="subject" autocomplete="off" type="text"
                   th:value="${userMessage.subject}"/>
            <label for="subject" th:utext="#{user-messages.subject}">Subject</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
				<textarea id="messageBody" class="materialize-textarea" name="messageBody"
                          th:text="${userMessage.messageBody}"
                          style="min-height:150px; max-height:250px; overflow: auto;"></textarea>
            <label for="messageBody" th:utext="#{user-messages.content}">Content</label>
        </div>
    </div>
    <div class="form-group form-material">
        <div class="col-sm-9 col-sm-offset-3">
            <button type="button" id="sendBtn" class="btn btn-primary waves-effect waves-light"
                    style="text-transform: none;" th:utext="#{user-messages.send}">Send
            </button>
            <button type="button" id="saveDraftBtn" class="btn btn-warning waves-effect waves-light"
                    style="text-transform: none;" th:utext="#{user-messages.save.draft}">Save as Draft
            </button>
        </div>
    </div>
</form>

<script th:inline="javascript">
    /*<![CDATA[*/
    Materialize.updateTextFields();

    $('select#to').select2();

    var usersList = [];

    $.ajax({
               type: 'GET',
               url: "/user_messages/getUsers",
               cache: false,
               processData: false,
               contentType: "application/json",
               success: function (response) {
                   var json = $.parseJSON(response);
                   usersList = json.list;
               },
               error: function (XMLHttpRequest, textStatus, errorThrown) {
                   alert($(".messages [message-attr='user-message.get.users.error']").text());
               }
           });

    $('#sendBtn').on("click", function () {
        var ary = $("#form").serializeArray();

        var obj = {};
        for (var i = 0; i < ary.length; i++) {
            var property = ary[i].name;
            var val = ary[i].value;

            obj[property] = val;
            if (property == 'to') {
                for (var k = 0; k < usersList.length; k++) {
                    if (usersList[k].name == val) {
                        obj[property] = usersList[k].id;
                    }
                }
            }
        }

        $.ajax({
                   type: 'POST',
                   url: "/user_messages/sendMail",
                   data: JSON.stringify(obj),
                   cache: false,
                   processData: false,
                   contentType: "application/json",
                   success: function (response) {
                       if (response == 1) {
                           alert($(".messages [message-attr='user-message.recipient.does.not.exist.error']").text());
                       }
                       else {
                           window.location = '/user_messages/';
                       }
                   },
                   error: function (XMLHttpRequest, textStatus, errorThrown) {
                       alert($(".messages [message-attr='user-message.send.message.error']").text());
                   }
               });
    });

    $('#saveDraftBtn').on("click", function () {
        var ary = $("#form").serializeArray();

        var obj = {};
        for (var i = 0; i < ary.length; i++) {
            var property = ary[i].name;
            var val = ary[i].value;
            obj[property] = val;
        }

        $.ajax({
                   type: 'POST',
                   url: "/user_messages/saveDraft",
                   data: JSON.stringify(obj),
                   cache: false,
                   processData: false,
                   contentType: "application/json",
                   success: function (response) {
                       if (response == 1) {
                           alert($(".messages [message-attr='user-message.recipient.does.not.exist.error']").text());
                       }
                       else {
                           window.location = '/user_messages/';
                       }
                   },
                   error: function (XMLHttpRequest, textStatus, errorThrown) {
                       alert($(".messages [message-attr='user-message.save.draft.error']").text());
                   }
               });
    });
    /*]]>*/
</script>

</body>
</html>
