<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title th:utext="#{user-messages.messages.title}"></title>
    <style>
        .container, .container h1, .container div {
            width: 100%;
        }

        #tab-messages .read {
            font-style: normal;
        }

        #tab-messages .unread, #tab-messages .unread h4 {
            font-weight: bold;
        }
    </style>
</head>
<body>
<section layout:fragment="pageContent">
    <div class="user-msg-class" style="width:100%; padding:15px; border:0; margin:0;">
        <h3>
            <i class="material-icons">mail</i>
            <span th:utext="#{user-messages.messages.title}"></span>
        </h3>

        <div class="row">
            <div class="col m2">
                <button class="btn btn-default btn-block" id="composeBtn" th:utext="#{user-messages.messages.compose}"
                        style="text-transform: none;">Compose
                </button>
                <br/>
                <div class="collection">
                    <a href="#!" id="tab-title-inbox-messages" class="collection-item active">
                        <th:block th:if="${unreadMessagesNr > 0}">
                            <span class="badge red white-text pull-right" th:text="${unreadMessagesNr}"
                                  style="min-width: 30px;"></span>
                        </th:block>
                        <span th:utext="#{user-messages.messages.inbox}">Inbox</span>
                    </a>
                    <a href="#!" id="tab-title-draft-messages" class="collection-item">
                        <th:block th:if="${draftMessages != null &amp;&amp; draftMessages.size() > 0}">
                            <span class="badge blue white-text pull-right" th:text="${draftMessages.size()}"
                                  style="min-width: 30px;"></span>
                        </th:block>
                        <span th:utext="#{user-messages.messages.drafts}">Draft</span>
                    </a>
                    <a href="#!" id="tab-title-sent-messages" class="collection-item">
                        <span th:utext="#{user-messages.messages.sent}">Sent</span>
                    </a>
                </div>
            </div>

            <div class="col m4">
                <div class="row valign-wrapper">
                    <div class="checkbox" style="float:left; width:20px; height:20px;">
                        <input type="checkbox" class="filled-in" id="selectUnselectAll"/>
                        <label for="selectUnselectAll" style="height:20px;"></label>
                    </div>

                    <a class='dropdown-button btn-flat' href='#' data-activates='dropdown1'
                       style="padding:0 10px; text-transform: none;">
                        <span th:utext="#{user-messages.select.messages}">Select</span><i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li id="selectAll"><a href="#" th:utext="#{user-messages.messages.all}">All</a></li>
                        <li id="deselectAll"><a href="#" th:utext="#{user-messages.messages.none}">None</a></li>
                        <li id="selectAllRead"><a href="#" th:utext="#{user-messages.messages.read}">Read</a></li>
                        <li id="selectAllUnread"><a href="#" th:utext="#{user-messages.messages.unread}">Unread</a></li>
                    </ul>


                    <button id="refreshMessages" type="button" class="btn-flat" data-toggle="tooltip" title="Refresh"
                            th:title="#{user-messages.refresh}" style="padding:0 10px;">
                        <i class="material-icons">loop</i>
                    </button>
                    <button id="deleteMessages" type="button" class="btn-flat" data-toggle="tooltip" title="Delete"
                            th:title="#{user-messages.delete}" style="padding:0 10px;">
                        <i class="material-icons">delete</i>
                    </button>


                    <a class='dropdown-button btn-flat' href='#' data-activates='dropdown2'
                       style="padding:0 10px; text-transform: none;">
                        <span th:utext="#{user-messages.more.actions}">More actions</span><i
                            class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li id="markAsRead"><a href="#" th:utext="#{user-messages.mark.as.read}">Mark as read</a></li>
                        <li id="markAsUnread"><a href="#" th:utext="#{user-messages.mark.as.unread}">Mark as unread</a>
                        </li>
                    </ul>

                </div>

                <div class="tab-panel">
                    <div class="tab-content" id="tab-messages">
                        <div class="tab-pane fade in active" id="inbox-messages">
                            <th:block th:if="${inboxMessages != null &amp;&amp; inboxMessages.size() > 0}">
                                <table class="table bordered highlight">
                                    <tbody>
                                    <tr th:each="message : ${inboxMessages}"
                                        class="waves-effect waves-block waves-classic">
                                        <td style="padding:0;">
                                            <div class="checkbox" style="float:left; width:20px;">
                                                <input th:id="'sid-' + ${message.id}" name="selected" type="checkbox"
                                                       class="filled-in toggle-state-switch"
                                                       th:classappend="${message.readDate} ? read : unread"/>
                                                <label th:for="'sid-' + ${message.id}"></label>
                                            </div>
                                        </td>
                                        <td style="width:100%; padding:0;">
                                            <div id="inboxMsgId" th:attr="data-id=${message.id}" style="padding:0 10px;"
                                                 th:classappend="${message.readDate} ? read : unread">
                                                <th:block th:if="${message.from}">
                                                    <h4 style="margin:0; padding:10px;" th:text="${message.from}"></h4>
                                                </th:block>
                                                <th:block th:unless="${message.from}">
                                                    <h4 style="margin:0; padding:10px;"
                                                        th:utext="#{user-messages.no-recipient}">[No recipient]</h4>
                                                </th:block>
                                                <th:block th:if="${message.subject}">
                                                    <p style="margin:0; padding:10px;" th:text="${message.subject}"></p>
                                                </th:block>
                                                <th:block th:unless="${message.subject}">
                                                    <p style="margin:0; padding:10px;"
                                                       th:utext="#{user-messages.no-subject}">[No subject]</p>
                                                </th:block>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </th:block>
                            <th:block th:unless="${draftMessages != null &amp;&amp; draftMessages.size() > 0}">
                                <h4 style="margin:0; padding:10px;" th:utext="#{user-messages.no-messages}">No
                                    messages</h4>
                            </th:block>
                        </div>
                        <div class="tab-pane" id="draft-messages" style="display:none;">
                            <th:block th:if="${draftMessages != null &amp;&amp; draftMessages.size() > 0}">
                                <table class="table bordered highlight">
                                    <tbody>
                                    <tr th:each="message : ${draftMessages}"
                                        class="waves-effect waves-block waves-classic">
                                        <td style="padding:0;">
                                            <div class="checkbox" style="float:left; width:20px;">
                                                <input th:id="'sid-' + ${message.id}" name="selected" type="checkbox"
                                                       class="filled-in toggle-state-switch"/>
                                                <label th:for="'sid-' + ${message.id}"></label>
                                            </div>
                                        </td>
                                        <td style="width:100%; padding:0;">
                                            <div id="draftMsgId" th:attr="data-id=${message.id}"
                                                 style="padding:0 10px;">
                                                <th:block th:if="${message.to}">
                                                    <h4 style="margin:0; padding:10px;" th:text="${message.to}"></h4>
                                                </th:block>
                                                <th:block th:unless="${message.to}">
                                                    <h4 style="margin:0; padding:10px;"
                                                        th:utext="#{user-messages.no-recipient}">[No recipient]</h4>
                                                </th:block>
                                                <th:block th:if="${message.subject}">
                                                    <p style="margin:0; padding:10px;" th:text="${message.subject}"></p>
                                                </th:block>
                                                <th:block th:unless="${message.subject}">
                                                    <p style="margin:0; padding:10px;"
                                                       th:utext="#{user-messages.no-subject}">[No subject]</p>
                                                </th:block>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </th:block>
                            <th:block th:unless="${draftMessages != null &amp;&amp; draftMessages.size() > 0}">
                                <h4 style="margin:0; padding:10px;" th:utext="#{user-messages.no-messages}">No
                                    messages</h4>
                            </th:block>
                        </div>
                        <div class="tab-pane" id="sent-messages" style="display:none;">
                            <th:block th:if="${sentMessages != null &amp;&amp; sentMessages.size() > 0}">
                                <table class="table bordered highlight">
                                    <tbody>
                                    <tr th:each="message : ${sentMessages}"
                                        class="waves-effect waves-block waves-classic">
                                        <td style="padding:0;">
                                            <div class="checkbox" style="float:left; width:20px;">
                                                <input th:id="'sid-' + ${message.id}" name="selected" type="checkbox"
                                                       class="filled-in toggle-state-switch"/>
                                                <label th:for="'sid-' + ${message.id}"></label>
                                            </div>
                                        </td>
                                        <td style="width:100%; padding:0;">
                                            <div id="sentMsgId" th:attr="data-id=${message.id}" style="padding:0 10px;">
                                                <th:block th:if="${message.to}">
                                                    <h4 style="margin:0; padding:10px;" th:text="${message.to}"></h4>
                                                </th:block>
                                                <th:block th:unless="${message.to}">
                                                    <h4 style="margin:0; padding:10px;"
                                                        th:utext="#{user-messages.no-recipient}">[No recipient]</h4>
                                                </th:block>
                                                <th:block th:if="${message.subject}">
                                                    <p style="margin:0; padding:10px;" th:text="${message.subject}"></p>
                                                </th:block>
                                                <th:block th:unless="${message.subject}">
                                                    <p style="margin:0; padding:10px;"
                                                       th:utext="#{user-messages.no-subject}">[No subject]</p>
                                                </th:block>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </th:block>
                            <th:block th:unless="${sentMessages != null &amp;&amp; sentMessages.size() > 0}">
                                <h4 style="margin:0; padding:10px;" th:utext="#{user-messages.no-messages}">No
                                    messages</h4>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col m6 message-details-panel">
            </div>
        </div>


    </div>
</section>

<th:block layout:fragment="my-scripts">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    <script type="text/javascript">
        var $messagePanel = $(".message-details-panel");
        var $inboxMsgs = $("#tab-messages #inboxMsgId");
        var $draftMsgs = $("#tab-messages #draftMsgId");
        var $sentMsgs = $("#tab-messages #sentMsgId");

        $('#tab-title-inbox-messages').on("click", function () {
            $('#tab-title-sent-messages').removeClass("active");
            $('#tab-title-draft-messages').removeClass("active");
            $('#sent-messages').hide();
            $('#draft-messages').hide();

            if (!$('#tab-title-inbox-messages').hasClass("active")) {
                $draftMsgs.parent().removeClass("active");
                $sentMsgs.parent().removeClass("active");
                $('.toggle-state-switch').prop('checked', false);
                $('#selectUnselectAll').prop('checked', false);
                $messagePanel.fadeOut();
            }

            $('#tab-title-inbox-messages').addClass("active");
            $("#inbox-messages").show();
            $("#inbox-messages").addClass("fade in active");
        });

        $('#tab-title-draft-messages').on("click", function () {
            $('#tab-title-inbox-messages').removeClass("active");
            $('#tab-title-sent-messages').removeClass("active");
            $('#inbox-messages').hide();
            $('#sent-messages').hide();

            if (!$('#tab-title-draft-messages').hasClass("active")) {
                $inboxMsgs.parent().removeClass("active");
                $sentMsgs.parent().removeClass("active");
                $('.toggle-state-switch').prop('checked', false);
                $('#selectUnselectAll').prop('checked', false);
                $messagePanel.fadeOut();
            }

            $('#tab-title-draft-messages').addClass("active");
            $("#draft-messages").show();
            $("#draft-messages").addClass("fade in active");
        });

        $('#tab-title-sent-messages').on("click", function () {
            $('#tab-title-inbox-messages').removeClass("active");
            $('#tab-title-draft-messages').removeClass("active");
            $('#inbox-messages').hide();
            $('#draft-messages').hide();

            if (!$('#tab-title-sent-messages').hasClass("active")) {
                $inboxMsgs.parent().removeClass("active");
                $draftMsgs.parent().removeClass("active");
                $('.toggle-state-switch').prop('checked', false);
                $('#selectUnselectAll').prop('checked', false);
                $messagePanel.fadeOut();
            }

            $('#tab-title-sent-messages').addClass("active");
            $("#sent-messages").show();
            $("#sent-messages").addClass("fade in active");
        });

        $('#selectUnselectAll').change(function (e, data) {
            var checked = $(this).prop('checked');
            checkAllMessages(checked);
        });

        $('#selectAll').click(function (e, data) {
            $('#selectUnselectAll').prop('checked', true);
            checkAllMessages(true);
        });

        $('#deselectAll').click(function (e, data) {
            $('#selectUnselectAll').prop('checked', false);
            checkAllMessages(false);
        });

        function checkAllMessages(checked) {
            if ($('#tab-title-inbox-messages').hasClass("active")) {
                $('#inbox-messages .toggle-state-switch').prop('checked', checked);
                verifyAllMessagesForMarking();
            }
            else if ($('#tab-title-draft-messages').hasClass("active")) {
                $('#draft-messages .toggle-state-switch').prop('checked', checked);
            }
            else {
                $('#sent-messages .toggle-state-switch').prop('checked', checked);
            }
        }

        $('#selectAllRead').click(function (e) {
            if ($('#tab-title-inbox-messages').hasClass("active")) {
                $('#inbox-messages .toggle-state-switch.read').prop('checked', true);
                $('#inbox-messages .toggle-state-switch.unread').prop('checked', false);
                verifyAllMessagesForMarking();
            }
        });

        $('#selectAllUnread').click(function (e) {
            if ($('#tab-title-inbox-messages').hasClass("active")) {
                $('#inbox-messages .toggle-state-switch.read').prop('checked', false);
                $('#inbox-messages .toggle-state-switch.unread').prop('checked', true);
                verifyAllMessagesForMarking();
            }
        });

        $('#inbox-messages .toggle-state-switch').change(function (e, data) {
            verifyAllMessagesForMarking();
        });

        function verifyAllMessagesForMarking() {
            if ($('#tab-title-inbox-messages').hasClass("active")) {
                var list = $('#inbox-messages .toggle-state-switch');
                var selectedMessages = jQuery('#tab-messages input:checked.toggle-state-switch');

                if (selectedMessages.length > 0) {
                    $("#markAsRead").hide();
                    $('#markAsUnread').show();

                    $(selectedMessages).each(function () {
                        if ($(this).hasClass("unread")) {
                            $("#markAsRead").show();
                            $('#markAsUnread').hide();
                        }
                    });
                }
                else {
                    $("#markAsRead").show();
                    $('#markAsUnread').show();
                }
            }
        }

        $('#refreshMessages').click(function (e) {
            window.location = '/user_messages/';
        });

        $('#deleteMessages').click(function (e) {
            var ids = getMarkedMessagesIds();

            $.ajax({
                       url: '/user_messages/deleteMessages',
                       type: "POST",
                       data: JSON.stringify(ids),
                       contentType: "application/json",
                       success: function (data, textStatus, jqXHR) {
                           window.location = '/user_messages/';
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                       }
                   });
        });

        $('#markAsRead').click(function (e) {
            var ids = getMarkedMessagesIds();

            $.ajax({
                       url: '/user_messages/markAsRead',
                       type: "POST",
                       data: JSON.stringify(ids),
                       contentType: "application/json",
                       success: function (data, textStatus, jqXHR) {
                           window.location = '/user_messages/';
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                       }
                   });
        });

        $('#markAsUnread').click(function (e) {
            var ids = getMarkedMessagesIds();

            $.ajax({
                       url: '/user_messages/markAsUnread',
                       type: "POST",
                       data: JSON.stringify(ids),
                       contentType: "application/json",
                       success: function (data, textStatus, jqXHR) {
                           window.location = '/user_messages/';
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                       }
                   });
        });

        function getMarkedMessagesIds() {
            var selectedMessages = jQuery('#tab-messages input:checked.toggle-state-switch');

            var ids = [];
            $(selectedMessages).each(function () {
                var id = $(this).attr("id").replace("sid-", "");
                ids.push(id);
            });

            return ids;
        }

        $inboxMsgs.on("click", function () {
            $inboxMsgs.parent().removeClass("active");
            var elem = $(this);
            elem.parent().addClass("active");

            if (elem.hasClass("unread")) {
                var ids = [];
                ids.push(elem.attr("data-id"));

                $.ajax({
                           url: '/user_messages/markAsRead',
                           type: "POST",
                           data: JSON.stringify(ids),
                           contentType: "application/json",
                           success: function (data, textStatus, jqXHR) {
                               elem.removeClass("unread");
                               elem.addClass("read");
                               elem.parent().parent().find('.checkbox input').removeClass("unread");
                               elem.parent().parent().find('.checkbox input').addClass("read");

                               var badge = $('#tab-title-inbox-messages .badge');
                               var unreadMsgNr = parseInt(badge.html());

                               if (unreadMsgNr > 1) {
                                   badge.html(unreadMsgNr - 1);
                               }
                               else {
                                   badge.hide();
                               }
                           },
                           error: function (jqXHR, textStatus, errorThrown) {
                           }
                       });
            }

            $messagePanel.hide().load("/user_messages/details/" + $(this).data("id"), function () {
                $messagePanel.fadeIn();
            });
        });

        $draftMsgs.on("click", function () {
            $draftMsgs.parent().removeClass("active");
            $(this).parent().addClass("active");

            $messagePanel.hide().load("/user_messages/draft_message_details/" + $(this).data("id"), function () {
                $messagePanel.fadeIn();
            });
        });

        $sentMsgs.on("click", function () {
            $sentMsgs.parent().removeClass("active");
            $(this).parent().addClass("active");

            $messagePanel.hide().load("/user_messages/details/" + $(this).data("id"), function () {
                $messagePanel.fadeIn();
            });
        });

        $("#composeBtn").on("click", function () {
            $inboxMsgs.removeClass("active");
            $(this).addClass("active");

            $messagePanel.hide().load("/user_messages/compose_user_message", function () {
                $messagePanel.fadeIn();
            });
        });

    </script>
</th:block>
</body>
</html>
