<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.toLanguageTag()}">
<body>
<form class="col s12" style="padding-top:20px;">
    <input class="form-control" id="msgId" name="id" th:value="${userMessage.id}" style="display:none;"/>
    <div class="row">
        <div class="input-field col s12">
            <input id="from" type="text" th:value="${userMessage.from}" readonly="readonly"/>
            <label for="from" th:utext="#{user-messages.from}">From</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="to" type="text" th:value="${userMessage.to}" readonly="readonly"/>
            <label for="to" th:utext="#{user-messages.to}">To</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="subject" type="text" th:value="${userMessage.subject}" readonly="readonly"/>
            <label for="subject" th:utext="#{user-messages.subject}">Subject</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
				<textarea id="content" class="materialize-textarea" th:text="${userMessage.messageBody}"
                          readonly="readonly" style="min-height:150px; max-height:150px; overflow: auto;"></textarea>
            <label for="content" th:utext="#{user-messages.content}">Content</label>
        </div>
    </div>
    <div class="form-group form-material">
        <div class="col-sm-9 col-sm-offset-3">
            <button type="button" id="replyBtn" class="btn btn-primary waves-effect waves-light"
                    style="text-transform: none;" th:utext="#{user-messages.reply}">Reply
            </button>
        </div>
    </div>
</form>

<script th:inline="javascript">
    Materialize.updateTextFields();

    $("#replyBtn").on("click", function () {

        $(".message-details-panel").hide().load("/user_messages/reply_user_message/" + $("#msgId").val(), function () {
            $messagePanel.fadeIn();
        });
    });
</script>

</body>
</html>
