<div style="width: 600px;
            text-align: left;
            overflow: visible;
            background: url({0}) no-repeat center top;
            ">
    <div style="padding: 9%;">

        <!--Header-->
        <a href="{1}"><img src="{2}" height="50" style="padding-bottom: 40px"/><br/></a>

        <!--Message-->
        <div style="padding-bottom: 20px; font-size: 1.5rem;">
            {3}
        </div>

        <hr>

        <!--Footer-->
        <div style="font-style: italic;">
            <p>
                {4}
            </p>
            <p>
                {5}<br/>
                <a href="{6}">{7}</a>.
            </p>
            <p>
                {8}
            </p>
        </div>
    </div>
</div>
