<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple tab Component</title>
</head>
<body>
<!-- use it like: <th:block th:replace="app/components/tab/tab-simple :: component('tab1, tab2, tab3',${options})"/> -->
<ul class="tabs" th:fragment="component( tabNames, options)">
    <th:block th:with="tabs=${tabNames instanceof T(java.lang.String)}? ${#strings.listSplit(#strings.trim(tabNames),',')}:${tabNames}">
        <li th:each="tab, idx: ${tabs}" class="tab">
            <a th:classappend="${idx.index==0}? 'active'" th:href="'#' + ${tab}" th:utext="${tab}">Test 1</a>
        </li>
    </th:block>

    <!-- enable tabs -->
    <script> $(document).ready(function(){ $('ul.tabs').tabs(); }); </script>
</ul>
</body>
</html>