<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}">
<head>
    <title>Layout page</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <th:block th:include="layout/styles :: headStyles"/>
</head>
<body>
<header layout:fragment="pageHeader" th:attr="
        data-app-on='app:metaUpdated',data-app-handler='MetaRenderer.onMetaUpdated'" class="navbar-fixed">
    <th:block th:if="${#loggedUserOptional.isPresent()}"
              th:replace="app/common/header :: header"/>
</header>
<section layout:fragment="pageContent" class="main-section">
    <p>Override This Section In Your Template Like This</p>
    <code>
        &#x3C;section layout:fragment=&#x22;pageContent&#x22;&#x3E;
        Your content
        &#x3C;/section&#x3E;
    </code>
</section>
<!--<footer class="page-footer" layout:fragment="footer"></footer>-->

<!--<footer class="app-info" layout:fragment="app-info">-->
    <!--<small class="app-name" th:text="${@environment.getProperty('app.name')}"></small>-->
    <!--<small class="app-version" th:text="${@environment.getProperty('app.version')}"></small>-->
<!--</footer>-->


<footer class="grey-text center-align palette-footer container" layout:fragment="footer">
    <p>
        <a th:href="@{/terms-of-use}" th:utext="#{footer.privacy.policy.text}" class="no-ajax">Terms &amp; conditions</a> |
        <a th:href="@{/privacy-policy}" class="no-ajax" th:text="#{privacy.policy.page.name}">Privacy policy</a> |
        <a th:href="@{/cookie-policy}" class="no-ajax" th:text="#{cookie.policy.page.name}">Cookie policy</a> |
        <a th:href="@{/faq}" class="no-ajax" th:text="#{faq.page.name}">FAQ</a> |
        <a th:href="@{/informed-consent}" class="no-ajax" th:text="#{informed.consent.page.name}">Informed consent</a>
    </p>
    <p>2018 &copy; Palette</p>

</footer>


<div id="app-modal" class="modal" data-app-plugin-always-initialize="true">
    <div class="modal-content">

    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close cancel-action waves-effect waves-light btn secondary left app"
                th:utext="#{action.cancel}" style="display: none">
            Cancel
        </button>
        <button class="modal-action modal-close close-action waves-effect waves-light btn secondary left app"
                th:utext="#{action.close}" style="display: none">
            Close
        </button>
        <button class="modal-action modal-ok waves-effect btn right" th:utext="#{action.ok}"
                style="display: none">
            OK
        </button>
        <div class="other-actions right">

        </div>
    </div>
</div>
<div id="player-modal" class="modal full-page" data-app-plugin-always-initialize="true">
    <div class="modal-content">

    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close cancel-action waves-effect waves-green btn-flat left"
                th:utext="#{action.cancel}" style="display: none">
            Cancel
        </button>
        <button class="modal-action modal-close close-action waves-effect waves-green btn-flat left"
                th:utext="#{action.close}" style="display: none">
            Close
        </button>
        <div class="other-actions right">

        </div>
    </div>
</div>

<div id="cookie-privacy-modal" class="modal modal-fixed-footer" style="max-height: 450px;">
    <div class="modal-content">
        <h4 th:text="#{cookie.privacy.pop.up.header}">Dear User,</h4>
        <p th:utext="#{cookie.privacy.pop.up.main_paragraph}">This site uses cookies allowing us to provide you with more personalized and secure experience. You
        can learn more about how we use cookies in our <a href="/cookie-policy" class="no-ajax">Cookie Policy</a>.</p>
        <p th:text="#{cookie.privacy.pop.up.secondary_paragraph}">By continuing to use our website, you agree to the above policy.</p>
   </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-light btn no-preloader">OK</a>
    </div>
    </div>

<div id="portrait-overlay" class="valign-wrapper portrait-overlay-hidden center-align">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-white-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <th:block th:include="layout/scripts :: bodyScripts"/>
    <th:block th:if="${#loggedUserOptional.isPresent()}">
        <script th:src="@{'/webjars/sockjs-client/1.0.2/sockjs.min.js'}"></script>
        <script th:src="@{'/webjars/stomp-websocket/2.3.3/stomp.min.js'}"></script>
        <script th:src="@{'/js/app/websocket.js'}"></script>
    </th:block>
    <script th:inline="javascript">
        window.aelAppVersion = [[${@environment.getProperty('app.version')}]];
        App.run({
            g11n: {
                lang: {
                    app: {
                        messages   : JSON.parse([[${@jacksonObjectMapper.writeValueAsString(@messageSource.allMessages())}]]),
                        dateFormats: JSON.parse([[${@jacksonObjectMapper.writeValueAsString(@datesService.getDateFormats())}]]),
                        model      : {
                            notification: {
                                header: [[#{user-notifications.title}]],
                                action: {
                                    viewAll      : {
                                        href : [[${T(ro.siveco.ael.web.components.WebPath).USER_NOTIFICATIONS_PATH}]],
                                        label: [[#{model.notification.action.viewAll.label}]]
                                    },
                                    markAllAsRead: {
                                        href : '/user_notifications/markAllAsRead',
                                        label: [[#{user-notifications.mark-all-as-read}]]
                                    }
                                }
                            }
                        },
                        sort       : {
                            state: {
                                off : [[#{sort.state.off}]],
                                asc : [[#{sort.state.asc}]],
                                desc: [[#{sort.state.desc}]]
                            }
                        },
                        /*timeago    : {
//                                prefixAgo: null,
//                                prefixFromNow: null,
//                                suffixAgo: "ago",//[[#{timago.strings.suffixAgo}]] i18n this
//                                suffixFromNow: "from now",
//                                inPast: 'any moment now',
//                                seconds: "less than a minute",
//                                minute: "about a minute",
//                                minutes: "%d minutes",
//                                hour: "about an hour",
//                                hours: "about %d hours",
//                                day: "a day",
//                                days: "%d days",
//                                month: "about a month",
//                                months: "%d months",
//                                year: "about a year",
//                                years: "%d years",
//                                more: "long time",

                            prefixAgo    : "acum",
                            prefixFromNow: "peste",
                            suffixAgo    : "",
                            suffixFromNow: "",
                            seconds      : "mai putin de un minut",
                            minute       : "un minut",
                            minutes      : "%d minute",
                            hour         : "o ora",
                            hours        : "%d ore",
                            day          : "o zi",
                            days         : "%d zile",
                            month        : "o lună",
                            months       : "%d luni",
                            year         : "un an",
                            years        : "%d ani",
                            more         : "o vesnicie",
                            wordSeparator: " "
                        }*/
                        timeago: {
                            prefixAgo: [[#{timeAgo.prefixAgo}]], //[[#{timeAgo.prefixAgo)]],//"acum",
                            prefixFromNow: [[#{timeAgo.prefixFromNow}]], //MetaRenderer.i18nMessage('timeAgo.prefixFromNow'),//"peste",
                            suffixAgo: [[#{timeAgo.suffixAgo}]], //MetaRenderer.i18nMessage('timeAgo.suffixAgo'),//"",
                            suffixFromNow: [[#{timeAgo.suffixFromNow}]], //MetaRenderer.i18nMessage('timeAgo.suffixFromNow'),//"",
                            seconds: [[#{timeAgo.seconds}]], //MetaRenderer.i18nMessage('timeAgo.seconds'),//"mai putin de un minut",
                            minute: [[#{timeAgo.minute}]], //MetaRenderer.i18nMessage('timeAgo.minute'),//"un minut",
                            minutes: [[#{timeAgo.minutes}]], //MetaRenderer.i18nMessage('timeAgo.minutes'),//"%d minute",
                            hour: [[#{timeAgo.hour}]], //MetaRenderer.i18nMessage('timeAgo.hour'),//"o ora",
                            hours: [[#{timeAgo.hours}]], //MetaRenderer.i18nMessage('timeAgo.hours'),//"%d ore",
                            day: [[#{timeAgo.day}]], //MetaRenderer.i18nMessage('timeAgo.day'),//"o zi",
                            days: [[#{timeAgo.days}]],//MetaRenderer.i18nMessage('timeAgo.days'),//"%d zile",
                            month: [[#{timeAgo.month}]], //MetaRenderer.i18nMessage('timeAgo.month'),//"o lună",
                            months: [[#{timeAgo.months}]], //MetaRenderer.i18nMessage('timeAgo.months'),//"%d luni",
                            year: [[#{timeAgo.year}]], //MetaRenderer.i18nMessage('timeAgo.year'),//"un an",
                            years: [[#{timeAgo.years}]], //MetaRenderer.i18nMessage('timeAgo.years'),//"%d ani",
                            more: [[#{timeAgo.more}]], //MetaRenderer.i18nMessage('timeAgo.more'),//"o vesnicie",
                            wordSeparator: " " //MetaRenderer.i18nMessage('timeAgo.wordSeparator')//" "
                        }
                    }
                }
            }
        });
    </script>
</th:block>
<th:block layout:fragment="my-scripts">
    <script th:src="'https://maps.googleapis.com/maps/api/js?key=AIzaSyAhh4tRm7p8NUAdtD9JoLlhhD22Ub6XJ4k&amp;libraries=places&amp;callback=initializeAutocomplete&amp;language=' + ${#locale.toLanguageTag()}"
            async="async" defer="defer"></script>
    <script>
        $(document).ready(function() {
            if (typeof app !== 'undefined') {
                app.hideLoader();
            }
            addLoader();
        });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    </script>
    <!-- Google Analytics based on Server Name -->
    <script>
        $.ajax({
            type : 'GET',
            url : '/serverData',
            cache : false,
            processData : false,
            contentType : "application/json",
            success : function(data) {
                var returnedData = $.parseJSON(data);
                ga('create', returnedData.gaTracking, 'auto');
                ga('send', 'pageview');
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                console.error("error on ga");
            }
        });
    </script>

    <!-- Handle cookie policy agreement pop-up -->

    <script th:inline="javascript">
        /*<![CDATA[*/
        function getCookieValue(a) {
            var b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
            return b ? b.pop() : '';
        }

        $(document).ready(function() {
            var isWhitelistedURI = /*[[${whitelisted}]]*/false;

            var cookieValue = getCookieValue("cookiePolicy");

            var agreementNeeded = cookieValue !== "agreed";


            if (agreementNeeded === true && isWhitelistedURI === false){
                var cookiePrivacyModal = $('#cookie-privacy-modal');
                cookiePrivacyModal.modal({
                        startingTop: '4%', // Starting top style attribute
                        endingTop: '8%', // Ending top style attribute
                        complete: function() { agreeToCookiePolicy() } // Callback for Modal close
                    }
                );



                cookiePrivacyModal.modal('open');
            }
        });

        function agreeToCookiePolicy(){
            $.ajax({
                type : 'POST',
                url : "/agreeToCookiePolicy",
                contentType : "application/json",
                success: function(data){
                    console.log("Agreed to cookies and privacy policy")
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) {
                    console.error("Error when agreeing to cookies and privacy policy")
                }
            });

        }
        /*]]>*/
    </script>


</th:block>
</body>
</html>
