<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Styles file</title>
    <th:block th:fragment="headStyles">
        <link th:href="@{'/css/cached/material-icons.css'}" rel="stylesheet"/>
        <!--/* Production styles here */-->
        <th:block th:if="${#isProduction}" th:include="layout/stylesAll :: productionStyles"/>
        <!--/* Development styles here */-->
        <th:block th:unless="${#isProduction}" th:include="layout/stylesAll :: allStyleElements"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/controls/toggle-switch.css}"/>
    </th:block>
</head>
<body>

</body>
</html>