<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Styles file</title>
    <th:block th:fragment="productionStyles">
        <link th:href="@{'/css/release/'+${#appBaseName}+'-'+${#appVersion}+'-'+${#themeName}+'.min.css'}"
              rel="stylesheet"/>
    </th:block>
    <th:block th:fragment="allStyleElements">
        <link th:href="@{'/css/generated/app.css'}" rel="stylesheet" type="text/css" media="screen,projection"/>
        <link th:href="@{'/css/lity/lity.min.css'}" rel="stylesheet" type="text/css" media="screen,projection"/>
    </th:block>
</head>
<body>

</body>
</html>
