<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Filter Fragment</title>
</head>
<body>
<div th:fragment="component(model, indexOptions)" class="form-wrapper row">

    <div class="chart-container valign-wrapper">
        <div class="col s4 right-align">
            <ul>
                <th:block th:each="itemElement : ${summaryData}">
                    <li th:utext="${itemElement.key} + ${itemElement.value}"/>
                </th:block>
            </ul>
        </div>

        <span class="col s8 left-align">
            <div data-render="true" data-render-deferred="true" data-render-type='pie-chart'
                 data-render-value='.overview-table'></div>

            <div class="chart-legend-and-data overview-table legend" th:style="'display:none'">
                <th:block th:each="itemElement : ${chartData}">
                    <div class="item line chart-line">
                        <span class="color color-minimal"></span>
                        <span class="data"
                              th:attr="data-property=${itemElement.key}, data-value=${itemElement.value}"></span>
                        <span class="chart-tooltip"
                              th:attr="data-render-value=${itemElement.key}, data-tooltip-value=${itemElement.key}"></span>
                    </div>
                </th:block>
        </div>
        </span>
    </div>

</div>

</body>
</html>
