.video-header {
  background-color: #15a29a;
  border-radius: 8px;
}

.how-palette-works-content {
  border-radius: 8px;
  padding: 16px;
  background-image: url([[@{img/home/how_palette_works.png}]]);
  min-height: 600px;
}

section.showcase {
  margin-top: 32px;
}

.page-header {
  margin-top: 16px;
}

.page-title {
  text-align: center;
}

.center {
  margin: auto;
}

.containerTabs {
  margin: auto;
  /*padding-left: 100px;*/
  /*padding-right: 100px;*/
}

.createProfileContainer {
  margin: auto;
  height: 760px;
}

.createProfileFormContainer {
  background: #43a047;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.completeProfileContainer {
  margin: auto;
  height: 400px;
  display: none;
}

.completeProfileFormContainer {
  background: #43a047;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 30px;
  height: 420px;
}

.interestsContainer {
  margin: auto;
  display: none;
}

.interestsFormContainer {
  margin: auto;
  background: #43a047;
  /*width: 700px;*/
  /*height: 500px;*/
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 30px;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  /*background:white;*/
  border-style: none;
  border-radius: 3px;
  padding-left: 10px;
  width: 80%;
  margin-left: 10%;
  font-size: 22px;
}

table.bordered.responsive-table table tr .unread,
table tr td {
  border: none;
}

.validationResultRow span {
  margin-left: 10%;
  width: 80%;
}

td.top {
  vertical-align: top;
}

#email_empty_validation_err_span,
#email_unique_validation_err_span,
#email_validation_err_span,
#confirmEmail_validation_err_span,
#password_validation_err_span,
#confirmPassword_validation_err_span,
#first_name_validation_err_span,
#phone_number_validation_err_span {
  display: none;
}

td,
th {
  padding: 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

.addImageContainer {
  text-align: left;
}

.addImageContainer img {
  width: 240px;
  height: 240px;
  vertical-align: middle;
  border-radius: 50%;
}

.addImageContainer input {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.lnkContextualHelp {
}

#profileImgInput {
  width: 180px;
}

#profileImgSummary {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.profileDataContainer {
  margin-top: 10px;
}

body > section > div:nth-child(3) > div > div > div > div {
  padding-left: 0px !important;
}

.left {
  float: left;
}

.userGenderForm {
  width: 200px;
  background-color: #43a047;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  opacity: 100;
  margin-top: 5px;
}

#country {
  vertical-align: top;
  margin-top: -20px;
  display: block;
  margin-left: 10%;
  width: 82%;
}

.tabButton {
  border: none;
  height: 100px;
  color: #42b0a0;
  background: #f9f8cc;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  font-size: 30px;
  padding: 0 2%;
}

.warning {
  margin-left:10%;
  margin-right:15%;
  padding:5px 10px 5px 10px;
  background-color: #f44336;
  color: white;
  border-radius: 10px;
}

.tabButtonSelected {
  border: none;
  height: 100px;
  color: white;
  background: #43a047;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  font-size: 30px;
}

.tabButtonCompleted {
  border: none;
  height: 100px;
  color: white;
  background: #94c120;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  font-size: 30px;
  padding: 0 2%;
}

.submitDiv {
  height: 150px;
}

/* Interests */
.iContainer {
  float: left;
  width: 70px;
  height: 70px;
  margin: 10px;
}

.iContainer img {
  width: 65px;
  height: 65px;
}

/*summary */
.summaryContainer {
  margin: auto;
  display: none;
}

.summaryFormContainer {
  margin: auto;
  background: #43a047;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 50px;
}

div.interest {
  width: 120px;
  height: 120px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  /*float:right;*/
}

div > img {
  width: 100%;
  height: 100%;
}

h6 {
  text-align: center;
  color: white;
}

.row#interestsList {
  display: inline-flex;
  margin-bottom: 70px;
}

.userFormClass {
  table-layout: fixed;
  background: #43a047;
  width: 100%;
}

.userFormClass select {
  display: block;
}

input.summary {
  background: white;
  color: black;
}

.summaryTopDiv {
  height: 180px;
  width: 100%;
  text-align: center;
}

.clear {
  clear: both;
}

.summaryInputField {
  color: white;
  font-weight: bold;
}

.summaryInterestsDiv {
  min-height: 120px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}

.selectedInterestsDiv {
  float: left;
  width: 80%;
}

.selectedInterestsDivElement {
  float: left;
  width: 85px;
  height: 120px;
}

.selectedInterestsDiv img {
  margin: 5px;
  width: 80px;
  height: 80px;
}

.selectedInterestsDiv h6 {
  margin-top: 0px;
  color: black;
}

.showHideInterestsDiv {
  background: white;
  padding: 20px;
  border-radius: 5px;
  align-self: flex-end;
}

.termsAndConditionsContainer {
  margin-top: 15px;
}

.termsAndConditionsContainer [type="checkbox"]:not(:checked),
.termsAndConditionsContainer [type="checkbox"]:checked {
  opacity: 100;
  pointer-events: auto;
  margin-top: 2px;
}

.termsAndConditionsContainer span {
  margin-left: 20px;
}

.termsLabel {
  color: white;
  font-size: 1.5rem;
}

a.termsLabel {
  text-decoration: underline;
}

a.termsLabel:hover {
  text-decoration: none;
}

input#first_name,
input#last_name,
input#mail,
input#confirmMail,
input#password,
input#confirmPassword,
input#phone {
  background: #ffffff;
  height: 56px;
  width: calc(100% - 30px) !important;
  border-radius: 10px;
  display: block;
  text-align: left;
  border-bottom: transparent;
  font-size: 23px;
  color: #606060;
}

#createProfileCountriesForm {
  margin-left: 10%;
}

.switch-label {
  font-size: 10px !important;
}

.tabs-row {
  margin-bottom: 0;
}

@media only screen and (max-width: 1700px) {
  .tabButtonSelected, .tabButtonCompleted, .tabButton {
    height: 125px;
  }
}

@media only screen and (max-width: 1023px) {
  .tabButtonSelected, .tabButtonCompleted, .tabButton {
    height: 100px;
    font-size: 1.47rem;
  }
}

#overlay-box .modal-footer {
  background-color: #f9f8cc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay-box-text {
  text-align: left;
}

/* Google Places */
.pac-container, .pac-item, .pac-item-query /*, .pac-matched */ {
    font-size:20px;
    padding:5px;
    cursor:pointer;
}

.eye {
    float:right;
    margin-right:15px;
}