<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>
    <div th:fragment="header">
        <div th:if="${#authentication.isAuthenticated()}">
            <nav th:with="brand='palette'">
                <div class="nav-wrapper">
                    <div class="container">
                        <a th:href="@{/}" class="brand-logo no-ajax">
                            <img th:src="@{${'/img/branding/'+brand+'/logo-small.jpg'}}" alt="AeL" />
                        </a>
                        <a th:href="@{/}" class="no-ajax modal-action modal-close waves-effect waves-light secondary homepage btn" th:utext="#{common.go-to-homepage}">
                            HOME
                        </a>
                        <a data-activates="mobile-menu" class="button-collapse right">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li class="notification-item">
                                <a href="/user_notifications" class="meta-service dropdown-button" th:onclick="'onClickUserNotificationMenu()'" data-service-name="notifications"
                                    data-hover="true" data-beloworigin="true" data-activates="notification-dropdown">
                                    <span class="nav-badge" id="notificationIconId">
                                        <i class="material-icons">notifications</i>
                                    </span>
                                </a>
                                <ul id="notification-dropdown" class="dropdown-content notifications-dropdown"></ul>
                            </li>
                            <li class="divider"></li>
                            <li th:if="${#loggedUserOptional.isPresent()}" th:with="user=${#loggedUserOptional.get()}">
                                <a class="dropdown-button" href="#" data-activates="user-menu" data-beloworigin="true">
                                    <!--/*@thymesVar id="user" type="ro.siveco.ael.lcms.domain.auth.model.AelUser"*/-->
                                    <span class="text authentication-name" th:text="${user.displayName}" th:attr="
                                        data-model-uid=${user.objectUID},
                                        data-model-name=${user.modelName},
                                        data-renderer-type='MODEL_AVATAR',
                                        data-meta-renderer=true">
                                    </span>
                                    <i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>

                        </ul>
                        <ul th:if="${#loggedUserOptional.isPresent()}" id="user-menu" class="dropdown-content">
                            <li class="divider"></li>
                            <li>
                                <a th:with="userId=${#loggedUserOptional.get().getId()}" th:href="@{${'/profile/edit/'+userId}}"
                                    class="no-ajax" th:utext="#{header.profile}">Profile</a>
                            </li>
                            <li><a th:href="@{/faq}" class="no-ajax" th:text="#{faq.page.name}">FAQ</a></li>
                            <li>
                                <a th:href="@{/logout}" class="no-ajax" th:utext="#{header.logout}">Logout</a>
                            </li>
                        </ul>
                        <ul class="side-nav" id="mobile-menu">

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>

</html>