<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="rating(value)">
    <div class="rating  orange-text">
        <i class="material-icons" th:text="${value lt 0.5} ? 'star_border' : (${value ge 1}?  'star' : 'star_half')"></i>
        <i class="material-icons" th:text="${value lt 1.5} ? 'star_border' : (${value ge 2}?  'star' : 'star_half')"></i>
        <i class="material-icons" th:text="${value lt 2.5} ? 'star_border' : (${value ge 3}?  'star' : 'star_half')"></i>
        <i class="material-icons" th:text="${value lt 3.5} ? 'star_border' : (${value ge 4}?  'star' : 'star_half')"></i>
        <i class="material-icons" th:text="${value lt 4.5} ? 'star_border' : (${value eq 5}?  'star' : 'star_half')"></i>
    </div>
</body>
</html>