<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Card Actions Component</title>
</head>
<body>
    <div class="card-action" th:fragment="component(item, options)">
        <th:block th:each="action : ${item.actions}" >
            <a th:href="${action.href}" th:utext="${action.name}">ACTION NAME</a>
        </th:block>
    </div>
</body>
</html>