#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;

  @media #{$small-and-down} {
    bottom: 0%;
  }

  @media #{$medium-only} {
    bottom: 7%;
  }

  @media #{$large-and-up} {
    top: 10%;
  }
}

.toast {
  @extend .z-depth-1;
  //border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: $toast-height;
  line-height: 1.5em;
  word-break: normal;
  //background-color: #404040;
  //padding: 14px 25px;
  //font-size: 1.6rem;
  font-weight: 300;
  //color: $toast-text-color;
  //display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;

  .toast-action {
    color: $toast-action-color;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
  }

  &.rounded {
    border-radius: 24px;
  }

  @media #{$small-and-down} {
    width: 100%;
    border-radius: 0;
  }
}
