<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Attended Items Fragment</title>
</head>

<body>
<div th:fragment="component(courses,type)">

    <div class="attended-items">
        <div class="attended-items-title center">
            <h1 th:utext="#{${type} + '.items.title'}" class="item-title"></h1>
        </div>

        <div class="clearfix"></div>

        <div class="attended-items-content index-content" data-model-index="plannedCourse">
            <div class="row">
                <div class="carousel attendedCoursesCarousel">
                    <div class="carousel-item" th:each="course : ${courses}">
                        <div class="card model-view sticky-action model-plannedCourse" data-model-view-name="__default" data-model-index-view-type="CARD"
                             data-model-name="plannedCourse" data-model-view-type="INDEX_FRAGMENT" th:attr="data-model-uid=${course.id}"
                             data-meta-renderer="true" data-app-handler="plannedCourseOnUiUpdated" data-app-on-self="this"
                             data-is-ui-updated="true">
                            <div class="card-image">
                                <div class="image-wrapper">
                                    <img th:if="${course.image!=null}" class="image-tag" th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(course.image)}}"
                                         onerror="this.onerror=null;this.src='/img/generic/generic-course-light.png'" />
                                    <img th:unless="${course.image!=null}" class="image-tag" th:src="${course.imageSrc}" />
                                </div>
                            </div>

                            <div class="card-content">

                                <div class="card-title truncate grey-text text-darken-4 label-wrapper"></div>
                                <div class="properties-wrapper">
                                    <div th:class="${'property-presentation model-plannedCourse-property model-property-value model-property-courseType property-input-wrapper course-type-' + course.course.type}">
                                        <span class="property-value" th:utext="#{${'model.course.property.type.enum.' + course.course.type}}">ACTIVITY</span>
                                    </div>
                                    <div class="property-presentation model-plannedCourse-property model-property-value model-property-startDate property-input-wrapper">
                                        <span class="property-value" th:utext="${course.displayStartDate}">Fri, 2 February 2018</span>
                                    </div>
                                    <div class="property-presentation model-plannedCourse-property model-property-value model-property-displayUsersAddedToFavorites property-input-wrapper">
                                            <span class="property-label">
                                                <span>
                                                    <i class="material-icons" style="color:yellow">star</i> interested</span>
                                            </span>
                                        <span class="property-value" th:utext="${course.displayUsersAddedToFavorites}">1</span>
                                    </div>
                                    <div class="property-presentation model-plannedCourse-property model-property-value model-property-name long-text property-input-wrapper">
                                        <span class="property-value tooltipped" th:attr="data-position='top', data-tooltip=${course.name}" th:utext="${course.name}">ac1</span>
                                    </div>

                                    <button class="property-presentation model-plannedCourse-property model-property-value model-property-readMoreLink generic-action action-open-presentation
                                    action-plannedCourse-open-presentation btn meta-controller property-input-wrapper plannedCourse-read-more-class"
                                            data-model-property-name="readMoreLink" data-model-name="plannedCourse" data-x-label="model.plannedCourse.action.open.presentation.label"
                                            data-x-label-fallback="true" th:onclick="'openPresentationForAttendedItem(\'' + ${course.id}+ '\')'"
                                            data-x-controller-status="true" data-x-label-status="true" data-order-in-form="14"
                                            data-order-in-view="14" data-renderer-type-name="BUTTON" data-input-type-name="BUTTON"
                                            th:utext="#{model.plannedCourse.action.open.presentation.label}">Read more</button>
                                </div>
                            </div>

                            <!--<div class="actions-wrapper card-action">

                                <div class="main-actions">
                                    <th:block th:if="${course.addedToFavorite}">
                                        <button data-x-label="model.plannedCourse.action.addToFavoritesId.label" data-x-label-fallback="true" class="action-custom action-plannedCourse-custom btn meta-controller favorite-added-item"
                                                th:onclick="'addToFavoritesAttendedItem(\'' + ${course.id}+ '\')'" data-x-controller-status="true"
                                                data-x-label-status="true" th:utext="#{model.plannedCourse.action.addToFavoritesId.label}">Add to favorites
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${course.addedToFavorite}">
                                        <button data-x-label="model.plannedCourse.action.addToFavoritesId.label" data-x-label-fallback="true" class="action-custom action-plannedCourse-custom btn meta-controller favorite-not-added-item"
                                                th:onclick="'addToFavoritesAttendedItem(\'' + ${course.id}+ '\')'" data-x-controller-status="true"
                                                data-x-label-status="true" th:utext="#{model.plannedCourse.action.addToFavoritesId.label}">Add to favorites
                                        </button>
                                    </th:block>

                                    <a data-x-label="model.plannedCourse.action.removeItemId.label" data-x-label-fallback="true" class="action-custom-get action-plannedCourse-custom-get btn meta-controller remove-attended-item"
                                       th:href="${'/sessions/removeItem/' + course.id}" th:attr="data-target=${'/sessions/removeItem/' + course.id}"
                                       data-x-controller-status="true" data-x-label-status="true" th:utext="#{model.plannedCourse.action.removeItemId.label}">Remove from list
                                    </a>
                                </div>

                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>