<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewName" type="java.lang.String"*/-->
<!--/*@thymesVar id="modelDescriptor" type="ro.siveco.ram.starter.ui.model.ModelDescriptor"*/-->
<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<ro.siveco.ram.model.Model>"*/-->
<!--/*@thymesVar id="viewType" type="ro.siveco.ram.controller.util.ViewType"*/-->
<!--/*@thymesVar id="indexViewType" type="ro.siveco.ram.starter.ui.model.IndexViewType"*/-->
<!--/*@thymesVar id="model" type="ro.siveco.ram.model.Model"*/-->

<head>
    <title>View Fragment</title>
</head>

<body>

<div th:fragment="view-fragment" class="view-fragment x-fragment" data-app-on="app:htmlRequest" data-app-handler="app.update">
    <div class="view-nav">
        <div class="container">
            <div class="row actions-wrapper">

            </div>
        </div>
    </div>
    <div class="container">

        <!-- Report Inappropriate Dialog -->
        <div class="modal" id="overlay-box-review">
            <div class="modal-content">
                <input id="reportCommentData" type="hidden" />
                <div>
                    <div style="float:left"><img src="/img/warning.png" style="width:60px" alt="Report" /></div>
                    <div style="float:left;padding:15px"><span class="property-label-report" th:utext="#{report.inappropriate.title}">Report item</span></div>
                    <div style="clear:both"></div>
                </div>
                <hr />
                <div id="rblReportContainer" style="padding-top:10px">
                    <form action="#">
                        <label>
                            <input name="radio-report-inappropriate" style="width:3em;height:3em;vertical-align: middle;" id="rblReport1" type="radio" th:value="#{report.inappropriate.one}" />
                            <span style="vertical-align:middle;font-size:2em;" th:text="#{report.inappropriate.one}">One</span>
                        </label>
                        <br />
                        <label>
                            <input name="radio-report-inappropriate" style="width:3em;height:3em;vertical-align: middle;" id="rblReport2" type="radio" th:value="#{report.inappropriate.two}" />
                            <span style="vertical-align:middle;font-size:2em;" th:text="#{report.inappropriate.two}">Two</span>
                        </label>
                        <br />
                        <label>
                            <input name="radio-report-inappropriate" style="width:3em;height:3em;vertical-align: middle;" id="rblReport3" type="radio" th:value="#{report.inappropriate.three}" />
                            <span style="vertical-align:middle;font-size:2em;" th:text="#{report.inappropriate.three}">Three</span>
                        </label>
                        <br />
                        <label>
                            <input name="radio-report-inappropriate" style="width:3em;height:3em;vertical-align: middle;" id="rblReport5" type="radio" th:value="#{report.inappropriate.three}" />
                            <span style="vertical-align:middle;font-size:2em;" th:text="#{report.inappropriate.five}">Five</span>
                        </label>
                        <br />
                        <label>
                            <input name="radio-report-inappropriate" style="width:3em;height:3em;vertical-align: middle;" id="rblReport6" type="radio" th:value="#{report.inappropriate.three}" />
                            <span style="vertical-align:middle;font-size:2em;" th:text="#{report.inappropriate.six}">Six</span>
                        </label>
                    </form>
                    <div style="padding-top:20px">
                        <span class="property-label-report" th:utext="#{user-notifications.message}">Message</span>
                        <input name="txtReportMessage" id="txtReportMessage" type="text" style="font-size:2em" />
                    </div>
                </div>
                <div id="lblReportSent">
                    <span class="property-label-report" th:utext="#{report.inappropriate.success}">Your Report has been successfully sent to Palette administrator!</span>
                </div>
                <div class="modal-footer center-align">
                    <button id="overlay-box-send" onclick="sendReportInappropriate()" class="no-preloader no-ajax waves-effect btn right" th:inline="text" th:utext="#{user-messages.send}">Send</button>
                    <button id="overlay-box-close" class="no-preloader no-ajax waves-effect btn secondary right" th:inline="text" th:utext="#{modal.close}">Close</button>
                </div>
            </div>
        </div>

        <div th:fragment="view-wrapper" class="view-wrapper model-view" th:attr="
            data-model-uid=${model.objectUID},
            data-model-name=${model.modelName},
            data-model-view-name=${viewName},
            data-model-view-type=${viewType},
            data-model-index-view-type=${indexViewType},
            data-app-on='app:uiUpdated',
            data-app-handler=${model.modelName+'OnUiUpdated'},
            data-app-on-self='this',
            data-meta-renderer=true">
            <div class="properties-wrapper"></div>
            <div class="row activity-type">
                <div class="properties-wrapper col s12" data-group-name="itemType">
                    <div class="properties-wrapper-content"></div>
                </div>
            </div>
            <div class="row item-general-information">
                <div class="properties-wrapper col s5" data-group-name="itemImage">
                    <div class="properties-wrapper-content"></div>
                </div>
                <div class="properties-wrapper col s7" data-group-name="itemNameAndFavorites">
                    <div class="properties-wrapper-content"></div>
                </div>
            </div>
            <div class="row item-schedule-information">
                <div class="properties-wrapper col s4" data-group-name="schedulePeriod">
                    <div class="properties-wrapper-content"></div>
                </div>
                <div class="properties-wrapper col s2" data-group-name="scheduleTimePeriod">
                    <div class="properties-wrapper-content"></div>
                </div>
                <div class="properties-wrapper col s3" data-group-name="scheduleLocation">
                    <div class="properties-wrapper-content"></div>
                </div>
                <div class="col s3" style="float:right">
                    <span class="property-label" th:utext="#{model.plannedCourse.ratingLabel}">Rating</span>
                </div>
                <div class="properties-wrapper col s1" data-group-name="itemRatingLike">
                    <div class="properties-wrapper-content"></div>
                </div>
                <div class="properties-wrapper col s1" data-group-name="itemRatingDislike">
                    <div class="properties-wrapper-content"></div>
                </div>
            </div>
            <div class="row item-owner-information">
                <div class="properties-wrapper col s2" data-group-name="itemOwnerPicture">
                    <div class="properties-wrapper-content"></div>
                </div>
                <div class="properties-wrapper col s5" data-group-name="itemOwner">
                    <div class="properties-wrapper-content"></div>
                </div>

                <div class="properties-wrapper col s5" data-group-name="itemOwnerDetails">
                    <div class="properties-wrapper-content"></div>
                </div>
            </div>
            <section>
                <div class="row item-description">
                    <div class="properties-wrapper col s12" data-group-name="itemDescription">
                        <div class="properties-wrapper-content"></div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row item-objective">
                    <div class="properties-wrapper col s12" data-group-name="itemObjective">
                        <div class="properties-wrapper-content"></div>
                    </div>
                </div>
            </section>

        </div>

        <section>
            <div class="row s12">
                <div class="column s12">
                    <h4 class="center-align" th:text="#{model.plannedCourse.comments}">Comments:</h4>
                    <br/>
                    <table class="bordered comments-table">
                        <thead></thead>
                        <tbody>
                        <th:block th:each="comment : ${model.comments}">
                            <tr style="max-height: 10px !important">
                                <td>
                                    <div class="row">
                                        <div class="col s2 commentImageContainer" th:onclick="'goToUserProfile(\'' + ${comment.aelUser.id} + '\');'">
                                            <!--<img src="/img/home/icons/art_1.png" alt="" class="circle responsive-img" style="width:100px;height:100px"> </img>-->
                                            <img th:src="${comment.getUserImage()}" style="width:100px;height:100px"> </img>

                                        </div>
                                        <div class="col s10 commentWrapper">
                                            <div class="row">
                                                <div class="col s8 commentUserDisplayName">
                                                    <span th:utext="${comment.getUserDisplayName()}"></span>
                                                </div>
                                                <div class="col s3">
                                                    <span th:utext="${comment.getFormattedDate()}"></span>
                                                </div>
                                                <div class="col s1">
                                                    <a class="lnkReportInappropriate no-preloader" th:onclick="'showReportInappropriate(\'' + ${comment.getUserDisplayName()} + '|' + ${comment.getCommentText()} + '|' + ${comment.getFormattedDate()} + '|' + ${comment.getId()} + '\');'">
                                                        <img src="/img/warning.png" alt="Report" style="width:40px" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row valign-wrapper">
                                                <div class="col s12 m9 l9">
                                                            <span class="comment" th:text="${comment.getCommentText()}">
                                                            </span>
                                                </div>
                                                <div class="col s12 m3 l3">
                                                    <th:block th:if="${comment.getRemovable()}">
                                                            <span id="deleteCommentButton"
                                                                  class="no-ajax waves-effect waves-light btn delete-comment-button"
                                                                  th:utext="#{deleteButton.label}" th:onclick="|deleteItemComment(${comment.id})|">Delete comment</span>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                    <br/>

                    <div class="row">
                        <div class="col s12">
                            <div class="col s2 userComment">
                                <i class="material-icons circle responsive-img" style="font-size: 100px !important; border: solid gainsboro; color:gainsboro">person</i>
                            </div>
                            <div class="col s10 writeComment">
                                <textarea id="commentInput" th:placeholder="#{model.plannedCourse.write.your.comment}" type="text" maxlength="500" />
                            </div>
                        </div>
                        <input id="courseId" type="hidden" th:value="${model.id}" />
                    </div>

                    <div class="btnAlign" style="text-align:center;">
                        <button id="addCourseComment" class="no-ajax waves-effect btn-block secondary z-depth-5 center-align" style="position: initial"
                                th:text="#{model.plannedCourse.addComment}">Add comment
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <!--/* Index Bulk Actions */-->
        <div class="index-bulk-actions-wrapper"></div>

        <div id="attendingStudentsModal" class="modal">
            <div class="modal-content">
            </div>
            <div class="modal-footer">
                <a class="modal-action waves-effect waves-light btn secondary close-attending-students-modal no-preloader" onclick="closeAttendingStudentsModal()"
                   th:utext="#{action.close}">Close</a>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        window.__updateDescriptor = {
            actionId: [[${ modelName+'-OPEN_PRESENTATION' }]],
            viewType: [[${ viewType }]],
            pageTitleCode: [[${ model.objectLabel }]],
            sectionClass: [[${ 'main-section view-section model model-'+modelName }]],
            modelName: [[${ modelName }]],
            modelDescriptor: JSON.parse([[${ jsonModelDescriptor }]]),
            page: { content: [JSON.parse([[${ jsonModel }]])] }
        };
    </script>
</div>
</body>

</html>