/* specific project template */

$brand-color: $primary-color;
$main-color: $primary-color;
$accent-color: $secondary-color;
$selected-color: $secondary-color-light;
$background-color: #f3f3f3;

$dMar: 1.5rem;
$dPad: 1rem;

$footerH: 70px;

html.materialize body {
  background-color: $background-color;
}

/* materialize comps */
html.materialize .main-section {
  margin-top: 0;
}

/* main grid */
.container {
  max-width: 90vw;
}

.row {
  .container & {
    margin-left: -.8rem;
    margin-right: -.8rem;
  }
  .col {
    padding: 0 .8rem;
  }
}

/* materialize comps */
.btn {
  &-block {
    width: 100%;
  }
}

.btn,
.btn.large {
  background-color: $main-color;
  &:hover {
    background-color: lighten($accent-color, 15%);
  }
}

[type="checkbox"]:checked + label:before {
  border-right-color: $accent-color;
  border-bottom-color: $accent-color;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
.input-field .prefix.active {
  color: $accent-color;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 892px;
  }
}

@media only screen and (min-width: 1201px) {
  .container {
    width: 1080px;
  }
}

@media only screen and (min-width: 1601px) {
  .container {
    width: 1440px;
  }
}

@media only screen and (min-width: 1921px) {
  .container {
    width: 1440px;
  }
}


/* login */
$loginBoxH: 260px;
.login {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;

  width: 100vw;
  height: 100vh;

  header, footer,
  html.materialize &--section {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: inherit;
    margin: 0;
  }
  header {
    width: 100vw;
    background: $main-color url($login-bg) left center no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;

    .container {
      position: relative;
      height: calc(100vh - #{$loginBoxH} - #{$footerH});
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;

      > div {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        box-sizing: border-box;
        overflow: hidden;

        &.login--info {
          align-self: flex-end;
          padding: 40px;
        }
      }
    }
  }

  &--section {
    max-height: $loginBoxH;
    height: $loginBoxH;
    background-color: white;

    .container-x {
      position: absolute;
      width: 100%;
      bottom: 30px;
    }

    &:before {
      display: block;
      position: absolute;
      width: 100vw;
      height: 100vh;
      //background: transparent url(/img/overlay.png) center center;
      content: ' ';
      z-index: 0;
    }

    > .container {
      position: relative;
      z-index: 1;
    }
  }
  &--box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+3,aeea00+4,aeea00+13,ffffff+14 */
    background: white; /* Old browsers */
    //background: -moz-linear-gradient(top, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: relative;
    height: $loginBoxH;
    max-height: $loginBoxH;
    margin: 0 auto;
    padding: 40px;
    h2 {
      margin: 0 0 2rem;
      font-size: 3rem;
    }
  }
  &--form {
    .row {
      margin-bottom: 0;
    }
  }
  &--image {
    margin-top: 8rem;
  }
  &--info {
    bottom: 3rem;
    h1 {
      margin-top: 0;
    }
  }
  &--with {
    margin-top: 8px;
    > div {
      margin: 12px 0;
    }
    a {
      display: inline-block;
    }
  }

  .partnership--image {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* main-nav */
header .navbar-fixed {
  background-color: $background-color;
}

.page-footer {
  display: none;
  width: 100vw;
  max-height: $footerH;
  height: $footerH;
  padding: 1rem 0;
  background-color: darken($background-color, 10%);
  color: darken($background-color, 40%);
  text-align: center;
  body.login & {
    display: block;
  }
  a {
    color: inherit;
    &:hover, &:focus {
      color: $brand-color;
    }
  }
  a, strong {
    font-weight: 500;
  }
  &-bottom {
    span, a {
      padding: 0 2rem;
    }
  }
}

nav {
  width: 100vw;
  .nav-wrapper {
    background-color: $brand-color;
    > .container {
      position: relative;
      &:after {
        display: block;
        height: 0;
        line-height: 0;
        content: ' ';
        clear: both;
      }
    }
    .brand-logo {
      top: 0;
      left: 0 !important;
      height: 64px;
      padding: 4px 2rem;
      line-height: 1;
      background-color: darken($primary-color-dark, 20%);
      border-right: .5rem solid darken($primary-color-dark, 10%);

      -ms-transform: skewX(-20deg); /* IE 9 */
      -webkit-transform: skewX(-20deg); /* Safari */
      transform: skewX(-20deg); /* Standard syntax */

      img {
        max-height: 56px;
        -ms-transform: skewX(20deg); /* IE 9 */
        -webkit-transform: skewX(20deg); /* Safari */
        transform: skewX(20deg); /* Standard syntax */
      }
    }
  }
  ul a {
    position: relative;
    padding: 0 12px;
    font-size: 1.2rem;
  }
}

html.materialize .index-view-type {
  &-options > .tabs {
    margin-bottom: 1rem;
    background-color: transparent;
  }
}

.tabs {
  .tab {
    a {
      color: $main-color;
      &:hover, &.active {
        color: $accent-color;
      }
      &.pending-request {
        position: relative;
        .material-icons {
          position: absolute;
          top: 10px;
          left: 10px;
          .circle-clipper {
            &.left {
              border-color: $accent-color;
            }
            &.right {
              border-color: $accent-color;
            }
          }
        }
      }
    }
  }
  .indicator {
    background-color: $accent-color;
  }
}

#tabs-container {
  .index-view-type {
    margin: 0 0 20px 0;
  }
  table {
    background-color: white;
    th, td {
      padding-left: 10px;
      padding-right: 10px;
    }
    td.avatar img {
      margin-left: 10px;
    }
  }
}

html.materialize {
  .card:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 7px 0 rgba(0, 0, 0, 0.12), 0 5px 2px -4px rgba(0, 0, 0, 0.2)
  }
  .card .card-image .card-title {
    background-color: rgba($main-color, .7);
    text-shadow: 1px 1px 1px $primary-color-dark;
    a:hover {
      color: white;
    }
  }
  .card:hover .card-image .card-title,
  .card .card-image .card-title:hover {
    background-color: rgba($main-color, .85);
  }

}

/* course */
.course {
  &--card {
    margin: 2rem 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  &--image {
    display: block;
    background-position: center center;
    background-size: cover;
    //height: 196px;
  }
  &--property {
    position: absolute;
    top: 1rem;
    right: 4rem;

    .badge {
      margin-left: 0;
    }

    .card & + .card-title {
      top: calc(50% - 15px);
      bottom: auto;
      width: calc(100% - 72px);
      margin: -56px 36px 0;
      padding: 24px 0;
      background-color: transparent;
      text-align: center;
      text-shadow: 0 0 .25rem rgba(#000, .8);
      font-size: 4rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;

      > small {
        display: block;
        padding: 10px 60px;
        line-height: 1;
        background-color: rgba(darken($main-color, 20%), .85);
        font-size: 36%;
        font-weight: 400;
      }
    }
  }
}

.card-reveal {
  .card-title {
    margin-top: 0;
    font-weight: 600;
  }
}

.card-action {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.pagination {
  li.active {
    background-color: $accent-color;
  }
}

.view-nav {
  .container > .row {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  &-right {
    .nav-action {
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .course {
    &--image {
      //height: 282px;
    }
    &--property {
    }
  }
}

@media only screen and (min-width: 601px) {
  .course {
    &--image {
      //height: 240px;
    }
    &--property {
    }
  }
}

@media only screen and (min-width: 993px) {
  .course {
    &--image {
      //height: 282px;
    }
    &--property {
    }
  }
}

@media only screen and (min-width: 1201px) {
  .course {
    &--image {
      //height: 252px;
    }
    &--property {
    }
  }
}

@media only screen and (min-width: 1601px) {
  .course {
    &--image {
      //height: 342px;
    }
    &--property {
    }
  }
}

@media only screen and (max-width: 1600px) {
  .login--box h2 {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .login--box h2 {
    font-size: 2rem;
  }
  nav {
    ul a {
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .login--box h2 {
    font-size: 1.6rem;
  }
}


@media (orientation: portrait) {
  //body {
  //  overflow: hidden;
  //}
  //body:after {
  //  position: fixed;
  //  top: 25vh;
  //  left: calc(50vw - 2rem);
  //  z-index: 100001;
  //  display: inline-block;
  //  line-height: 1;
  //  color: $accent-color;
  //  font-family: 'Material Icons';
  //  font-weight: normal;
  //  font-style: normal;
  //  font-size: 4em;
  //  letter-spacing: normal;
  //  text-transform: none;
  //  white-space: nowrap;
  //  word-wrap: normal;
  //  direction: ltr;
  //  -webkit-font-feature-settings: 'liga';
  //  -webkit-font-smoothing: antialiased;
  //  content: 'warning';
  //}
  //body:before {
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //
  //  position: fixed;
  //  top: 0;
  //  width: 100vw;
  //  height: 100vh;
  //  padding: 3rem;
  //  content: attr(data-landscape);
  //  background-color: darken($main-color, 20%);
  //  color: $accent-color;
  //  font-size: 2rem;
  //  text-align: center;
  //  z-index: 100000;
  //}
}

.model-plannedCourseStudent {
  margin-top: 1rem;
  .index-wrapper {
    .card {
      //background-color: transparent;
      //box-shadow: none;
      .card-image {
        .image-wrapper {
          //border-radius: 50%;
          overflow: hidden;
          //width: 200px;
          //height: 200px;
          margin-left: auto;
          margin-right: auto;
          .image-tag {
            @extend .z-depth-1;
            height: 250px;
          }
        }
      }
      .card-content {
        min-height: 150px;
        .card-title {
          //text-align: center;

          .model-property-value {
            &.model-property-objectLabel {
              white-space: normal;
            }
          }
        }
      }
    }
  }
  .view-wrapper {
    .model-property-value {
      &.model-property-objectLabel {
        font-size: 3.2rem;
        color: $primary-color;
        white-space: normal;
      }
      &.model-property-startDate {
        margin: 2rem 0 0;
        padding: 3px 10px;
        border-top: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey;
        margin-bottom: 10px;
        .property-label {
          .material-icons {
            background-color: #d3d3d3;
            border-radius: 50%;
            padding: 5px;
            & + span {
              color: $accent-color;
              position: relative;
              top: -3px;
              margin: 0 .5rem 0 1rem;
            }
          }
        }
        .property-value {
          position: relative;
          top: -5px;
        }
      }
      &.model-property-imageSrc {
        //border-radius: 50%;
        overflow: hidden;
        //width: 250px;
        //height: 250px;
        margin-left: auto;
        margin-right: auto;
        .image-tag {
          //@extend .z-depth-1;
          max-width: 100%;
          //height: 250px;
        }
      }
      &.model-property-courseObjectives {
        .property-label {
          font-size: 1.64rem;
        }
      }
      &.model-property-rating {
        .rating-star-element {
          &:hover {
            color: $third-color-dark;
          }
        }
      }
    }
    .model-property-participationCertificate,
    .model-property-promovationCertification {
      display: inline-block !important;
      width: 49.5%;
      span {
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
      }
      .property-label {
        float: right;
        width: 69.9%;
        margin: 0;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
      }
      .property-value {
        width: 30%;
        .material-icons {
          color: color("orange", "lighten-1") !important;
        }
      }
    }

  }
  .model-property-rating {
    float: right;
    margin-top: -30px;
    .rating-stars .material-icons {
      color: $accent-color;
    }
  }

  .view-nav {
    &-left {
      //text-align: center;
    }
    .nav-action {
      bottom: -1.75rem;
    }
  }

  &.model-view {
    .model-property-courseDescription {
      .material-icons.small {
        font-size: .75rem;
      }
    }
    .model-property-courseObjectives,
    .model-property-courseGeneralObjectives {
      margin-top: 1rem;
      padding: 1rem;
      background-color: lighten($brand-color, 40%);
      td {
        padding: 0;
      }
      ul {
        margin: 0;
        > li {
          line-height: 2.25rem;
          margin: 1.5rem 0;
          p {
            margin: 0;
            .material-icons {
              vertical-align: middle;
              color: $accent-color;
            }
          }
        }
      }
    }
  }

  .model-property-objectLabel {
    font-weight: 300;
  }

  .properties-wrapper-content {
    margin-top: 2rem;
  }

  aside {
    h5 {
      margin-top: 2rem;
      margin-bottom: .6rem;
      padding-bottom: .6rem;
      border-bottom: 1px solid $brand-color;
    }
  }

  .model-property-teacher {
    .user-avatar {
      .user-icon, .user-name {
        display: block;
      }
      .user-icon {
        &, &.no-image[data-initials]:before {
          width: 10rem;
          height: 10rem;
          line-height: 10rem;
          font-size: 2rem;
        }
      }
      .user-name {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }

}

.model-course {
  margin-top: 1rem;
  .index-wrapper {
    .card {
      //background-color: transparent;
      //box-shadow: none;
      .card-image {
        .image-wrapper {
          //border-radius: 50%;
          overflow: hidden;
          //width: 200px;
          //height: 200px;
          margin-left: auto;
          margin-right: auto;
          .image-tag {
            @extend .z-depth-1;
            height: 250px;
          }
        }
      }
      .card-content {
        min-height: 150px;
        .card-title {
          //text-align: center;

          .model-property-value {
            &.model-property-objectLabel {
              white-space: normal;
            }
          }
        }
      }
    }

    .collection {
      $imgWidth: 13rem;
      $imgHeight: 8rem;
      border: none;

      &-header {
        margin-top: 1.25rem;
        margin-left: 2.95rem;
        padding-left: 7rem;
        font-size: .75rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      .collection-item {
        position: relative;
        height: $imgHeight;
        //margin-left: 3.75rem;
        margin-bottom: 1.5rem;
        padding: 1rem 1rem 1rem 14rem;
        min-height: inherit;
        border-radius: 2px;
        border: 1px solid $background-color;

        .image-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          .model-property-imageSrc {
            overflow: inherit;
            .image-tag {
              position: relative;
              top: 0;
              left: 0;
              width: $imgWidth;
              height: $imgHeight;
              border-radius: 2px;
            }
          }
        }

        > .row {
          display: flex;
          height: 100%;
        }

        .title, .properties-wrapper {
          //display: inline-block;
        }
        .title {
          width: 89.5%;
          //display: flex;
          //align-items: center;
          //justify-content: left;
          a {
            text-transform: uppercase;
            font-weight: 400;
          }
        }

        .properties-wrapper {
          //width: 10%;
          //display: flex;
          //align-items: center;
          //justify-content: center;
          > div {
            //display: inline-block;
            //width: 49.9%;
            //text-align: center;
            //line-height: 22.5px;
          }
        }

        .actions-wrapper {
          //margin-bottom: 1rem;
          .main-actions {
            padding-right: 1.4rem;
            text-align: right;
            .generic-action {
              margin-right: 1rem;
            }
          }
        }


      }
    }
  }

  .view-wrapper {
    &.model-course {
      // background-color: white;
      //border:1px solid lightgrey;
      //border-radius: 5px;
    }
    .model-property-value {

      &.model-property-objectLabel {
        font-size: 3.2rem;
        color: $primary-color;
        white-space: normal;
      }

      &.model-property-imageSrc {
        //border-radius: 50%;
        overflow: hidden;
        //width: 250px;
        //height: 250px;
        margin-left: auto;
        margin-right: auto;
        .image-tag {
          //@extend .z-depth-1;
          max-width: 100%;
          //height: 250px;
        }
      }

      &.model-property-plannedCourses {

      }
    }

  }

  .model-property-rating {
    float: right;
    .rating-stars .material-icons {
      color: $accent-color;
    }
  }

  .properties-wrapper-content {
    margin-top: 2rem;
  }

  .model-property-objectLabel {
    font-weight: 300;
  }

  .model-property-plannedCourses {
    &.carousel-container {
      padding: 1rem 2rem;
    }

    .carousel {
      $pointerWidth: 6rem;
      $pointerHeight: $pointerWidth/4;
      $radius: .25rem;

      padding: 1rem $pointerHeight;
      background-color: darken($background-color, 6%);
      border: 2px solid darken($background-color, 40%);
      border-width: 1px 2px 4px;
      border-radius: $radius;
      z-index: 0;

      &:after {
        position: absolute;
        right: 0;
        bottom: -4px;
        left: calc(50% - #{$pointerWidth});
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $pointerWidth $pointerHeight*2 $pointerWidth;
        border-color: transparent transparent rgba($background-color, .8) transparent;
        background-color: transparent;
        content: ' ';
        z-index: 1;
      }

      .model-property-startDate,
      .model-property-endDate {
        padding: .5rem;
        background-color: $background-color;
        border: 2px solid darken($background-color, 40%);
        border-width: 4px 2px 1px;
        border-radius: $radius;
      }
      .model-property-status {
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 600;
        color: darkgreen;
      }
    }
  }
  .model-property-plannedCourseDetails {
    margin-top: 2rem;
  }
  .model-property-sessionStudents {
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    background-color: darken($background-color, 6%);
    text-align: center;
    text-overflow: unset !important;
    white-space: unset !important;
    .property-label {
      font-size: 1.64rem;
    }
    ul.property-value.collection {
      margin: 1rem 0;
      background-color: transparent !important;
      border: none;
    }
    .model-aelUser {
      position: relative;
      width: 8rem;
      height: 8rem;
      margin: 3rem .8rem .8rem;
      padding: 0;
      //background-color: transparent;
      border-radius: 50%;
      span {
        position: relative;
        display: block;
      }
      .user-avatar {
        padding: 0;
      }
      .user-icon {
        top: -1rem;
        margin-top: -1rem;
        html.materialize &:before {
          width: 4rem;
          height: 4rem;
          margin: 0;
          line-height: 4rem;
          background-color: $accent-color;
        }
      }
      .user-name {
        padding: 0 1.25rem;
      }
    }
  }

  aside {
    h5 {
      margin-top: 2rem;
      margin-bottom: .6rem;
      padding-bottom: .6rem;
      border-bottom: 1px solid $brand-color;
    }
  }

  .model-property-creator {
    .user-avatar {
      .user-icon, .user-name {
        display: block;
      }
      .user-icon {
        &, &.no-image[data-initials]:before {
          width: 10rem;
          height: 10rem;
          line-height: 10rem;
          font-size: 2rem;
        }
      }
      .user-name {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }

}

.card-action {
  html.materialize .card & .main-actions :nth-child(n) {
    margin-right: 1rem;
  }

  .more-actions-controller {
    height: 36px;
    margin-top: .2rem;
    margin-bottom: .2rem;
    i {
      line-height: 36px;
    }
  }
}

/* chat */
#chat-page {
  #users-container {

  }
  #search-user-box {
    margin: 0;
    height: 45px;
    background-color: transparent;
    #search-user {
      height: 38px;
      margin-bottom: 0;
      padding-left: 48px;
      background-color: transparent;
      border-color: transparent;
      &:focus {
        padding: 5px 48px 5px 12px;
      }
      + .label-icon.active {
        display: none;
        + .btn-floating {
          display: inherit;
        }
      }
    }
    .btn-floating {
      display: none;
      left: -52px;
      &.btn-large {
        width: 48px;
        height: 48px;
      }
      > i {
        color: red;
        line-height: 48px;
      }
    }
  }
  #users-list {
    margin-bottom: 0;

    .collection-item {
      padding-left: 64px;
      min-height:64px;
      //&:before {
      //  display: block;
      //  position: absolute;
      //  top: 26px;
      //  left: 32px;
      //  width: 14px;
      //  height: 14px;
      //  border-radius: 7px;
      //  content: ' ';
      //  background-color: limegreen;
      //  border: 3px solid white;
      //  z-index: 1;
      //}

      &.disabled-elem {
        background-color: transparent;
        border-bottom-color: #616161;
        &:before {
          background-color: rgba(darkred, .65);
          border-color: #424242;
        }
        .chip {
          color: rgba(white, .7);
          img {
            opacity: .55;
          }
        }
      }
      &.user-selected {
        border-left: 7px solid;
        border-radius: 0;
        .chip {
          font-weight: 600;
          &:after {
            background-color: deepskyblue;
          }
        }
      }

      .chip {
        display: block;
        height: 48px;
        margin: 0;
        padding: 8px 20px;
        background-color: transparent;
        color: #212121;
        font-size: 1rem;
        letter-spacing: .25px;

        &:after {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 8px;
          height: 48px;
          content: ' ';
        }
        img {
          z-index: 0;
        }
        .unread-message {
          line-height: 32px;
          font-weight: normal;
        }
      }
    }
  }
  .chat-container {
    .chat-window {

      img.circle {
        width: 2rem;
        height: 2rem;
      }
      .chat-receiver {
        .col:first-child {
          padding-left: 0;
        }
      }
      .chat-sender {
        .col:last-child {
          padding-right: 0;
        }
      }
    }
    .row {
      margin: 0;
      .responsive-img {
        width: 3rem;
        height: 3rem;
        max-width: inherit;
      }
    }
    .card-panel {
      margin: 0;
      padding: 12px;
      &.chat-receiver {
        img {
          background-color: white;
        }
      }
      &.chat-sender {
        + .chat-spacer:before {
          text-align: right;
        }
      }
    }
    .chat-spacer {
      margin: 0 0 8px;
      padding-top: 4px;
      clear: both;
      &:before {
        display: block;
        content: attr(data-title);
        font-size: 11px;
        color: #999;
      }
    }
  }
  .chat-input-submit {
    .chat-input {
      box-shadow: none;
    }
    .chat-submit {
      height: 44px;
      line-height: 44px;
      background-color: transparent;
      border: none;
      color: #1976D2;
    }
  }
}
