<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.toLanguageTag()}" th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<head>
    <title th:text="#{page.api.web.title}"></title>
</head>
<body>
<section layout:fragment="pageContent" th:class="${'main-section view-section'}">
    <div class="container">
        <h1 th:utext="#{page.api.web.title}"></h1>
        <p th:utext="#{page.api.web.description}"></p>
        <div class="collection">
            <a th:href="@{/}" class="collection-item">Home</a>
            <!--/*@thymesVar id="endpoints" type="java.util.Map<java.lang.String,java.lang.String>"*/-->
            <th:block th:each="endpointEntry:${endpoints}"
                      th:with="endpointModelName=${endpointEntry.getKey()},endpointIndexLink=${endpointEntry.getValue()}">
                <a th:href="@{${endpointIndexLink}}" class="collection-item no-ajax"
                   th:utext="#{${endpointModelName+'.h1'}}">ModelName</a>
            </th:block>
        </div>
    </div>
</section>
</body>
</html>
