<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index Component</title>
</head>
<body>
<!--/*@thymesVar id="page" type="ro.siveco.ram.starter.ui.component.ModelPage"*/-->
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="items" type="java.util.List<java.lang.Object>"*/-->
<!--/*@thymesVar id="indexOptions" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<div th:fragment="component(items, indexOptions)" class="index-wrapper" th:with="modelName=${page.getModelName()}">
    <h1 th:utext="#{${page.h1}}" class="index-header"
        th:unless="${session.navigation.hasTabs(page.getModelName())}"></h1>
    <div class="row">
        <div class="index-view-type">
            <th:block th:if="${indexOptions.isSearchEnabled()}">
                <div class="model-search input-field col" th:classappend="'s7 m'+${12 - indexOptions.getViewTypes().size()}">
                    <i class="material-icons prefix">search</i>
                    <input id="search" type="text"
                           th:placeholder="#{${'model.'+modelName+'.search.placeholder'}}"
                           class="left"
                           autocomplete="off"/>
                    <button class="btn right" th:utext="#{action.cancel}"></button>
                </div>
                <div class="index-view-type-options col"
                     th:classappend="'s5 m'+${ indexOptions.getViewTypes().size()}">
                    <ul class="tabs tabs-icon" data-swipeable="false">
                        <li th:each="viewType:${indexOptions.getViewTypes()}"
                            class="index-view-type-option-wrapper tab col"
                            th:classappend="${viewType.equals(indexOptions.getDefaultViewType())?
                        ('active s'+T(java.lang.Integer).divideUnsigned(12,indexOptions.getViewTypes().size())):
                        ('s'+T(java.lang.Integer).divideUnsigned(12,indexOptions.getViewTypes().size()))}">
                            <a class="index-view-type-option no-ajax"
                               th:title="#{${'index.viewType.'+viewType.name()+'.label'}}"
                               th:attr="data-model-name=${modelName}"
                               th:href="${'#'+modelName+'-page-'+viewType.name().toLowerCase()}">
                                <div class="icon"
                                     th:utext="#{${'index.viewType.'+viewType.name()}}"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${indexOptions.isSearchEnabled()}">
                <div th:if="${indexOptions.getViewTypes().size()>1}" class="index-view-type-options col s12">
                    <ul class="tabs tabs-icon" data-swipeable="false">
                        <li th:each="viewType:${indexOptions.getViewTypes()}"
                            class="index-view-type-option-wrapper tab col"
                            th:classappend="${viewType.equals(indexOptions.getDefaultViewType())?
                        ('active s'+T(java.lang.Integer).divideUnsigned(12,indexOptions.getViewTypes().size())):
                        ('s'+T(java.lang.Integer).divideUnsigned(12,indexOptions.getViewTypes().size()))}">
                            <a class="index-view-type-option no-ajax"
                               th:title="#{${'index.viewType.'+viewType.name()+'.label'}}"
                               th:attr="data-model-name=${modelName}"
                               th:href="${'#'+modelName+'-page-'+viewType.name().toLowerCase()}">
                                <div class="icon col right-align s10 m6"
                                     th:utext="#{${'index.viewType.'+viewType.name()}}"></div>
                                <div class="text col left-align m6 hide-on-small-only"
                                     th:text="#{${'index.viewType.'+viewType.name()+'.label'}}"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>
        <div class="filters col s12" th:include="@{'content/'+${modelName}+'/filters'} :: component(${model}, ${indexOptions})"/>
        <div class="chart col s12" th:include="@{'content/'+${modelName}+'/chart'} :: component(${model}, ${indexOptions})"/>
        <div class="index-content" th:attr="data-model-index=${modelName}">
            <th:block th:each="viewType:${indexOptions.getViewTypes()}">
                <div class="col s12" th:id="${modelName+'-page-'+viewType.name().toLowerCase()}"
                     th:style="${indexOptions.getViewTypes().size()>1?'display: none;':''}">
                    <th:block th:switch="${viewType}">
                        <th:block th:case="${T(ro.siveco.ram.starter.ui.model.IndexViewType).LIST}">
                            <th:block
                                    th:include="@{'content/'+${modelName}+'/list'} :: component(${items}, ${indexOptions})">

                            </th:block>
                        </th:block>
                        <th:block th:case="${T(ro.siveco.ram.starter.ui.model.IndexViewType).GRID}">
                            <th:block th:if="${indexOptions.isPaginationEnabled()}">
                                <th:block
                                        th:replace="app/components/grid/table-with-pagination :: component(null, ${items},${indexOptions})">
                                </th:block>
                            </th:block>
                            <th:block th:unless="${indexOptions.isPaginationEnabled()}">
                                <th:block
                                        th:replace="app/components/grid/table-with-header :: component(null, ${items},${indexOptions})">
                                </th:block>
                            </th:block>
                        </th:block>
                        <th:block th:case="${T(ro.siveco.ram.starter.ui.model.IndexViewType).CARD}">
                            <th:block th:if="${indexOptions.isPaginationEnabled()}">
                                <div th:replace="app/components/card/cards-generic-list-with-pagination :: component(${items},${indexOptions},'grey lighten-3')">
                                </div>
                            </th:block>
                            <th:block th:unless="${indexOptions.isPaginationEnabled()}">
                                <div th:replace="app/components/card/cards-generic-list-simple :: component(${items},${indexOptions},'grey lighten-3')">
                                </div>
                            </th:block>
                        </th:block>
                    </th:block>
                </div>
            </th:block>
        </div>
        <div class="fixed-action-btn" th:if="${indexOptions.createActionEnabled}">
            <a class="btn-floating btn-large green" th:href="${indexOptions.getBaseCreateFormUri()}"
               data-open-in-modal="true">
                <i class="large material-icons">add</i>
            </a>
        </div>
    </div>
</div>
</body>
</html>