<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
    <title>User Notifications</title>
</head>

<body>
    <section class="notifications-section" layout:fragment="pageContent">
        <div class="container row">
            <div class="hidden messages" style="display:none">
                <span message-attr="user-notifications.mark-all.error" th:utext="#{user-notifications.mark-all.error}"></span>
                <span message-attr="user-notifications.mark.error" th:utext="#{user-notifications.mark.error}"></span>
                <span message-attr="user-notifications.delete.error" th:utext="#{user-notifications.delete.error}"></span>
            </div>

            <div class="row">
                <div class="col s12 left">
                    <a href="/sessions/" id="notifications-back-button" class="no-ajax waves-effect waves-light btn secondary btn-in-row" th:utext="#{common.back}">Back</a>
                </div>
            </div>

            <h3 class="notifications-header">
                <i class="material-icons">notifications</i>
                <span th:utext="#{user-notifications.title}"></span>
            </h3>

            <div class="row">
                <button class="btn btn-default btn-block col s12 m8 l5" id="markAllBtn" th:onclick="'showLoader()'" th:utext="#{user-notifications.mark-all-as-read}"
                    style="text-transform: none;">Mark all as read
                </button>
            </div>

            <table class="bordered responsive-table">
                <thead>
                    <tr>
                        <th th:utext="#{user-notifications.sender}">Sender</th>
                        <th th:utext="#{user-notifications.subject}">Subjects</th>
                        <th th:utext="#{user-notifications.message}">Message</th>
                        <th th:utext="#{user-notifications.sent}">Sent</th>
                        <th style="width:50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="message : ${notifications}" th:id="${message.id}" th:classappend="${message.readDate} ? read : unread">
                        <td th:utext="${message.from}" th:classappend="${message.readDate} ? read : unread"></td>
                        <td th:utext="${message.subject}" th:classappend="${message.readDate} ? read : unread"></td>
                        <td th:utext="${message.messageBody}" th:classappend="${message.readDate} ? read : unread"></td>
                        <td th:utext="${message.formattedSentDate}" th:classappend="${message.readDate} ? read : unread"></td>
                        <td>
                            <a href="#!" onClick="deleteNotif(this);" class="secondary-content btn-floating red" th:title="#{user-notifications.delete}">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <input type="hidden" id="hiddenUserDisplayName" th:value="${userDisplayName}"/>
                <input type="hidden" id="hiddenUserInitials" th:value="${userInitials}"/>
                <input type="hidden" id="hiddenUserAvatarSrc" th:value="${userAvatarSrc}"/>
            </div>

            <!-- Modal Delete Notification -->
            <div id="modalDeleteNotification" class="modal">
                <div class="modal-content">
                    <input id="sourceId" type="hidden" value="" />
                    <h4 th:utext="#{user-notifications.delete-modal.title}">Delete notification</h4>
                    <span th:utext="#{user-notifications.delete-modal.message}">
                        Are you sure you want to delete this notification ?
                    </span>
                </div>
                <div class="modal-footer">
                    <a onClick="noDeleteNotification();" class="modal-action modal-close waves-effect waves-light btn red" th:utext="#{user-notifications.delete-modal.no}">No</a>
                    <a onClick="yesDeleteNotification();" class="modal-action modal-close waves-effect waves-light btn green" th:utext="#{user-notifications.delete-modal.yes}">Yes</a>
                </div>
            </div>
        </div>
    </section>

    <th:block layout:fragment="my-scripts">
        <script type="text/javascript">
            /*<![CDATA[*/

            $(document).ready(function () {
                if (typeof app !== 'undefined') {
                    app.hideLoader();
                }
                var avatarWrapper = $('.text.authentication-name'),
                    avatarHolder = {
                        displayName: $('#hiddenUserDisplayName').val(),
                        avatarSrc: $('#hiddenUserAvatarSrc').val(),
                        initials: $('#hiddenUserInitials').val()
                    };
                addUserAvatar(avatarWrapper, avatarHolder);
            });

            $('#modalDeleteNotification').modal();

            $("#markAllBtn").on("click", function () {
                $.ajax({
                    url: '/user_notifications/markAllAsRead',
                    type: "POST",
                    contentType: "application/json",
                    success: function (data, textStatus, jqXHR) {
                        window.location = '/user_notifications';
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert($(".messages [message-attr='user-notifications.mark-all.error']").text());
                    }
                });
            });

            $('table tbody tr').on("click", function () {
                var elem = $(this);
                if (elem.hasClass("unread")) {
                    var ids = [];
                    ids.push(elem.attr("id"));

                    $.ajax({
                        url: '/user_notifications/markAsRead',
                        type: "POST",
                        data: JSON.stringify(ids),
                        contentType: "application/json",
                        success: function (data, textStatus, jqXHR) {
                            elem.removeClass("unread");
                            elem.addClass("read");
                            elem.children().removeClass("unread");
                            elem.children().addClass("read");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert($(".messages [message-attr='user-notifications.mark.error']").text());
                        }
                    });
                }
            });

            $('.brand-logo.no-ajax').click(function () {
                showLoader();
            });

        /*]]>*/
        </script>
    </th:block>
</body>

</html>