<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="object" type="ro.siveco.ram.model.Model"*/-->
<!--/*@thymesVar id="indexOptions" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<!--/*@thymesVar id="propertyRenderer" type="ro.siveco.ram.starter.ui.model.PropertyRenderer"*/-->
<!--/*@thymesVar id="formInputType" type="ro.siveco.ram.starter.ui.model.FormInputType"*/-->
<head>
    <title>Collection Builder Fragment</title>
</head>
<body>
<th:block th:fragment="component(propertyDomId, formInputType, propertyRenderer, propertyIndex, object, indexOptions)">
    <div th:class="${'ram-input input-field col s'+propertyRenderer.inputFieldSize.getSize()}"
         th:with="propertyName=${propertyRenderer.propertyName},
         value=${object[propertyName]!=null?object[propertyName]:propertyRenderer.propertyClass.newInstance()},
         serialValue=${null},
         valueToRender=${value!=null?(value.objectLabel):null}"
         th:attr="
         data-model-property-name=${propertyName},
         data-model-name=${object.modelName},
         data-target-model-name=${propertyRenderer.modelName},
         data-model-property-renderer=${propertyRenderer.rendererType.getName()},
         data-form-input-type=${formInputType},
         data-app-plugin='collectionBuilder',
         data-form-input-type-options='{}'">
        <div
                th:with="propertyName=${propertyRenderer.propertyName}"
                th:id="${propertyDomId}"
                th:class="${propertyRenderer.inputFieldValidation?'validate collection-builder':'collection-builder'}"
                th:placeholder="#{${'model.'+object.modelName+'.property.'+propertyName+'.placeholder'}}"
                th:attr="data-model-property-value=${serialValue},data-model-name=${propertyRenderer.modelName}"
                th:name="${propertyName}">
            <ul class="clearfix collection with-header">
                <li class="collection-header">
                    <div>
                        <h4 th:if="${propertyRenderer.inputFieldWithLabel}" class="property-label left"
                            th:utext="#{${'model.'+object.modelName+'.property.'+propertyName+'.label'}}">
                        </h4>
                        <button class="btn-floating right secondary-content primary-bg" type="button"
                                name="add-list-item"
                                th:attr="data-back-to=${indexOptions.getBaseIndexUri()}">
                            <i class="large material-icons">add</i>
                        </button>
                    </div>
                </li>
                <li class="collection-item-template">
                    <th:block
                            th:each="embeddedProperty,embeddedPropertyIndex:${propertyRenderer.embeddedModelProperties}">
                        <!--/*@thymesVar id="embeddedProperty" type="ro.siveco.ram.starter.ui.model.PropertyRenderer"*/-->
                        <th:block th:unless="${embeddedProperty.hidden or propertyRenderer.hiddenOnForm}">
                            <th:block
                                    th:include="@{'content/'+${embeddedProperty.modelName}+'/form-input-field'} :: component(formId=${propertyDomId+'{#}'}, propertyRenderer=${embeddedProperty}, propertyIndex=${embeddedPropertyIndex}, object=${value}, indexOptions=${indexOptions}, modelName=${object.modelName+'.'+propertyName})">

                            </th:block>
                        </th:block>
                    </th:block>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>
