<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="object" type="ro.siveco.ram.model.Model"*/-->
<!--/*@thymesVar id="indexOptions" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<!--/*@thymesVar id="propertyRenderer" type="ro.siveco.ram.starter.ui.model.PropertyRenderer"*/-->
<!--/*@thymesVar id="formInputType" type="ro.siveco.ram.starter.ui.model.FormInputType"*/-->
<head>
    <title>Object Builder Fragment</title>
</head>
<body>
<th:block th:fragment="component(propertyDomId, formInputType, propertyRenderer, propertyIndex, object, indexOptions)">
    <div th:class="${'ram-input input-field col s'+propertyRenderer.inputFieldSize.getSize()}"
         th:with="propertyName=${propertyRenderer.propertyName},
         value=${object[propertyName]!=null?object[propertyName]:propertyRenderer.propertyClass.newInstance()},
         serialValue=${null},
         valueToRender=${value!=null?(value.objectLabel):null}"
         th:attr="
         data-model-property-name=${propertyName},
         data-model-name=${object.modelName},
         data-target-model-name=${propertyRenderer.modelName},
         data-model-property-renderer=${propertyRenderer.rendererType.getName()},
         data-form-input-type=${formInputType},
         data-form-input-type-options='{}'">
        <fieldset
                th:with="propertyName=${propertyRenderer.propertyName}"
                th:id="${propertyDomId}"
                th:class="${propertyRenderer.inputFieldValidation?'validate object-builder':'object-builder'}"
                th:placeholder="#{${'model.'+object.modelName+'.property.'+propertyName+'.placeholder'}}"
                th:attr="data-model-property-value=${serialValue},data-model-name=${propertyRenderer.modelName}"
                th:name="${propertyName}">
            <legend th:if="${propertyRenderer.inputFieldWithLabel}"
                   th:for="${propertyDomId}"
                   th:utext="#{${'model.'+object.modelName+'.property.'+propertyName+'.label'}}">
            </legend>
            <th:block th:each="embeddedProperty,embeddedPropertyIndex:${propertyRenderer.embeddedModelProperties}">
                <!--/*@thymesVar id="embeddedProperty" type="ro.siveco.ram.starter.ui.model.PropertyRenderer"*/-->
                <th:block th:unless="${embeddedProperty.hidden or propertyRenderer.hiddenOnForm}">
                    <th:block
                            th:include="@{'content/'+${embeddedProperty.modelName}+'/form-input-field'} :: component(formId=${propertyDomId}, propertyRenderer=${embeddedProperty}, propertyIndex=${embeddedPropertyIndex}, object=${value}, indexOptions=${indexOptions}, modelName=${object.modelName+'.'+propertyName})">

                    </th:block>
                </th:block>
            </th:block>
        </fieldset>
    </div>
</th:block>
</body>
</html>
