<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="object" type="ro.siveco.ram.model.Model"*/-->
<!--/*@thymesVar id="indexOptions" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<!--/*@thymesVar id="propertyRenderer" type="ro.siveco.ram.starter.ui.model.PropertyRenderer"*/-->
<!--/*@thymesVar id="formInputType" type="ro.siveco.ram.starter.ui.model.FormInputType"*/-->
<head>
    <title>Form Input text Fragment</title>
</head>
<body>
<th:block th:fragment="component(propertyDomId, formInputType, propertyRenderer, propertyIndex, object, indexOptions)">
    <div th:class="${'ram-input input-field col s'+propertyRenderer.inputFieldSize.getSize()}"
         th:with="propertyName=${propertyRenderer.propertyName},
         value=${object[propertyName]},
         valueToRender=${value}"
         th:attr="
         data-model-property-name=${propertyName},
         data-model-name=${object.modelName},
         data-model-property-renderer=${propertyRenderer.rendererType.getName()},
         data-form-input-type=${formInputType},
         data-form-input-type-options='{}'">
        <select data-app-plugin='selector'
                th:with="propertyName=${propertyRenderer.propertyName}"
                th:id="${propertyDomId}"
                th:title="#{${'model.'+modelName+'.property.'+propertyName+'.label'}}"
                th:type="${formInputType.htmlName()}"
                th:class="${propertyRenderer.inputFieldValidation?'validate':''}"
                th:placeholder="#{${'model.'+modelName+'.property.'+propertyName+'.placeholder'}}"
                th:attr="data-model-property-value=${object[propertyName]}"
                th:disabled="${propertyRenderer.disabled}"
                th:readonly="${propertyRenderer.readonly}"
                th:name="${propertyName}">
            <th:block th:if="${propertyRenderer.rendererType.name.equals('ENUM')}">
                <!--/*@thymesVar id="enumOption" type="java.lang.Enum"*/-->
                <th:block th:each="enumOption:${T(__${propertyRenderer.propertyClass.name}__).values()}">
                    <option th:value="${enumOption.name()}"
                            th:utext="#{${'model.'+modelName+'.property.'+propertyName+'.enum.'+enumOption.name()}}"></option>
                </th:block>
            </th:block>
        </select>
        <label th:if="${propertyRenderer.inputFieldWithLabel}"
               th:for="${propertyDomId}"
               th:utext="#{${'model.'+modelName+'.property.'+propertyName+'.label'}}" class="active">

        </label>
    </div>
</th:block>
</body>
</html>