<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cards List Component</title>
</head>
<body>
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="items" type="java.util.List<ro.siveco.ram.starter.ui.type.HtmlElement>"*/-->
<!--/*@thymesVar id="options" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<div class="row" th:fragment="component(items,options,cardColor)">
    <th:block th:each="itemElement : ${items}">
        <!--/*@thymesVar id="item" type="ro.siveco.ram.model.Entity"*/-->
        <th:block
                th:with="item=${itemElement.getObjectSource()},sizeSm=${options.getCardOptions().getSizeSmall().size},sizeMd=${options.getCardOptions().getSizeMedium().size},sizeLg=${options.getCardOptions().getSizeLarge().size}">
            <div th:class="|col s${sizeSm} m${sizeMd} l${sizeLg}|">
                <div th:include="@{#overridesPath+${item.objectSource.modelName}+'/card-content'} :: component(${itemElement}, ${options})"
                     th:class="'card '+${cardColor}"
                     th:attr="data-model-id=${item.id}, data-model-name=${item.modelName}, data-model-target-view=''">
                </div>
            </div>
        </th:block>
    </th:block>
</div>
</body>
</html>