<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="itemElement" type="ro.siveco.ram.starter.ui.type.HtmlElement"*/-->
<!--/*@thymesVar id="options" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<head>
    <title>Card Content Fragment</title>
</head>
<body>
<div th:fragment="component(itemElement, options)">
    <div class="card-content-wrapper">
        <div class="card-title">
            <h5 th:utext="${itemElement.getObjectSource().getObjectLabel()}" class="target-for-with-action"></h5>
        </div>
        <div class="item-body">
            <th:block
                    th:replace="@{#overridesPath+${modelName}+'/description'} :: component(${itemElement.getObjectSource()}, ${options})">
            </th:block>
        </div>
    </div>
    <div class="card-action" th:if="${options.viewOptions.isWithActions()}"
         th:with="item=${itemElement.getObjectSource()}">
        <a th:href="${options.getBaseEditFormUri(item.id)}"
           class="form-action"
           th:utext="#{${'model.'+item.modelName+'.action.edit.form'}}"></a>
        <a class="delete-action"
           th:href="${options.getBaseDeleteUri(item.id)}"
           th:attr="
                        data-model-name=${item.modelName},
                        data-rest-method='DELETE',"
           th:utext="#{${'model.'+item.modelName+'.action.delete'}}">
        </a>
    </div>
</div>
</body>
</html>