<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="${#locale.toLanguageTag()}"
      th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewType" type="ro.siveco.ram.controller.util.ViewType"*/-->
<!--/*@thymesVar id="model" type="ro.siveco.ram.model.Entity"*/-->

<head th:with="formType=${(model.objectUID==null)?'CREATE':'UPDATE'}">
    <title th:text="#{${modelName+'.'+viewType+'.title'+(formType=='UPDATE'?'.update':'')}}"></title>
</head>
<body>
<section layout:fragment="pageContent" th:class="${'main-section form-section model model-'+modelName}">
    <div th:replace="__${#overridesPath+modelName+#formFragment}__"></div>
</section>
</body>
</html>
