<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="${#locale.toLanguageTag()}"
      th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<head>
    <title th:text="#{${modelName+'.h1'}}"></title>
</head>
<body>
<section layout:fragment="pageContent" th:class="${'main-section index-section model model-'+modelName}">
    <div th:replace="__${#overridesPath+modelName+#indexFragment}__"></div>
</section>
</body>
</html>