<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewName" type="java.lang.String"*/-->
<!--/*@thymesVar id="modelDescriptor" type="ro.siveco.ram.starter.ui.model.ModelDescriptor"*/-->
<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<ro.siveco.ram.model.Model>"*/-->
<!--/*@thymesVar id="viewType" type="ro.siveco.ram.controller.util.ViewType"*/-->
<!--/*@thymesVar id="indexViewType" type="ro.siveco.ram.starter.ui.model.IndexViewType"*/-->
<!--/*@thymesVar id="item" type="ro.siveco.ram.model.Model"*/-->

<head>
    <title>List with pagination Component</title>
</head>
<body>

<!-- List wrapper -->
<div class="collection-simple" th:fragment="list">
    <!--/* Actual collection */-->
    <ul class="collection" th:fragment="actual-collection">
        <th:block th:each="item : ${page.content}">
            <li class="collection-item"
                th:replace="${#overridesPath+modelName+'/list-item'} :: listItem(item=${item},indexViewType=${indexViewType})"></li>
        </th:block>
    </ul>
</div>

<!-- List wrapper -->
<div class="tree-simple" th:fragment="tree">
    <!--/* Actual collection */-->
    <ul class="collection collapsible" th:fragment="actual-tree">
        <th:block th:each="item : ${page.content}">
            <li class="collection-item"
                th:replace="${#overridesPath+modelName+'/list-item'} :: treeItem(item=${item},indexViewType=${indexViewType})"></li>
        </th:block>
    </ul>
</div>


<!-- Cards wrapper -->
<div class="cards" th:fragment="cards">
    <div class="row">
        <th:block th:each="item : ${page.content}">
            <th:block
                    th:with="
                    sizeSm=${modelDescriptor.indexOptions.getCardOptions().getSizeSmall().size},
                    sizeMd=${modelDescriptor.indexOptions.getCardOptions().getSizeMedium().size},
                    sizeLg=${modelDescriptor.indexOptions.getCardOptions().getSizeLarge().size}">
                <div th:class="|col s${sizeSm} m${sizeMd} l${sizeLg}|">
                    <div th:replace="${#overridesPath+modelName+'/card'} :: card(item=${item},indexViewType=${indexViewType})"></div>
                </div>
            </th:block>
        </th:block>
    </div>
</div>

<!-- Grid wrapper -->
<div class="grid" th:fragment="grid">
    <table class="grid-table bordered bordered-all striped highlight responsive-table">
        <thead>

        </thead>
        <tbody>
        <th:block th:each="item : ${page.content}">
            <tr class="properties-wrapper"
                th:replace="${#overridesPath+modelName+'/list-item'} :: tr(item=${item},indexViewType=${indexViewType})"></tr>
        </th:block>
        </tbody>
    </table>
</div>

<!-- Grid wrapper -->
<div class="tree" th:fragment="tree">

</div>

<!-- Actions wrapper -->
<div class="actions-wrapper" th:fragment="actions-wrapper">
    <th:block
            th:with="moreActionsId=${#strings.toLowerCase('moreactions-'+item.modelName+'-'+viewType+'-'+indexViewType+'-'+viewName+'-'+item.objectUID)}">
        <a href="#" class="no-ajax more-actions-controller secondary-content dropdown-button"
           th:id="${moreActionsId+'-activator'}"
           th:attr="data-activates=${moreActionsId}, data-alignment='right'" th:utext="#{generic.more.actions}">
        </a>
        <ul class="more-actions dropdown-content" th:id="${moreActionsId}"></ul>
        <div class="main-actions"></div>
    </th:block>
</div>

</body>
</html>
