<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Property Wrapper</title>
</head>

<body>

    <!-- Property presentation  -->
    <div th:fragment="presentation">
        <!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
        <!--/*@thymesVar id="item" type="ro.siveco.ram.model.Model"*/-->
        <!--/*@thymesVar id="propertyRenderer" type="ro.siveco.ram.starter.ui.model.PropertyRenderer"*/-->
        <div th:unless="${propertyRenderer.hidden}" th:class="${'truncate property-presentation model-'+item.modelName+'-property model-property-'+propertyRenderer.propertyName}"
            th:attr="data-model-property-name=${propertyRenderer.propertyName},data-model-name=${modelName}">
            <div class=" center-align property-label" th:if="${propertyRenderer.isDisplayLabelInPresentation()}" th:attr="data-label-code=${'model.'+item.modelName+'.property.'+propertyRenderer.propertyName+'.label'}"
                th:utext="#{${'model.'+item.modelName+'.property.'+propertyRenderer.propertyName+'.label'}}">
            </div>
            <div class="property-value">
                <th:block th:include="${#overridesPath+modelName+'/property-wrapper'} :: propertyValueRenderer(item=${item}, propertyRenderer=${propertyRenderer})">
                </th:block>
            </div>
        </div>
    </div>

    <!-- Property value renderer -->
    <div th:fragment="propertyValueRenderer">
        <!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
        <!--/*@thymesVar id="item" type="ro.siveco.ram.model.Model"*/-->
        <!--/*@thymesVar id="propertyRenderer" type="ro.siveco.ram.starter.ui.model.PropertyRenderer"*/-->
        <!--/*@thymesVar id="propertyName" type="java.lang.String"*/-->
        <th:block th:with="
    propertyName=${propertyRenderer.propertyName},
    property=${item!=null?item[propertyName]:null}">
            <th:block th:switch="${propertyRenderer.rendererType}">
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).ID}">
                    <span class="value right" th:utext="${property}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).INTEGER}">
                    <span class="value right" th:utext="${property}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).DOUBLE}">
                    <span class="value right" th:utext="${property}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).STRING}">
                    <span class="value" th:utext="${property}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).STRING_MESSAGE}">
                    <span th:if="${property!=null}" class="value" th:utext="#{${property}}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"></span>
                    <span th:unless="${property!=null}" class="value" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"></span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).WEB_LINK}">
                    <a th:if="${property!=null}" class="value" th:href="${property}" th:utext="${property}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </a>
                    <a th:unless="${property!=null}" class="value" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </a>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).WEB_STORE_LINK}">
                    <a th:if="${property!=null}" class="value" th:href="${property}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                        <!--/*@thymesVar id="property" type="java.lang.String"*/-->
                        <img th:if="${#strings.contains(property,'google')}" src="/img/appstore/google.png" />
                        <img th:if="${#strings.contains(property,'windows')}" src="/img/appstore/windows.png" />
                        <img th:if="${#strings.contains(property,'apple')}" src="/img/appstore/apple.png" />
                    </a>
                    <a th:unless="${property!=null}" class="value" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </a>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).BOOLEAN}">
                    <span class="value" th:utext="#{${'model.'+modelName+'.property.'+propertyName+'.boolean'+(property==true?'.TRUE':'.FALSE')}}"
                        th:attr="
                      data-model-property-renderer=${propertyRenderer.rendererType.getName()},
                      data-model-property-value-true=#{${'model.'+modelName+'.property.'+propertyName+'.boolean.TRUE'}},
                      data-model-property-value-false=#{${'model.'+modelName+'.property.'+propertyName+'.boolean.FALSE'}}">
                    </span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).IMAGE}">
                    <img src="" class="value" th:src="${property}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"
                    />
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).ICON}">
                    <i class="value material-icons" th:utext="${property}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </i>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).TIME}">
                    <span class="value" th:utext="${property!=null?${@datesService.formatTime(property)}:null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).TIME_AGO}">
                    <time th:if="${property!=null}" class="value" th:utext="${property!=null?${@datesService.formatTime(property)}:null}" th:datetime="${@datesService.formatTime(property)}"
                        th:attr="
                      data-app-plugin='timeAgo',
                      data-has-tool-tip='false',
                      data-allow-past=(true?'true':'false'),
                      data-allow-future=(false?'true':'false'),
                      data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </time>
                    <time th:unless="${property!=null}" class="value" th:attr="
                      data-app-plugin='timeAgo',
                      data-has-tool-tip='false',
                      data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </time>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).DATE}">
                    <span class="value" th:utext="${property!=null?${@datesService.formatDate(property)}:null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).DATETIME}">
                    <span class="value" th:utext="${property!=null?${@datesService.formatShortDateTime(property)}:null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).ENUM}">
                    <!--/*@thymesVar id="property" type="java.lang.Enum"*/-->
                    <span class="value" th:if="${property!=null}" th:utext="#{${'model.'+modelName+'.property.'+propertyName+'.enum.'+property.name()}}"
                        th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"></span>
                    <span class="value" th:unless="${property!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"></span>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).HTML}">
                    <div class="value" th:include="${#overridesPath+modelName+'/renderer'} :: html(model=${property},propertyRenderer=${propertyRenderer},holder=${item})"
                        th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                    </div>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).PIE_CHART}">
                    <div class="value" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">TO DO
                    </div>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).DONUT_CHART}">
                    <div class="value" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">TO DO
                    </div>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).HORIZONTAL_BARS_CHART}">
                    <div class="value" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">TO DO
                    </div>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).VERTICAL_BARS_CHART}">
                    <div class="value" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">TO DO
                    </div>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).RATING_STARS}">
                    <div class="value rating-stars" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}" th:include="app/components/rating/widget :: view(value=${property},_starSize='small')"></div>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).MODEL}">
                    <!--/*@thymesVar id="property" type="ro.siveco.ram.model.Entity"*/-->
                    <th:block th:with="propertyModelName=${propertyRenderer.getModelName()}">
                        <div class="value" th:if="${propertyModelName!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"
                            th:include="${#overridesPath+propertyModelName+'/renderer'} :: model(model=${property},propertyRenderer=${propertyRenderer},holder=${item})">
                        </div>
                        <div class="value" th:unless="${propertyModelName!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                        </div>
                    </th:block>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).MODEL_COLLECTION}">
                    <!--/*@thymesVar id="property" type="ro.siveco.ram.model.Entity"*/-->
                    <th:block th:with="propertyModelName=${propertyRenderer.getModelName()}">
                        <div class="value" th:if="${propertyModelName!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"
                            th:include="${#overridesPath+propertyModelName+'/renderer'} :: modelCollection(model=${property},propertyRenderer=${propertyRenderer},holder=${item})">
                        </div>
                        <div class="value" th:unless="${propertyModelName!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                        </div>
                    </th:block>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).VALUE_OBJECT_MODEL}">
                    <!--/*@thymesVar id="property" type="ro.siveco.ram.model.Model"*/-->
                    <th:block th:with="propertyModelName=${propertyRenderer.getModelName()}">
                        <div class="value" th:if="${propertyModelName!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"
                            th:include="${#overridesPath+propertyModelName+'/renderer'} :: valueObject(model=${property},propertyRenderer=${propertyRenderer},holder=${item})">
                        </div>
                        <div class="value" th:unless="${propertyModelName!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                        </div>
                    </th:block>
                </th:block>
                <th:block th:case="${T(ro.siveco.ram.starter.ui.model.ViewRendererType).VALUE_OBJECT_MODEL_COLLECTION}">
                    <!--/*@thymesVar id="property" type="ro.siveco.ram.model.Model"*/-->
                    <th:block th:with="propertyModelName=${propertyRenderer.getModelName()}">
                        <div class="value" th:if="${propertyModelName!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}"
                            th:include="${#overridesPath+propertyModelName+'/renderer'} :: valueObjectCollection(model=${property},propertyRenderer=${propertyRenderer},holder=${item})">
                        </div>
                        <div class="value" th:unless="${propertyModelName!=null}" th:attr="data-model-property-renderer=${propertyRenderer.rendererType.getName()}">
                        </div>
                    </th:block>
                </th:block>
            </th:block>
        </th:block>
    </div>
</body>

</html>