<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="item" type="ro.siveco.ram.starter.ui.type.HtmlElement"*/-->
<!--/*@thymesVar id="options" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<!--/*@thymesVar id="endpoint" type="java.lang.String"*/-->
<head>
    <title>Table Fragment</title>
</head>
<body>
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="items" type="java.util.List<ro.siveco.ram.starter.ui.type.HtmlElement>"*/-->
<table class="bordered bordered-all striped highlight responsive-table" th:fragment="component(items,options)">
    <thead class="sort-container" th:attr="data-model-target=${modelName}, data-sort-params=''">
    <tr th:with="visiblePropertiesCount=${options.getVisibleModelProperties().size()}"
        th:attr="data-visible-items=${visiblePropertiesCount}">
        <th:block th:each="propertyRenderer,propertyIndex : ${options.getModelProperties()}">
            <!--/*@thymesVar id="propertyRenderer" type="ro.siveco.ram.starter.ui.model.PropertyRenderer"*/-->
            <th:block th:unless="${propertyRenderer.hidden}">
                <th th:class="${'truncate property-name model-'+modelName+'-property model-property-'+propertyRenderer.propertyName}"
                    th:attr="data-model-property-name=${propertyRenderer.propertyName},data-model-name=${modelName},data-model-property-order=${propertyRenderer.order}">
                    <span class="table-header-cell"
                          th:utext="#{${'model.'+modelName+'.property.'+propertyRenderer.propertyName+'.label'}}"></span>
                    <button th:if="${propertyRenderer.isSortable()}" class="btn-flat sort-button"
                            data-sort-state="off"
                            th:attr="data-sort-model=${modelName}, data-sort-state=${propertyRenderer.initialSortState}">
                        <i class="material-icons blues sort-icon"
                           th:text="#{${'sort.state.'+propertyRenderer.initialSortState}}">sort</i>
                    </button>
                </th>
            </th:block>
            <th:block th:if="${propertyRenderer.hidden}">
                <th th:class="${'hide truncate property-name model-'+modelName+'-property model-property-'+propertyRenderer.propertyName}"
                    th:utext="#{${'model.'+modelName+'.property.'+propertyRenderer.propertyName+'.label'}}"
                    th:attr="data-model-property-name=${propertyRenderer.propertyName},data-model-name=${modelName},data-model-property-order=${propertyRenderer.order}">
                </th>
            </th:block>
        </th:block>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="itemElement : ${items}">
        <!--/*@thymesVar id="item" type="ro.siveco.ram.model.Entity"*/-->
        <tr th:with="item=${itemElement.getObjectSource()}"
            th:attr="data-model-id=${item.id}, data-model-name=${item.modelName}, data-model-target-view='', data-target=${options.getBaseEditFormUri(itemElement.getObjectSource().id)}"
            th:include="@{#overridesPath+${modelName}+'/table-row'} :: component(${itemElement},${options})"
            th:class="${'item-row'+ (options.getViewOptions().isWithActions()?' with-action':'')}">
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>