<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="item" type="ro.siveco.ram.model.Entity"*/-->
<!--/*@thymesVar id="options" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<head>
    <title>Table Row Fragment</title>
</head>
<body>
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="items" type="java.util.List<ro.siveco.ram.starter.ui.type.HtmlElement>"*/-->
<tr th:fragment="component(itemElement,options)">
    <!--/*@thymesVar id="itemElement" type="ro.siveco.ram.starter.ui.type.HtmlElement"*/-->
    <th:block th:each="propertyRenderer : ${options.getModelProperties()}"
              th:with="item=${itemElement.getObjectSource()}">
        <td th:unless="${propertyRenderer.hidden}"
            th:class="${'truncate property-value model-'+modelName+'-property model-property-'+propertyRenderer.propertyName}"
            th:attr="data-model-property-name=${propertyRenderer.propertyName},data-model-name=${modelName}">
            <th:block
                    th:include="app/components/renderer/renderer :: component(${item}, ${item.id}, ${propertyRenderer}, ${options})">
            </th:block>
        </td>
    </th:block>
</tr>
</body>
</html>