<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="${#locale.toLanguageTag()}"
      th:class="${#usedThemeName}"
      layout:decorator="layout/layout">
<!--/*@thymesVar id="modelName" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewName" type="java.lang.String"*/-->
<!--/*@thymesVar id="modelDescriptor" type="ro.siveco.ram.starter.ui.model.ModelDescriptor"*/-->
<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<ro.siveco.ram.model.Model>"*/-->
<!--/*@thymesVar id="viewType" type="ro.siveco.ram.controller.util.ViewType"*/-->
<!--/*@thymesVar id="indexViewType" type="ro.siveco.ram.starter.ui.model.IndexViewType"*/-->
<!--/*@thymesVar id="model" type="ro.siveco.ram.model.Model"*/-->
<head>
    <title th:text="${model.objectLabel}"></title></head>
<body>
<section layout:fragment="pageContent"
         th:class="${'main-section view-section model model-'+modelName}">
    <div th:replace="__${#overridesPath+modelName+#viewFragment}__"></div>
</section>
</body>
</html>
