<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Simple list Component</title>
</head>
<body>
<!--/*@thymesVar id="items" type="java.util.List<java.lang.Object>"*/-->
<ul class="collection" th:fragment="component(items,options)">
    <th:block th:each="item : ${items}">
        <li class="collection-item"
            th:replace="@{'content/'+${modelName}+'/list-item'} :: component(${item}, ${options})">
        </li>
    </th:block>
</ul>
</body>
</html>