<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Pagination from org.springframework.data.domain.Page Component</title>
</head>
<body>
<!--/*@thymesVar id="paginator" type="org.springframework.data.domain.Page"*/-->
<!--/*@thymesVar id="page" type="ro.siveco.ram.starter.ui.component.ModelPage"*/-->
<!--/*@thymesVar id="options" type="ro.siveco.ram.starter.ui.model.IndexOptions"*/-->
<div class="pagination-wrapper" th:fragment="component(paginator,options)">
    <div class="row">
        <div class="col s6 offset-s6" th:if="${options.isPaginationInfoDisplayed()}">
            <div th:replace="@{'content/'+${modelName}+'/pagination-info'} :: component(${paginator})}">

            </div>
        </div>
        <div class="col s12">
            <ul class="pagination" th:style="${paginator.numberOfElements==0}?'display:none':''">
                <th:block th:if="${paginator.totalPages>1}">
                    <!--/* Display first and previous only if there are more then x pages and current page is not the first */-->
                    <th:block
                            th:if="${paginator.totalPages gt options.relativeNavigationTotalPagesThreshold and paginator.number gt 0}">
                        <li>
                            <a th:href="@{${page.getUriWithoutPage()}(page=1)}" th:utext="#{pagination.first}"
                               th:attr="data-page=1, data-preserve-hash=true"></a>
                        </li>
                        <!--/* Display previous only if previous is not first */-->
                        <li th:if="${paginator.number!=1}">
                            <a th:href="@{${page.getUriWithoutPage()}(page=${paginator.number})}"
                               th:utext="#{pagination.previous}"
                               th:attr="data-page=${paginator.number}, data-preserve-hash=true"></a>
                        </li>
                    </th:block>
                    <li th:each="i : ${#numbers.sequence(((paginator.getNumber() lt paginator.totalPages and paginator.getNumber()-1 gt 1 and paginator.totalPages gt options.relativeNavigationTotalPagesThreshold)?paginator.getNumber()-1:1), ((paginator.getNumber()-1+3 lt paginator.totalPages and paginator.totalPages gt options.relativeNavigationTotalPagesThreshold)?paginator.getNumber()+3:paginator.totalPages))}"
                        th:class="${i==(paginator.number+1)}?'active disabled no-select':''">
                        <th:block th:if="${i==(paginator.number+1)}">
                            <a th:text="${i}" th:attr="data-page=${i}"></a>
                        </th:block>
                        <th:block th:unless="${i==(paginator.number+1)}">
                            <a th:href="@{${page.getUriWithoutPage()}(page=${i})}" th:text="${i}"
                               th:attr="data-page=${i}, data-preserve-hash=true"></a>
                        </th:block>
                    </li>
                    <!--/* Display next and last only if there are more then X pages and current page is not the last */-->
                    <th:block
                            th:if="${paginator.totalPages gt options.relativeNavigationTotalPagesThreshold and paginator.number lt paginator.getTotalPages()-1}">
                        <!--/* Display next only if next is not last */-->
                        <li th:if="${paginator.number+1!=paginator.getTotalPages()-1}">
                            <a th:href="@{${page.getUriWithoutPage()}(page=${paginator.number+2})}"
                               th:utext="#{pagination.next}"
                               th:attr="data-page=${paginator.number+2}, data-preserve-hash=true"></a>
                        </li>
                        <li>
                            <a th:href="@{${page.getUriWithoutPage()}(page=${paginator.totalPages})}"
                               th:utext="#{pagination.last}"
                               th:attr="data-page=${paginator.totalPages}, data-preserve-hash=true"></a>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>
    </div>
</div>
</body>
</html>