<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Simple list Component</title>
</head>
<body>
<!--/*@thymesVar id="paginator" type="org.springframework.data.domain.Page"*/-->
<div class="right page-info-wrapper" th:fragment="component(paginator)">
    <small th:style="${paginator.numberOfElements==0}?'':'display:none'"
           th:utext="#{pagination.info.noRecordsFound}">
    </small>
    <div th:style="${paginator.numberOfElements==0}?'display:none':''" class="pagination-info">
        <small>
            <span th:text="#{pagination.info.page}">Page</span>
            <span class="current-page" th:text="${paginator.number+1}"></span>
            <span th:text="#{pagination.info.of}">of</span>
            <span class="total-pages" th:text="${paginator.totalPages}"></span>
        </small>
        <small>
            (<span th:text="#{pagination.info.records}">Records</span>
            <span class="records-start" th:text="${paginator.number*paginator.getSize()+1}"></span> -
            <span class="records-end"
                  th:text="${paginator.number*paginator.getSize()+paginator.numberOfElements}"></span>
            <span th:text="#{pagination.info.of}">of</span>
            <span class="total-records" th:text="${paginator.getTotalElements()}"></span>)
        </small>
    </div>
</div>
</body>
</html>