html.materialize {
  $item-color: $secondary-color-light !default;
  $grey-color: color("grey", "base") !default;
  $item-bg: desaturate(lighten($item-color, 35%), 35%) !default;
  $item-hover-color: $secondary-color !default;
  $item-hover-bg: desaturate(lighten($item-hover-color, 35%), 35%) !default;
  $item-hover-bg-dark: lighten($grey-color, 20%) !default;
  $item-disabled-color: $button-disabled-color !default;
  $item-disabled-bg: $button-disabled-background !default;
  $item-active-color: $secondary-color-dark !default;
  $item-active-bg: desaturate(lighten($secondary-color-light, 35%), 35%) !default;
  $light-bg: #e8e8e8;
  $light-bg2: #e9e7ec;
  $light-bg2-border: #dcdadf;
  $label-font-size: 1.5rem;
  $label-font-size-scaled: 1.2rem;
  $label-translate-y: $label-font-size+0.3rem;
  $dirtyColor: color("grey", "darken-2");
  $dirtyColorNew: color("green", "base");
  $dirtyColorRemove: color("red", "base");

  footer {
    &.app-info {
      min-height: 30px;
      overflow: hidden;
      position: fixed;
      bottom: 20px;
      left: 20px;
      color: #787878;
      font-weight: bold;
    }
  }

  body {
    background-color: $light-bg;
  }

  .brand-logo {
    padding: 5px;

    img {
      max-height: 45px;
    }
  }

  ul.list-inline {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      float: left;
      display: inline;
    }
  }

  .primary-color {
    color: $primary-color;
  }

  .primary-color-light {
    color: $primary-color-light;
  }

  .primary-color-dark {
    color: $primary-color-dark;
  }

  .primary-bg {
    background-color: $primary-color;
  }

  .primary-bg-light {
    background-color: $primary-color-light;
  }

  .primary-bg-dark {
    background-color: $primary-color-dark;
  }

  .secondary-color {
    color: $secondary-color;
  }

  .secondary-color-light {
    color: $secondary-color-light;
  }

  .secondary-color-dark {
    color: $secondary-color-dark;
  }

  .secondary-bg {
    background-color: $secondary-color;
  }

  .secondary-bg-light {
    background-color: $secondary-color-light;
  }

  .secondary-bg-dark {
    background-color: $secondary-color-dark;
  }

  span,
  div {
    &.tiny {
      font-size: 1rem;

      .text,
      .icon {
        line-height: inherit;
        font-size: 0.5rem;
      }

      .icon i {
        line-height: inherit;
        font-size: 0.75rem;
      }
    }

    &.small {
      font-size: 2rem;

      .text,
      .icon {
        line-height: inherit;
        font-size: 1rem;
      }

      .icon i {
        line-height: inherit;
        font-size: 1.5rem;
      }
    }

    &.medium {
      font-size: 4rem;

      .text,
      .icon {
        line-height: inherit;
        font-size: 1.5rem;
      }

      .icon i {
        line-height: inherit;
        font-size: 2rem;
      }
    }

    &.large {
      font-size: 6rem;

      .text,
      .icon {
        line-height: inherit;
        font-size: 2rem;
      }

      .icon i {
        line-height: inherit;
        font-size: 3rem;
      }
    }
  }

  .item-wrapper {
    margin: 0 2px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;

    .item {
      color: $item-color;
      background-color: $item-bg;
      padding: 0 5px;
    }

    &.active {
      border-color: $item-active-color;

      .item {
        color: $item-active-color;
        background-color: $item-active-bg;
      }
    }

    &.disabled {
      color: $item-disabled-color;

      &.active {
        border-color: $item-disabled-color;
        background-color: $item-disabled-bg;
      }
      cursor: default;

      .text,
      .icon {
        color: $item-disabled-color !important;
      }
    }

    &:hover:not(.disabled) {
      border-color: $item-hover-color;

      .item {
        color: $item-hover-color;
        background-color: $item-hover-bg;
      }
    }
  }

  .index-view-type-options {
    margin-top: 1rem;

    .tabs {
      overflow-x: hidden;
    }

    .index-view-type-option {
      .text,
      .icon {
        margin-top: 15px;
        padding: 0 2px;
        overflow: hidden;
        line-height: 24px;
      }
    }
  }

  .index-content {
    .carousel-item {
      height: auto;
    }
  }

  .item-row {
  }

  .with-action {
    cursor: pointer;

    .target-for-with-action {
      color: $link-color;
      display: inline-block;
      clear: right;
    }

    .actions {
      &.actions-on-hover {
        display: none;

        @media #{$medium-and-down} {
          display: block;
        }
      }
    }

    .actions-not-on-hover {
      display: block;
    }

    &:hover {
      .target-for-with-action {
        text-decoration: underline;
      }
      background-color: $item-hover-bg;

      .actions {
        &.actions-on-hover {
          display: block;
        }
      }

      .actions-not-on-hover {
        display: none;
      }
    }
  }

  table.bordered-all {
    border: 1px solid $table-border-color;

    th,
    td {
      border-left: 1px solid $table-border-color;
      border-right: 1px solid $table-border-color;
    }

    th {
      background-color: lighten($item-hover-bg, 1%);
    }
  }

  .action-button-wrapper {
    position: relative;
    min-width: 40px;
  }

  .actions {
    button {
      margin-left: 5px;
      margin-top: 5px;
    }
  }

  .sort-button {
    padding: 0;
  }

  .btn-simple {
    height: auto;
    width: auto;
    padding: .2rem;
    line-height: inherit;
    overflow: hidden;

    .material-icons {
      margin-right: 0;
      line-height: 2rem;
    }
  }

  .autocomplete-content {
    position: absolute;
  }

  .select-dropdown {
    li {
      input[type=checkbox] + label {
        top: -10px !important;
      }
    }
  }

  .property-label {
    font-weight: bold;
    font-size: $label-font-size;
    // margin-right: 1rem;
  }

  .property-input {
    &.invalid + label.property-label.active:after {
      margin-top: $label-font-size;
      font-size: 1rem;
    }
  }

  .image-tag {
    min-width: 100px;
    min-height: 50px;
    max-height: 210px;
  }

  .content-owner {
    color: $grey-color;
    font-style: italic;
  }

  .content-item {
    .collapsible-body {
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;

      .collapsible {
        margin: 0;
        border-top: 0;
        border-bottom: 0;
        border-right: 0;

        .content-item {
          .collapsible-body {
            //border-bottom: 0;
          }

          &:last-child .collapsible-header {
            //border-bottom: 0;
          }
        }
        box-shadow: none;
      }
    }

    .secondary-content {
      .dropdown-content {
        min-width: 200px;
      }
    }
  }

  a.truncate,
  .truncate.truncate-inline {
    display: inline;
  }

  .card {
    .card-image,
    .card-content {
      .activator {
        cursor: pointer;
        position: absolute;
        top: $card-padding;
        right: $card-padding;
      }
    }

    .card-image {
      .card-title {
        padding: 0.2rem 1.5rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        color: #ffffff;
        font-weight: 400;
        text-shadow: 1px 1px 1px #b3b3b3;

        a {
          color: #ffffff;

          &:hover {
            color: $link-color-light;
          }
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
          text-shadow: none;
        }
      }

      .image-tag {
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;

        &.background-image {
          vertical-align: middle;
          background: no-repeat top left;
          background-size: contain;
          height: 275px;

          @media #{$medium-and-down} {
            height: 100px;
            background-size: cover;
          }
        }
      }
    }

    .card-reveal {
      overflow: hidden;
    }
  }

  .modal {
    .modal-content {
      .container {
        width: 100% !important;
      }

      .view-nav {
        display: none;
      }

      h1 {
        font-size: 2.2rem !important;
      }
    }

    &.modal-dialog {
      width: auto;
      max-width: $small-screen;
      min-height: 150px;

      &.modal-fixed-footer {
        height: 50%;
      }
    }

    .hide-on-modal {
      display: none;
    }
  }

  .collection-item {
    > .title {
      margin-bottom: .8rem;
    }

    > .row {
      margin-bottom: 0;
    }

    &.avatar {
      padding-left: 140px;
      // Don't style circles inside preloader classes.
      &:not(.circle-clipper) > .image-wrapper,
      :not(.circle-clipper) > .image-wrapper {
        .image-tag {
          position: absolute;
          width: 100px;
          height: 100px;
          overflow: hidden;
          left: 15px;
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;

          &.background-image {
            vertical-align: middle;
            background: no-repeat top left;
            background-size: contain;
          }
        }
      }
      //&.model-course {
      //  padding-left: 180px;
      //  > .properties-wrapper {
      //    min-height: 90px;
      //  }
      //  .image-wrapper {
      //    .image-tag {
      //      width: 150px;
      //      height: 150px;
      //    }
      //  }
      //}
    }
  }

  .properties-wrapper {
    overflow: hidden;
  }

  form {
    .properties-wrapper {
      overflow: visible;
    }
  }

  .property-presentation {
    &:not(.property-input-wrapper) {
      clear: left;
    }

    &.long-text {
    }

    &:not(.long-text) {
      // @include truncate;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.chip-wrapper:not(td) {
      display: inline-block;
      float: left;
      clear: none !important;
    }
  }

  .main-actions,
  .view-nav {
    .generic-action {
      margin-right: 10px;

      &.right {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }

  .card {
    .card-action {
      a.more-actions-controller {
        color: $secondary-color !important;
        margin-right: 0 !important;

        &:hover {
          color: lighten($secondary-color, 20%) !important;
        }
      }

      .main-actions {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &:empty {
          min-height: 1.4rem;
        }

        :nth-child(n) {
          @include truncate;
          float: left;
          // max-width: calc(50% - #{$card-padding});
          color: $card-link-color;
          margin-top: .2rem;
          margin-right: $card-padding;
          margin-bottom: .2rem;
          transition: color .3s ease;
          text-transform: uppercase;

          &:hover {
            color: $card-link-color-light;
          }
        }

        :last-child:nth-child(odd) {
          max-width: 100%;
        }
      }
    }
  }

  .card-content-wrapper {
    padding: 10px;
  }

  .input-field {
    &.model-search {
      margin-bottom: 0;

      input {
        border-bottom: none;
        font-size: 1.4rem;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  @media #{$medium-and-down} {
    h1.index-header {
      font-size: 3rem;
    }
  }

  @media #{$small-and-down} {
    h1.index-header {
      font-size: 2.3rem;
    }
  }

  .pagination {
    li {
      &.disabled {
        a {
          color: white;

          &:hover {
            color: white;

            @media #{$medium-and-up} {
              text-decoration: none;
            }
          }
        }
      }

      @media #{$small-and-down} {
        a {
          color: $link-color;
        }
      }

      a {
        &:hover {
          color: $link-color;

          @media #{$medium-and-up} {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .notifications-dropdown {
    min-width: 300px;
    //max-width: 350px;
    overflow: hidden;

    li {
      background-color: $dropdown-hover-bg-color;
      //color: $item-color;
      border-bottom: 1px solid $collection-border-color;
      padding: 3px 5px;

      span.title {
        clear: right;
        padding-bottom: 3px;
        color: $off-black;
        font-weight: bolder;
      }

      span.sender-wrapper {
        padding: 5px;

        .user-avatar {
          .user-icon {
            //float: left;
          }

          .user-name {
            font-size: 0.9rem;
            position: relative;
            top: -10px;
          }
        }
      }

      time {
        position: relative;
        top: -30px;
        left: 64px;
        color: $grey-color;
        font-size: 16px;
      }

      p {
        margin-top: -20px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 16px;
      }

      &:hover {
        background-color: $item-hover-bg;
      }

      &.info {
        padding: 5px;
        cursor: default;
        color: $off-black;
        line-height: normal;
        min-height: 5px;
        // max-height: 30px;
        background-color: white;
        text-align: left;
        display: flex;
        flex-direction: column;

        span {
          padding: 0;
          color: inherit;
          font-size: 16px;
          font-weight: bolder;
        }

        a {
          font-size: 16px;
          padding: 0;

          &:hover {
            background: none;
            text-decoration: underline;
          }
        }

        &:hover {
          background-color: white;
        }
      }

      &.is-read {
        //background-color: white;
      }
    }
  }

  .login-section {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  a:disabled:hover,
  a.disabled:hover {
    cursor: default;
  }

  .main-section {
    margin-top: 50px;
  }

  .rating-stars {
    .material-icons {
      color: $secondary-color;
      //font-size: 2.5rem;
      //&.small {
      //  font-size: 1.5rem;
      //}
      //&.tiny {
      //  font-size: 1rem;
      //}
      //&.large {
      //  font-size: 3.5rem;
      //}
    }
  }

  @mixin middleAndCenter {
    text-align: center;
    vertical-align: middle;
  }

  .middle-and-center {
    @include middleAndCenter;
  }

  .larger-text {
    font-size: 120%;
  }

  .user-avatar {
    display: inline-block;
    padding-right: .5rem;

    .user-icon {
      display: inline-block;

      &.no-image[data-initials]:before {
        @include middleAndCenter;
        content: attr(data-initials);
        display: inline-block;
        font-size: 1.6em;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        border-radius: 50%;
        background: $third-color;
        margin-right: 1em;
        color: white;
      }

      &.with-image {
        img {
          margin-right: 1em;
          @include middleAndCenter;
          width: 2.5em;
          height: 2.5em;
          border-radius: 50%;
        }
      }
    }

    .user-name {
      display: inline-block;
    }

    &.with-action[data-target] {
      cursor: pointer;
      color: $link-color;

      &:hover {
        .user-name {
          text-decoration: underline;
        }
      }
    }
  }

  @mixin obviousTip() {
    border-bottom: 1px dotted $grey-color;
    cursor: default;
  }

  .obvious-tip {
    @include obviousTip();
  }

  @mixin block($background) {
    background: $background;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 15px;
  }

  .white-block {
    @include block(white);
  }

  .on-state {
    display: none;
  }

  .full-page {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    overflow: hidden;
    position: fixed !important;

    .full-page-controller {
      .off-state {
        display: none;
      }

      .on-state {
        display: inline-block;
      }
    }
  }

  .side-menu-open {
    .off-state {
      display: none;
    }

    .on-state {
      display: inline-block;
    }
  }

  .course-wrapper {
    padding: 15px;
    border: 1px solid $light-bg2-border;
    border-radius: 5px;
    background-color: $light-bg2;

    .course-image {
      max-height: 150px;
    }

    .course-end-date {
      @include block(white);
      @include middleAndCenter;
    }

    .course-description {
      font-size: 1.1rem;
      min-height: 50px;
    }

    .course-action {
      display: inline-block;

      button {
        overflow: visible;
        padding: 0;

        .material-icons {
          margin-left: 30px;
        }

        .action-status {
          margin-right: 30px;
        }

        .progress {
        }
      }
    }

    .certification-type {
      display: inline-block;
    }

    .materials-count {
      font-size: 60%;
    }

    .rlo-name {
      .type {
        font-weight: bold;

        &:after {
          content: ':';
        }
      }
    }

    .image-description-actions {
      .course-image {
      }

      .course-description-and-actions {
      }
    }

    .trainers-certifications-objectives-content {
    }
  }

  #player-modal {
    .modal-content {
      overflow: hidden;
    }

    .modal-footer {
      .other-actions {
        button {
          float: right;
          margin-left: 10px;
          color: white !important;
        }
      }
    }
  }

  .player-wrapper {
    .header {
      top: 0;
      position: absolute;
      padding: 15px;
      width: 100%;
      margin-left: -24px;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      height: 60px !important;
      overflow: hidden;
    }

    .player-content {
      position: absolute;
      top: 60px;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: stretch;

      //navigation-menu
      .menu-area {
        margin-left: 6px;

        .navigation-tree {
          overflow-y: scroll;
          min-width: 250px;
          margin-top: 0;
          margin-left: -30px;
          float: left;
          border-left: none;
          border-top: none;
          border-bottom: none;
          margin-bottom: 0;
          height: 100%;

          .collapsible-body {
            padding: 0;

            .collapsible {
              border-top: none;
              margin: 0;
            }
          }

          .collection-item {
            padding: 5px;

            &.rlo {
              cursor: pointer;

              .rlo-type {
                float: left;
                margin-right: 10px;
              }

              .rlo-name {
                float: left;
                color: $link-color;
              }
            }
          }

          .rlo {
            .group {
              .tree-item {
                padding-left: 40px;

                .collapsible-header {
                  background-color: $light-bg;
                }
              }
            }

            .collapsible-header {
              &.active {
                .name {
                  color: $item-color;
                }
              }
            }
            //$brand-color:
            //$main-color: $primary-color;
            //$accent-color: $secondary-color;
            //$selected-color: $secondary-color-light;
          }
        }

        .player-side-menu-controller {
          @include middleAndCenter;
          display: inline-block;
          height: 100%;
          padding: 45% 5px 5px;
          width: 30px;
          float: left;
          background-color: $light-bg;

          &:hover {
            //background-color: $grey-color;
          }
        }
      }

      //player activity zone
      .content-area {
        flex: 1;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJ0lEQVQYV2NkQAJnzpz5b2JiwggTgjOQFREniW4UsgkUGIvNITAxALdLCAhikf4rAAAAAElFTkSuQmCC) repeat;
      }
    }

    #player-content-area iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .collection-builder,
  .object-builder {
    .collection-header {
      overflow: hidden;
    }

    .collection-item {
      overflow: hidden;
    }

    .collection-item-template {
      display: none !important;
    }
  }

  .ram-input {
    margin-top: 25px;
    margin-bottom: 10px;

    &[data-form-input-type=CHECKBOX] {
      label {
        //margin-top: 0;
        &:not(.label-icon).active {
          font-size: $label-font-size;
          transform: translateY(-60%);
        }
      }
    }

    &[data-form-input-type=SELECT] {
      margin-top: 30px;

      label {
        //margin-top: 0;
        &:not(.label-icon).active {
          font-size: $label-font-size;
          transform: translateY(-150%);
        }
      }
    }

    fieldset {
      legend {
        padding: $input-padding;
        color: $input-label-color;
        font-weight: bolder;
        font-size: 1.2rem;
        cursor: text;
      }
    }
  }

  .index-view-type-options {
    > .tabs {
      background-color: $light-bg;
    }
  }

  .renderer-template,
  .element-transposed {
    display: none !important;
  }

  .nav-action {
    text-transform: none !important;
  }

  .view-nav {
    overflow: hidden;
    border-bottom: 1px solid #cfcab3;
    background-color: #f8f8fb;
    padding: 15px 0;
    margin-top: -15px;
    margin-bottom: 5px;

    .nav-action:not(:first-child) {
      margin-left: 5px;
    }
  }

  .material-icons + .text,
  .icon + .text {
    position: relative;
    top: -6px;
  }

  .current-slider-item {
    text-align: center;
  }

  .empty-collection {
    min-height: 100px;
    color: $grey-color;
    display: flex !important;
    align-items: center;
    text-align: center;

    > div {
      width: 100%;
    }
  }

  .course-session {
    .model-property-sessionStudents {
      ul.collection {
        background: white;
        min-height: 200px;

        li.collection-item:not(.empty-collection-wrapper) {
          display: inline-block !important;
        }
      }
    }

    .model-property-plannedCourseDetails {
      text-align: center;
    }
  }

  .pagination-wrapper {
    display: none;
  }

  .generic-action {
    &.action-create {
      background-color: color('indigo', 'darken-4');
      color: white;
    }

    &.action-update {
      background-color: color('indigo', 'darken-4');
      color: white;
    }

    &.action-open-create-form {
      background-color: color('green', 'base');
      color: white;
    }

    &.action-open-presentation {
      background-color: $secondary-color;
      color: white;
    }

    &.action-open-edit-form {
      background-color: color('orange', 'base');
      color: white;
    }

    &.action-delete {
      background-color: color('red', 'base');
      color: white;
    }

    &.action-list {
      background-color: $primary-color;
      color: color('indigo', 'darken-4');
    }

    &.action-get-children {
      background-color: $primary-color;
      color: white;
    }

    &.action-custom {
      background-color: $primary-color;
    }
  }

  .card {
    &.sticky-action {
      .actions-wrapper {
        z-index: auto;

        .more-actions {
        }
      }

      &.secondary-content-revealed {
        .actions-wrapper {
          z-index: 2;

          .more-actions {
            top: auto !important;
            left: auto !important;
            bottom: 1rem !important;
            right: 1rem !important;
          }
        }
      }
    }
  }

  .more-actions {
    min-width: 15rem;

    li {
      a,
      button {
        &.generic-action {
          color: $link-color;
          background-color: transparent !important;
          border-radius: inherit;
          box-shadow: none;
          text-transform: none;
          font-size: 1rem;
          height: auto;
          text-align: left;

          &.action-create {
            color: darken(color('green', 'base'), 20%);
          }

          &.action-update {
            color: darken(color('orange', 'base'), 20%);
          }

          &.action-open-create-form {
            color: darken(color('green', 'base'), 20%);
          }

          &.action-open-presentation {
            color: $link-color;
          }

          &.action-open-edit-form {
            color: darken(color('orange', 'base'), 20%) !important;
          }

          &.action-delete {
            color: darken(color('red', 'base'), 20%) !important;
          }

          &.action-list {
            color: $link-color;
          }

          &.action-get-children {
            color: $link-color;
          }

          &.action-custom {
            color: $link-color;
          }
        }
      }
    }

    a {
      &.generic-action {
        .material-icons + .text {
          top: 0;
        }
      }
    }
  }

  .grid {
    table {
      &.grid-table {
        margin: $element-top-margin 0 $element-bottom-margin 0;
      }
    }
  }

  //.valign-wrapper {
  //  .right {
  //    align-self: flex-end;
  //  }
  //  .left {
  //    align-self: flex-start;
  //  }
  //}

  .model-view {
    .property-presentation {
      &.model-property-playerSession {
        float: right;
        margin-top: -51px;
      }
    }

    .model-form {
      .property-input-wrapper {
        margin-top: $label-translate-y;
        margin-bottom: 2rem;

        textarea {
          padding: $input-font-size;
          min-height: 4rem;

          & + label.property-label:not(.active) {
            left: $gutter-width / 2 + $input-font-size;
          }
        }

        .property-label {
          &:not(.label-icon).active {
            font-size: rem(34);
            transform: translateY(-2.5rem) scale(0.8);
            color: #fff;

            span.optional-field-text {
              color: rgba(255, 255, 255, 0.70);
            }
          }

          .optional-field-text {
            margin-left: $gutter-width / 3;
            color: $grey-color;
            font-style: italic;
            font-size: $label-font-size-scaled;
          }
        }

        &.input-field-checkbox {
          &.model-property-value {
            margin-top: $label-translate-y;
          }

          .property-label {
            &:not(.label-icon) {
              font-size: $label-font-size-scaled;
              transform: translateY(-#{$label-translate-y});
            }
          }
        }

        &.dirty-property {
          > .property-label {
            color: $dirtyColor;
          }

          > .property-input {
            color: $dirtyColor;
          }
        }

        &.collection-builder-wrapper {
          .collection-builder {
            float: left;
            overflow: visible;
            width: 100%;

            > .collection {
              margin: 0;
              float: left;
              overflow: visible;
              width: 100%;

              .collection-header {
                margin: 0 !important;
                overflow: hidden;

                .property-label {
                  margin-top: 5px;
                  transform: none !important;
                }

                .add-list-item {
                  margin-top: 5px;
                  margin-right: 5px;
                }
              }

              .collection-item {
                width: 100%;
                padding: 0;
                overflow: visible;
                float: left;

                .collapsible-body {
                  float: left;
                }
              }

              .collection-item-template {
                display: none !important;
              }

              &.popout {
                .collection-item {
                  margin: 0;

                  &.active {
                    margin: 1rem 0;
                  }
                }
              }
            }
          }
        }

        &.object-builder-wrapper {
          .object-builder {
            float: left;
            overflow: visible;
            width: 100%;

            > .collection {
              margin: 0;
              float: left;
              overflow: visible;
              width: 100%;

              .collection-header {
                margin: 0 !important;
                overflow: hidden;

                .property-label {
                  margin-top: 5px;
                  transform: none !important;
                }

                .add-list-item {
                  margin-top: 5px;
                  margin-right: 5px;
                }
              }

              .collection-item {
                width: 100%;
                padding: 0;
                overflow: visible;
                float: left;

                .collapsible-body {
                  float: left;
                  width: 100%;
                }
              }

              .collection-item-template {
                display: none !important;
              }

              &.popout {
                .collection-item {
                  margin: 0;

                  &.active {
                    margin: 1rem 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.table-row {
      td.property-presentation {
        display: table-cell;

        .image-tag {
          max-height: 50px;
        }
      }
    }

    &.collection-item {
      .actions-wrapper {
        position: relative;

        .main-actions {
          position: absolute;
          top: 16px;
          right: 32px;
        }
      }

      &.active {
        background-color: white;
        color: inherit;

        .more-actions-controller {
          color: $link-color;
        }
      }

      &.model-genericNode {
        .collapsible-body {
          border-bottom: none;
          padding-top: 0;
          margin-top: -40px;
        }

        .property-presentation {
          display: inline-block;

          &.model-property-nodeType {
            border-bottom: none;
          }

          &.model-property-objectLabel {
            position: relative;
            margin-left: -20px;
            top: -30px;
          }

          &.model-property-owner {
            display: block;
            position: relative;
            margin-left: 55px;
            top: -40px;
            color: gray;
            font-style: italic;
            font-size: .8rem;

            .user-icon {
              display: none;
            }
          }
        }
      }
    }
  }
}
