html,body {
	height:100%;
}

.main-section {
	position: absolute;
	width: 100%;
	top: 64px;
	bottom: 0;
	margin: 0;
}

#chat-page {
	margin: 0;
	height: 100%;
	font-family: Helvetica, Verdana, sans-serif;
}


#users-container {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
/* 	border: 3px solid #205E8D; */
}

#users-list {
	border: 0px;
}

.user-entry {
	margin: 5px 0;
	&.offline{
		background: #f3f3f3;
		color: #aaa;
		font-style: italic;
	}
}

a.user-entry.collection-item.offline{
	background: #f3f3f3;
	color: #aaa;
	font-style: italic;
}

.user-entry img {
	vertical-align: middle;	
}

.user-entry span {
	vertical-align: middle;	
}

.user-selected {
	background-color: #E7E7E7;
	color: black;
}

.user-unselected {
/* 	background-color: white; */
	color: black;
}

#users-list a.btn-floating {
	border: 1px;
	border-color: white;
	color: white;
}

.unread-message {
	float: right;
	font-size: 25px;
	line-height: 80%;
}


#chat-body {
	background-color: #E7E7E7;
	height: 100%;
	padding: 0;
	margin: 0;
}

.chat-container {
	height: 100%;
	width: inherit;
}

.chat-window {
	overflow-y: scroll;
	position:absolute;
	top: 0;
	bottom: 60px;
	margin: 0;
	padding: 0 20%;
	width:inherit;
}

.chat-sender{
	float: right;
}

.chat-receiver {
	float: left;
}
.chat-sender span, .chat-receiver span {
	color: #000000;
	padding: 10px;
	display: inline-block;
	min-width: 90px;
}
.chat-sender span{
	background-color: lightblue;
	border-radius: 5px 0 5px 5px;
}
.chat-receiver span {
	background-color: lightgreen;
	border-radius: 0 5px 5px 5px;
}

.chat-sender img, .chat-receiver img {
	vertical-align: middle;	
}

.chat-window hr {
	color: #FFFFFF;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin: 5px auto;
	height: 3px;
	border: 0;
	width: 50%;
}

.chat-input-submit {
	position:absolute;
	bottom: 0;
	height: 50px;
	margin: 0;
	padding: 5px;
	width:inherit;
	background-color: #FFFFFF;
}

.chat-input-div {
	overflow: hidden;
 	padding-right: 60px;
}

.chat-input {
	height: 34px !important;
	font-size: 20px !important;
	width:100% !important;
	margin: 0 !important;
	border-bottom: 0px !important;
}

.chat-submit {
	height: 34px;
	background-color: #A6CE39;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: white;
	float: right;
}

.disabled-elem {
	color: #9A9A9A;
}

#search-user-box {
	background-color: #BEBEBE;
    margin-right: 70px;
    display: -webkit-box;
}

#search-user {
	background-color: #BEBEBE;
	border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

