
/*.rating > input { display: none; }*/
/*.rating > label:before {*/
/*/!*margin: 5px;*!/*/
/*font-size: 2em;*/
/*font-family: 'Material Icons';*/
/*display: inline-block;*/
/*content: "\e838";*/
/*}*/

/*.rating > label.half:before {*/
/*content: "\e839";*/
/*position: absolute;*/
/*}*/

[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
    border: 0px;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #7e57c2;
    opacity: 0;
}

/* Ratings widget */
.rating {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rating > input {
    display: none;
}

/* Order correctly by floating highest to the right */
.rating > label {
    color: #ddd;
    float: right;
}
/* The star of the show */
.rating > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005"; /* full star */
}


/* Half star trick */
.rating .half:before {
    content: "\f089"; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
.rating > input:checked ~  label, /* color current and previous stars on checked */
.rating > label:hover, .rating > label:hover ~  label { color: #FFD700;  } /* color previous stars on hover */


/* Hover highlights */
.rating > input:checked + label:hover, .rating > input:checked ~ label:hover, /* highlight current and previous stars */
.rating > input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
.rating > label:hover ~ input:checked ~  label /* highlight previous selected stars */ { color: #FFED85;  }
.rating > label:after {
    content: '';
}

.rating label.full:before,.rating label.full:after {
    position: static !important;
}

.rating [type="radio"] + label:before, .rating [type="radio"] + label:after {
    /*content: '';*/
    /*position: static !important;*/
    left: 0;
    top: 0;
    margin: 0;
    width: auto;
    height: auto;
    z-index: 0;
    transition: .28s ease;
}


.rating [type="radio"]:not(:checked) + label, .rating [type="radio"]:checked + label {
    position: relative;
    padding-left: 0px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    transition: .28s ease;
    -khtml-user-select: none;
    user-select: none;
}

.rating [type="radio"]:checked + label:before {
    border: 0px;
}
