/* variables */
$baseSize: 16px;
$dMar: 1.5rem;
$dPad: 1rem;
/* colors */
$brand-color: #a6ce39;
$button-color: #7fb835;
$main-color: #212121;
$accent-color: #ef6c00;
$selected-color: #1a237e;
$backgound-color: #eeeeee;

html.materialize {

  @media only screen and (min-width: 0) {
    font-size: $baseSize;
  }
  @media only screen and (min-width: 992px) {
    font-size: $baseSize;
  }
  @media only screen and (min-width: 1200px) {
    font-size: $baseSize;
  }

  .main-section {
    top: $baseSize/2*8;
    margin-top: 0;
  }
  .index-view-type-options {
    margin-top: 0;
  }
}


/* materialize comps */
html.materialize .main-section {
  top: 80px;
}

.container-x {
  position: absolute;
  bottom: 40px;
  right: 50px;
}

.btn,
.btn.large{
  background-color: $accent-color;
  &:hover{
    background-color: lighten($accent-color, 15%);
  }
}

[type="checkbox"]:checked + label:before{
  border-right-color: $accent-color;
  border-bottom-color: $accent-color;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
.input-field .prefix.active{
  color: $accent-color;
  color: $accent-color;
}

/* login */
.login{
  &--section{
    background: $main-color url($login-bg) left center no-repeat;
    background-size: cover;

    &:before{
      display: block;
      position: absolute;
      width: 100vw;
      height: 100vh;
      //background: transparent url(/img/overlay.png) center center;
      content: ' ';
      z-index: 0;
    }

    >.container{
      position: relative;
      z-index: 1;
    }
  }
  &--box{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+3,aeea00+4,aeea00+13,ffffff+14 */
    background: #aeea00; /* Old browsers */
    background: -moz-linear-gradient(top, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $backgound-color 46px, $brand-color 46px, $brand-color 80px, #ffffff 80px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 1;
  }
  &--with{
    margin-top: 8px;
    >div{
      margin: 12px 0;
    }
    a{
      display: inline-block;
    }
  }
}


/* main-nav */
header .navbar-fixed{
  background-color: $backgound-color;
}
nav{
  width:100vw;
  .nav-wrapper {
    background-color: $brand-color;
    >.container{
      position: relative;
      &:after{
        display: block;
        height: 0;
        line-height:0;
        content: ' ';
        clear: both;
      }
    }
    .brand-logo{
      top:7px;
      left:0 !important;
      padding: 0;
      line-height: 1;
      img {
        max-height: 72px;
      }
    }
  }
  ul a{
    position: relative;
    padding: 0 12px;
    font-size:1.2rem;
  }
  html.materialize & .user-avatar .user-icon {
    margin-right: .5rem;
    &.no-image[data-initials]:before {
      width: 2rem;
      height: 2rem;
      margin: 0;
      line-height: 2rem;
      background-color: $accent-color;
      font-size: .8rem;
    }
  }
}

.dropdown-content {
  li {
    &.is-read {
      background-color: lighten($main-color, 75%);
    }
    &:hover {
      background-color: ligten($brand-color, 15%);
    }
    > a, > span {
      color: $main-color;
    }
  }
}


.index{
  &-wrapper{
    >div{
      position: relative;

      .fixed-action-btn{
        .btn-floating{
          background-color: $accent-color !important;
        }
      }
    }
  }
  &-view-type{
    .model-search{
      margin-top: 0;
      .btn{
        height: 48px;
      }
      >.file-path-wrapper{
        height:48px;
        background-color: #fff;

        >.material-icons{
          line-height: 48px;
        }
        >input{
          padding-top: 0;
          padding-bottom: 0;

          +label{
            line-height: 24px;
          }
        }
      }
    }
  }
}

.tabs{
  .tab{
    a{
      color: $main-color;
      &:hover, &.active{
        color: $accent-color;
      }
      &.pending-request{
        position: relative;
        .material-icons{
          position: absolute;
          top:10px;
          left:10px;
          .circle-clipper{
            &.left{
              border-color: $accent-color;
            }
            &.right{
              border-color: $accent-color;
            }
          }
        }
      }
    }
  }
  .indicator{
    background-color: $accent-color;
  }
}
#tabs-container{
  .index-view-type{
    margin: 0 0 20px 0;
  }
  table{
    background-color: white;
    th, td{
      padding-left:10px;
      padding-right:10px;
    }
    td.avatar img{
      margin-left: 10px;
    }
  }
}

/* course */
.course{
  &--card{
    margin: 2rem 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  &--image{
    display: block;
    background-position: center center;
    background-size: cover;
    //height: 196px;
  }
  &--property{
    position: absolute;
    top: 1rem;
    right: 4rem;

    .badge{
      margin-left: 0;
    }

    .card & + .card-title{
      top:calc(50% - 15px);
      bottom:auto;
      width: calc(100% - 72px);
      margin: -56px 36px 0;
      padding: 24px 0;
      background-color: transparent;
      text-align: center;
      text-shadow: 0 0 .25rem rgba(#000,.8);
      font-size:4rem;
      font-weight:600;
      white-space: nowrap;
      overflow: hidden;

      > small{
        display: block;
        padding: 10px 60px;
        line-height:1;
        background-color: rgba(darken($main-color,20%),.85);
        font-size: 36%;
        font-weight:400;
      }
    }
  }
}

.card-reveal {
  .card-title{
    margin-top: 0;
    font-weight:600;
  }
}

.pagination {
  li.active {
    background-color: $accent-color;
  }
}


@media only screen and (max-width: 600px) {
  .course{
    &--image{
      //height: 282px;
    }
    &--property{}
  }
}
@media only screen and (min-width: 601px) {
  .course{
    &--image{
      //height: 240px;
    }
    &--property{}
  }
}
@media only screen and (min-width: 993px) {
  .course{
    &--image{
      //height: 282px;
    }
    &--property{}
  }
}
@media only screen and (max-width: 1200px) {
  nav{
    ul a{
      padding: 0 10px;
    }
  }
}
@media only screen and (min-width: 1201px) {
  .course{
    &--image{
      //height: 252px;
    }
    &--property{}
  }
}
@media only screen and (min-width: 1601px) {
  .course{
    &--image{
      //height: 342px;
    }
    &--property{}
  }
}

@media (orientation: portrait) {
  body{
    overflow: hidden;
  }
  body:after{
    position: fixed;
    top:25vh;
    left:calc(50vw - 2rem);
    z-index: 100001;
    display: inline-block;
    line-height: 1;
    color: $accent-color;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 4em;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: 'warning';
  }
  body:before{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top:0;
    width:100vw;
    height: 100vh;
    padding: 3rem;
    content: attr(data-landscape);
    background-color: darken($main-color,20%);
    color: $accent-color;
    font-size: 2rem;
    text-align: center;
    z-index: 100000;
  }
}

.model-plannedCourseStudent {
  padding: 0;
  &.index-section {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 51.5%, rgba(255, 255, 255, 1) 51.51%, rgba(255, 255, 255, 1) 100%);
  }
  .index-wrapper {
    .index-header {
      margin-top: 3rem;
    }
    .card {
      position: relative;
      padding-top: 0;
      background-color: transparent;
      box-shadow: none;
      transition: none;
      .card-image {
        .image-wrapper {
          overflow: hidden;
          //width: 200px;
          //height: 200px;
          margin-left: auto;
          margin-right: auto;
          padding: 2rem;
          .image-tag {
            @extend .z-depth-1;
            //height: 200px;
            box-shadow: none;
          }
        }
      }
      .card-content {
        position: absolute;
        //min-height: 150px;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
        width: calc(100% - 4rem);
        height: 100%;
        margin: 0 2rem 0;
        padding: 0;
        .card-title {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 0;
          //padding: 24px 0;
          background-color: transparent;
          text-align: center;
          text-shadow: 0 0 .25rem rgba(#000, .8);
          text-transform: uppercase;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            position: absolute;
            top: 1rem;
            right: 0;
            bottom: 1rem;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            color: white;
            overflow: inherit;
            font-size: 3.25rem;
            font-weight: 600;
            line-height: 1;
            text-overflow: initial;
            letter-spacing: .25rem;
          }

          .model-property-value {
            &.model-property-objectLabel {
              white-space: normal;
            }
          }
        }
      }
      .card-action {
        display: none;
        border-color: transparent;
      }
    }
  }
  .view-wrapper {
    .model-property-value {
      &.model-property-objectLabel {
        font-size: 2.8rem;
        color: $primary-color;
        white-space: normal;
      }
      &.model-property-startDate {
        padding: .75rem 10px;
        border-top: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey;
        margin-bottom: 10px;
        .property-label {
          .material-icons {
            background-color: #d3d3d3;
            border-radius: 50%;
            padding: 5px;
            & + span {
              color: $accent-color;
              position: relative;
              top: -5px;
            }
          }
        }
        .property-value {
          position: relative;
          top: -5px;
        }
      }
      &.model-property-imageSrc {
        overflow: visible;
        //width: 250px;
        //height: 250px;
        margin-left: auto;
        margin-right: auto;
        .image-tag {
          @extend .z-depth-1;
          margin: 0 .5rem;
          max-width: calc(100% - 1rem);
          //height: 250px;
          box-shadow: none;
        }
      }
      &.model-property-courseObjectives {
        .property-label {
          font-size: 1.64rem;
        }
      }
      &.model-property-courseGeneralObjectives {
        .property-label {
          font-size: 1.64rem;
        }
      }
      &.model-property-promovationCertification {
        .property-label {
          float: left;
          clear: left;
        }
        .property-value {
          float: left;
          clear: left;
        }
      }
      &.model-property-participationCertificate {
        .property-label {
          float: left;
          clear: left;
        }
        .property-value {
          float: left;
          clear: left;
        }
      }
      &.model-property-rating {
        .rating-star-element {
          &:hover {
            color: $third-color-dark;
          }
        }
      }
    }

  }
  .model-property-rating {
    float: right;
    .rating-stars .material-icons {
      color: $accent-color;
    }
  }

  .view-nav {
    &-left {
      text-align: center;
    }
    .nav-action {
      bottom: -1.75rem;
    }
  }

  &.model-view {
    padding-top: 2.5rem;
    .model-property-courseDescription {
      .material-icons.small {
        font-size: .75rem;
      }
    }
    .model-property-courseObjectives, .model-property-courseGeneralObjectives {
      margin-top: 1rem;
      padding: 1rem;
      background-color: lighten($brand-color, 40%);
      td {
        padding: 5px;
        vertical-align: top;
        width: 50%;
      }
      ul {
        margin: 0;
        > li {
          line-height: 2.25rem;
          margin: 1.5rem 0;
          p {
            margin: 0;
            .material-icons {
              vertical-align: middle;
              color: $accent-color;
            }
          }
        }
      }
    }
  }
}

.model-course {

  html.materialize {
    &.main-section {
    }
  }

  .view-nav {
    &-left {
      text-align: center;
    }
    .nav-action {
      bottom: -1.75rem;
    }
  }

  .index-wrapper {

    .card {
      position: relative;
      padding-top: 0;
      background-color: transparent;
      box-shadow: none;
      transition: none;
      .card-image {
        .image-wrapper {
          overflow: hidden;
          //width: 200px;
          //height: 200px;
          margin-left: auto;
          margin-right: auto;
          padding: 2rem;
          .image-tag {
            @extend .z-depth-1;
            //height: 200px;
            box-shadow: none;
          }
        }
      }
      .card-content {
        position: absolute;
        //min-height: 150px;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
        width: calc(100% - 4rem);
        height: 100%;
        margin: 0 2rem 0;
        padding: 0;
        .card-title {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 0;
          //padding: 24px 0;
          background-color: transparent;
          text-align: center;
          text-shadow: 0 0 .25rem rgba(#000, .8);
          text-transform: uppercase;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            position: absolute;
            top: 1rem;
            right: 0;
            bottom: 1rem;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            color: white;
            overflow: inherit;
            font-size: 3.25rem;
            font-weight: 600;
            line-height: 1;
            text-overflow: initial;
            letter-spacing: .25rem;
          }

          .model-property-value {
            &.model-property-objectLabel {
              white-space: normal;
            }
          }
        }
      }
      .card-action {
        display: none;
        border-color: transparent;
      }
    }

    .collection-header {
      margin-top: 1.25rem;
      margin-left: 2.95rem;
      padding-left: 7rem;
      font-size: .75rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .collection {
      border: none;

      .collection-item {
        position: relative;
        height: 7rem;
        margin-left: 3.75rem;
        margin-bottom: 1.5rem;
        padding: .5rem 1rem .5rem 7rem;
        min-height: inherit;
        border-radius: 3.75rem;
        border: 1px solid $backgound-color;

        .image-wrapper {
          position: absolute;
          left: -3.75rem;
          .model-property-imageSrc {
            overflow: inherit;
            .image-tag {
              position: relative;
              top: calc(-.5rem - 1px);
              height: calc(7rem);
            }
          }
        }

        > .row {
          display: flex;
          height: 100%;
        }

        .title {
          display: flex;
          align-items: center;
          justify-content: left;
          a {
            text-transform: uppercase;
          }
        }

        .properties-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          > div {
            width: 50%;
            text-align: center;
          }
        }

        .actions-wrapper {
          vertical-align: middle;
        }

      }
    }
  }

  .view-wrapper {
    &.model-course {
      padding-top: 2.5rem;
    }
    .model-property-value {

      &.model-property-objectLabel {
        font-size: 2.8rem;
        color: $primary-color;
        white-space: normal;
      }

      &.model-property-imageSrc {
        overflow: visible;
        //width: 250px;
        //height: 250px;
        margin-left: auto;
        margin-right: auto;
        .image-tag {
          @extend .z-depth-1;
          margin: 0 .5rem;
          max-width: calc(100% - 1rem);
          //height: 250px;
          box-shadow: none;
        }
      }

    }
  }
  .model-property-rating {
    float: right;
    .rating-stars .material-icons {
      color: $accent-color;
    }
  }

  .model-property-objectLabel {
    font-weight: 300;
  }

  .model-property-plannedCourses {
    .carousel {
      $pointerWidth: 6rem;
      $pointerHeight: $pointerWidth/4;
      $radius: .25rem;

      padding: 1rem $pointerHeight;
      background-color: $backgound-color;
      border: 2px solid darken($backgound-color, 40%);
      border-width: 1px 2px 4px;
      border-radius: $radius;
      z-index: 0;
      &:after {
        position: absolute;
        right: 0;
        bottom: -4px;
        left: calc(50% - #{$pointerWidth});
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $pointerWidth $pointerHeight*2 $pointerWidth;
        border-color: transparent transparent white transparent;
        background-color: transparent;
        content: ' ';
        z-index: 1;
      }
      .model-property-startDate,
      .model-property-endDate {
        padding: .5rem;
        border: 2px solid darken($backgound-color, 40%);
        border-width: 4px 2px 1px;
        border-radius: $radius;
      }
      .model-property-status {
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 600;
        color: darkgreen;
      }
    }
  }
  .model-property-sessionStudents {
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    background-color: lighten($brand-color, 40%);
    text-align: center;
    text-overflow: unset !important;
    white-space: unset !important;
    .property-label {
      font-size: 1.64rem;
    }
    ul.property-value.collection {
      margin: 1rem 0;
      background-color: transparent !important;
      border: none;
    }
    .model-aelUser {
      position: relative;
      width: 8rem;
      height: 8rem;
      margin: 3rem .8rem .8rem;
      padding: 0;
      //background-color: transparent;
      border-radius: 50%;
      span {
        position: relative;
        display: block;
      }
      .user-avatar {
        padding: 0;
      }
      .user-icon {
        top: -1rem;
        margin-top: -1rem;
        html.materialize &:before {
          width: 4rem;
          height: 4rem;
          margin: 0;
          line-height: 4rem;
          background-color: $accent-color;
        }
      }
      .user-name {
        padding: 0 1.25rem;
      }
    }
  }

}

.btn {
  border-radius: 17px;
}

/* bs rewrites */
html.materialize {
  body {
    background-color: white;
  }
  .main-section {
    top: 64px;
  }
  .index-header {
    color: darken($brand-color, 20%);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }
  .view-nav {
    position: relative;
    height: 3.75rem;
    margin: 0;
    padding: 1rem 0;
    background-color: $backgound-color;
    overflow: inherit;
    .nav-action {
      position: relative;
    }
  }
  .index-view-type-options-tabs {
    height: 3.5rem;
    padding-top: .5rem;
    background-color: $backgound-color;
    .tabs {
      background-color: $backgound-color;
    }
  }

  .collection-item.avatar:not(.circle-clipper) > .image-wrapper .image-tag,
  .collection-item.avatar :not(.circle-clipper) > .image-wrapper .image-tag {
    width: 7.5rem;
    height: auto;
    border-radius: 0;
  }

}

.newton {
  &.accent-1 {
    background-color: $button-color !important;
  }
}

